﻿@model ecommerce.Models.Frontend.FrontUserEnd.ShippingAddress


@{
    ViewBag.Title = "ManageAddress";
    Layout = "~/Views/Shared/_FrontMaster.cshtml";
}

<div class="col-sm-12">
    @Html.TextBoxFor(p => p.FirstName, new { @placeholder = "first name" })
    @Html.TextBoxFor(p => p.LastName, new { @placeholder = "last name" })
    @Html.TextBoxFor(p => p.EmailId, new { @placeholder = "email" })
    @Html.TextBoxFor(p => p.MobileNo, new { @placeholder = "mobile number", @onkeypress = "return OnlyNumberKey(event);" })
    @Html.TextBoxFor(p => p.Address, new { @placeholder = "address" })
    @Html.DropDownListFor(m => m.StateId, Model.StateList, "Select State")
    @Html.TextBoxFor(p => p.PinCode, new { @placeholder = "pincode", max = "6", @onkeypress = "return OnlyNumberKey(event);" })
    @Html.TextBoxFor(p => p.Landmark, new { @placeholder = "landmark" })
    @Html.TextBoxFor(p => p.AlternateMobileNo, new { @placeholder = "alternet mobile number", @onkeypress = "return OnlyNumberKey(event);" })
    Home:  @Html.RadioButtonFor(m => m.AddressType, "Home", new { @checked = true })
    Office:  @Html.RadioButtonFor(m => m.AddressType, "Office")
    IsDefault:   @Html.CheckBoxFor(m => m.IsDefault)
</div>

<input id="btnShippingAddress" name="btnShippingAddress" type="button" value="Submit" />

<script src="~/Content/FrontEnd/js/UserProfileSection.js"></script>