﻿@model ecommerce.Models.Frontend.FrontUserEnd.OrderDetail
@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Shared/_NewFrontMaster.cshtml";
}
<style>
    .destilslist {
        border: 1px solid #ccc;
        padding: 6px;
        box-shadow: 0px 0px 3px #ccc;
        border-radius: 4px;
        cursor: pointer;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul class="breadcrumb" style="width: 103%;margin-left: -16px;">
                <li><a href="/"><i class="fa fa-home"></i></a></li>
                <li><a href="/UserProfile/UserProfile">MyAccount</a></li>
                <li><a href="/UserProfile/OrderList">MyOrder</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        @if (Model.OrderList != null)
        {
            //int count = 0;
            foreach (var item in Model.OrderList)
            {
                <div class="col-sm-12 destilslist form-group">
                    <a href="/UserProfile/OrderDetails?productid=@item.Productid" title="Details">
                        <div class="col-sm-3">
                            <img src="@item.ProductImgUrl" class="img-responsive" style="width: 138px;height: 100px;" />
                        </div>
                        <div class="col-sm-3">
                            <p style="margin-top: 10px;">@item.ProductName (@item.ProductCode)</p>
                            <p>Unit : <span>@item.Unit</span></p>
                            <p>Seller : <span >@item.SupplierName</span></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="margin-top: 37px;font-size: 16px;">Price : ₹<span>@item.GrandTotal</span></p>
                        </div>
                        <div class="col-sm-3">
                            <p class="text-center text-success" style="margin-top: 38px;">Status : <span>@item.DeliverStatus</span></p>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>