﻿@model ecommerce.Models.Frontend.FrontUserEnd.OrderDetail
@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_NewFrontMaster.cshtml";
}
<style>
    .boxdetails {
        border: 1px solid #ccc;
        padding: 4px;
        border-radius: 4px;
        box-shadow: 0px 0px 3px #ccc;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ul class="breadcrumb" style="width: 103%;margin-left: -16px;">
                <li><a href="/"><i class="fa fa-home"></i></a></li>
                <li><a href="/UserProfile/UserProfile">MyAccount</a></li>
                <li><a href="/UserProfile/OrderList">MyOrder</a></li>
                <li><a href="#">@Model.OederNo</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 boxdetails">
            <div class="col-sm-12" style="border-bottom:1px solid #ccc;padding:5px;">
                <div class="col-sm-3">
                    <img src="@Model.ProductImgUrl" class="img-responsive" style="height: 200px;" />
                </div>
                <div class="col-sm-6">
                    <h3 class="text-success" style="margin-top: 8px;">Order Discription</h3>
                    <p style="margin-top: 10px;">@Model.ProductName (100021)</p>
                    <p>Unit :<span>@Model.Unit</span></p>
                    <p>Seller :<span>@Model.SupplierName</span></p>
                    <p>Price: ₹<span>@Model.GrandTotal</span></p>
                    <p>Delivery Charges :@Model.DeliverCharges</p>
                </div>
                <div class="col-sm-3">
                    <p style="margin-top: 81px;font-size: 18px;">Status: <span class="text-success">@Model.DeliverStatus</span></p>
                </div>
            </div>
            <div class="col-sm-12" style="border-bottom:1px solid #ccc;padding:5px;">
                <h3 class="text-success" style="margin-top: 8px;">Delivery Address</h3>
                <p>@Model.UserName</p>
                <p>@Model.UserAddress,@Model.Landmark,@Model.City,@Model.State,@Model.pincode</p>
                <p>Phone No</p>
                <p>@Model.UserMobile</p>
            </div>
            <div class="col-sm-12">
                <h3 class="text-success" style="margin-top: 8px;">More actions</h3>
                <div class="col-sm-6">
                    <button class="btn btn-warning"><span class="fa fa-download"></span> Download Invoice</button>
                </div>
                <div class="col-sm-6">
                    <h3 class="text-success" style="margin-top: 3px;">Payment Mode : Cash On Delivery</h3>
                </div>
            </div>
        </div>
    </div>
</div>