﻿@model ecommerce.Models.Frontend.CheckoutModel.Checkout
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_NewFrontMaster.cshtml";
}
<style>
    .dropdowntogle {
        position: relative;
        display: inline-block;
    }

    .dropdowntogle-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        min-width: 98px;
        box-shadow: 0px 8px 6px 0px rgba(0, 0, 0, 0.22);
        z-index: 1;
        right: 6px;
        top: 1px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

        .dropdowntogle-content a {
            color: #a2a2a2;
            padding: 8px 9px;
            text-decoration: none;
            display: block;
            text-align: center;
            font-size: 17px;
        }

            .dropdowntogle-content a:hover {
                background-color: #fff;
                color:green;
            }

    .dropdowntogle:hover .dropdowntogle-content {
        display: block;
    }


    .addnewAddbtn {
        margin-top: -5px;
        border: 1px solid #ccc;
        background: #fff;
        width: 103%;
        padding: 14px;
        text-align: left;
        font-size: 15px;
        color: #6f0063;
        margin-left: -13px;
        border-radius: 3px
    }

    .listmenu {
        color: #948f8f;
        font-size: 20px;
        margin-right: 6px;
        margin-top: 3px;
        cursor: pointer;
    }

    .addresstype {
        text-transform: uppercase;
        font-size: 11px;
        color: #878787;
        vertical-align: middle;
        padding: 4px 7px;
        border-radius: 2px;
        background-color: #f0f0f0;
    }

    .boxUser {
        padding: 10px;
        border: 1px solid #ccc;
        margin-top: 12px;
        margin-left: 6px;
    }

    .menufont {
        font-size: 19px;
    }

    .Inforfont {
        font-size: 21px;
    }

    .boxcontaint {
        border: 1px solid #ccc;
        width: 98%;
        margin-left: 15px;
        margin-top: 14px;
    }

    .adressbox {
        border: 1px solid #ccc;
        padding: 5px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-12 boxUser">
                    <div class="col-sm-3">
                        <img src="~/Content/image/user.png" class="img-circle img-responsive" style="width:60px;" />
                    </div>
                    <div class="col-sm-9">
                        <p style="margin-top: 5px;">Hello</p>
                        <p>Saurabh Suman</p>
                    </div>
                </div>
                <div class="col-sm-12 boxUser">
                    <div class="col-sm-12" style="border-bottom: 1px solid #ccc;padding: 10px;">
                        <a class="menufont" href="/UserProfile/OrderList"><span class="fa fa-address-book-o menufont"></span>&nbsp;My Order <span class="fa fa-angle-right pull-right menufont"></span></a>
                    </div>
                    <div class="col-sm-12" style="border-bottom: 1px solid #ccc;padding: 10px;">
                        <a class="menufont profileinfor" style="cursor:pointer"><span class="fa fa-user menufont"></span>&nbsp; Profile Information <span class="fa fa-angle-right pull-right menufont"></span></a>
                    </div>
                    <div class="col-sm-12" style="border-bottom: 1px solid #ccc;padding: 10px;">
                        <a class="menufont mangaeadd" style="cursor:pointer"><span class="fa fa-address-card-o  menufont"></span>&nbsp; Manage address <span class="fa fa-angle-right pull-right menufont"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12 prflinfo boxcontaint">
                    <h4 class="text-center Inforfont text-success">Profile Information</h4>
                    <div class="col-sm-12 updateinfo">
                        <button class="btn btn-warning pull-right chngebtn"><span class="fa fa-edit"></span> Change</button>
                    </div>
                    <div class="col-sm-12 updateinfo">
                        <p class="Inforfont">Name: <span>@Model.ShippingAddress.FirstName&nbsp;@Model.ShippingAddress.LastName</span></p>
                        <p class="Inforfont">Email Id: <span>@Model.ShippingAddress.EmailId</span></p>
                        <p class="Inforfont">Mobile No: <span>@Model.ShippingAddress.MobileNo</span></p>
                    </div>
                    <div class="col-sm-12 boxinfo hidden">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>First Name</p>
                                <input type="text" id="fname" class="form-control" placeholder="Enter First Name" />
                            </div>
                            <div class="col-sm-6">
                                <p>Last Name</p>
                                <input type="text" id="lname" class="form-control" placeholder="Enter last Name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Email</p>
                                <input type="text" id="email" class="form-control" placeholder="Enter Email" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Mobile</p>
                                <input type="text" id="phone" class="form-control" placeholder="Enter mobile" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <p>&nbsp;</p>
                                <button class="btn btn-success center-block updatechange">Change</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 boxcontaint mAddrs hidden">
                    <h4 class="text-center Inforfont text-success">Manage Address </h4>
                    <div class="col-sm-12 form-group">
                        <button class="addnewAddbtn changeadd" id="changeaddress" style="margin-top: -5px;"><span class="fa fa-plus"></span> ADD A NEW ADDRESS</button>
                    </div>
                    <div class="col-sm-12 oldaddress">
                        <div class="row oldadd">
                        </div>
                    </div>
                    <div class="col-sm-12 newaddchange hidden">
                        <div class="row form-group">
                            <div class="col-sm-6 form-validation">
                                <p>First Name <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                @Html.TextBoxFor(p => p.ShippingAddress.FirstName, new { @class = "form-control", placeholder = "first name" })
                            </div>
                            <div class="col-sm-6 form-validation">
                                <p>Last Name <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                @Html.TextBoxFor(p => p.ShippingAddress.LastName, new { @class = "form-control", placeholder = "last name" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6 form-validation">
                                <p>Email Id <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                @Html.TextBoxFor(p => p.ShippingAddress.EmailId, new { @class = "form-control", placeholder = "email id" })
                            </div>
                            <div class="col-sm-6 form-validation">
                                <p>Moblie <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                @Html.TextBoxFor(p => p.ShippingAddress.MobileNo, new { @class = "form-control", placeholder = "mobile number", @onkeypress = "return OnlyNumberKey(event);" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6 form-validation">
                                <p>Address <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                @Html.TextAreaFor(p => p.ShippingAddress.Address, new { @class = "form-control", rows = "3", placeholder = "address" })
                            </div>
                            <div class="col-sm-6 form-validation">
                                <p>City/District/Town <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                @Html.TextBoxFor(p => p.ShippingAddress.City, new { @class = "form-control", placeholder = "city" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6 form-validation">
                                <p>State <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                @Html.DropDownListFor(m => m.ShippingAddress.StateId, Model.ShippingAddress.StateList, "Select State", new { @class = "form-control" })
                            </div>
                            <div class="col-sm-6 form-validation">
                                <p>Pincode <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                @Html.TextBoxFor(p => p.ShippingAddress.PinCode, new { @class = "form-control", placeholder = "pin code" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <p>Landmark</p>
                                @Html.TextBoxFor(p => p.ShippingAddress.Landmark, new { @class = "form-control", placeholder = "landmark" })
                            </div>
                            <div class="col-sm-6">
                                <p>Alternate Mobile</p>
                                @Html.TextBoxFor(p => p.ShippingAddress.AlternateMobileNo, new { @class = "form-control", placeholder = "alternet mobile" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <p>Address Type</p>
                                Home:  @Html.RadioButtonFor(m => m.ShippingAddress.AddressType, "Home", new { @checked = true })
                                Office:  @Html.RadioButtonFor(m => m.ShippingAddress.AddressType, "Office")
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <button class="btn btn-warning" id="btnCheckoutAddAddress">SAVE AND DELIVER HERE</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-danger cancel pull-right" id="btnCheckoutCancelAddress">CANCEL</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer
{
    <script src="~/Content/NewfrontEnd/js/frontuserprofile.js"></script>
}


