﻿@model ecommerce.Models.Backend.AboutUsModel
@{
    ViewBag.Title = "AddEditAboutus";
    Layout = "~/Views/Shared/_BackendLayoutPage.cshtml";
}

@section header{
    <link href="~/Content/Common/css/commoncss.css" rel="stylesheet" />
}

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-list"></i>&nbsp;Add / Edit AboutUs Detials</h2>
                </div>
                <div class="col-sm-6">
                    <div class="text-right">
                        <a href="/cms-master/aboutus-details" class="btn btn-primary btn-sm"><span class="fa fa-reply" style="color:#fff!important;"></span>&nbsp;AboutUs Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div> <br />
        @using (Html.BeginForm())
        {
            <div class="x_content">
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 pull-left">
                        Heading <span class="required">*</span>
                    </label>
                    <div class="col-md-9 col-sm-9 form-validation">
                        @Html.EditorFor(model => model.Heading, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    </div>
                </div>
                <div class="item form-group">
                    <label class="col-form-label col-md-3 col-sm-3 pull-left">
                        Content <span class="required">*</span>
                    </label>
                    <div class="col-md-9 col-sm-9 form-validation">                        
                        @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control summernote", @required = "required" } })
                    </div>
                </div>
                <div class="item form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success maincss pull-right" onclick="return CheckForm()">Submit</button>
                        <span class="btn btn-success pull-right hidden tempcss">Please Wait..<i class="fa fa-spinner fa-spin"></i></span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section footer{
    <script src="~/Content/Common/js/common.js"></script>
    <script>
        $(".note-popover").addClass("hidden");
    </script>
    <script>
        function CheckForm() {           
            if (CheckBlankValidation("Heading")) return !1;    
            if (CheckBlankValidation("Content")) return !1;
            $('.maincss').addClass('hidden');
            $('.tempcss').removeClass('hidden');
        }
    </script>
}

