﻿@model ecommerce.Models.Backend.PrivicyPolicyModel
@{
    ViewBag.Title = "PrivicyDetails";
    Layout = "~/Views/Shared/_BackendLayoutPage.cshtml";
}


<div class="col-md-12 col-sm-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-list"></i>&nbsp;PrivacyPolicy Details</h2>
                </div>
                <div class="col-md-12">
                    @if (TempData["Msg"] != null)
                    {
                        <div class="alert alert-success" id="closeMessage">

                            <span>@TempData["Msg"]</span>
                        </div>
                    }

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    @if (Model.Privicylist != null)
                    {
                        foreach (var item in Model.Privicylist)
                        {
                            <div class="col-sm-6">
                                <h4 class="text-success">@item.Heading</h4>
                            </div>
                            <div class="col-sm-6">
                                <a href="/cms-master/add-edit-privacy-policy?privicyid=@item.privicyid" class="btn btn-dark btn-sm pull-right" data-toggle="Edit" title="Edit"><span class="glyphicon glyphicon-edit"></span> Update</a>
                            </div>
                            <div class="col-sm-12">
                                <p>@Html.Raw(item.Content)</p>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
