﻿@model ecommerce.Models.Backend.BasicMaster.CategoryModel
@{
    ViewBag.Title = "AddEditCategory";
    Layout = "~/Views/Shared/_BackendLayoutPage.cshtml";
}
@section header{
    <link href="~/Content/Common/css/commoncss.css" rel="stylesheet" />
}

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Add / Edit Category</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="close-link" href="/basic-master/category-list"><i class="fa fa-reply"></i>&nbsp;Category List</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <input type="hidden" id="hdnCategoryId" value="@Model.CategoryId" />
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                    Menu Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 form-validation">
                    @Html.DropDownListFor(m => m.Menu, Model.MenuList, "-- Select Menu --", new { @class = "form-control " })
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                    Category Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 form-validation">
                    @Html.TextBoxFor(p => p.CategoryName, new { @class = "form-control", placeholder = "Enter category name" })
                </div>
            </div>          
            <div class="item form-group">
                <div class="col-md-6 col-sm-6 offset-md-3">
                    <button type="submit" id="btnCategorySubmit" class="btn btn-success pull-right" onclick="CategorySubmitEvt();">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer{
    <script src="~/Content/BackEnd_Section/ControlJs/basicmaster.js"></script>
}


