﻿@model ecommerce.Models.Backend.BasicMaster.MenuModel

@{
    ViewBag.Title = "AddEditMenu";
    Layout = "~/Views/Shared/_BackendLayoutPage.cshtml";
}

@section header{
    <link href="~/Content/Common/css/commoncss.css" rel="stylesheet" />
}

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Add / Edit Menu</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="close-link" href="/basic-master/menu-list"><i class="fa fa-reply"></i>&nbsp;Menu List</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <input type="hidden" id="hdnmeunId" value="@Model.Menuid" />
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                    Menu Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 form-validation">
                    @Html.TextBoxFor(p => p.MenuName, new { @class = "form-control", placeholder = "Enter Menu name" })
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                    Image <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 form-validation">
                    <div class="row">
                        <div class="col-sm-1">
                            <input type="hidden" id="hdnImage" value="@Model.Image" />
                            <a href="@Model.Image" target="_blank">
                                <img src="@(!string.IsNullOrEmpty(Model.Image) ? Model.Image : "/Content/image/blank-images.png")" style="width:40px;border-radius:30px;" />
                            </a>
                        </div>
                        <div class="col-sm-11"><input type="file" class="form-control" id="txtMenuImage" name="txtMenuImage" style="padding: 4px 0px 0px 6px;height: 40px;" /></div>
                    </div>
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                    Is Featured <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 form-validation">
                    @Html.DropDownListFor(model => model.IsFeatured, new SelectList(new List<Object>{
                                    new { value = "false" , text = "No" },
                                    new { value = "true" , text = "Yes"}
                                 }, "value", "text"), new { @class = "form-control" })
                </div>
            </div>
            <div class="item form-group">
                <div class="col-md-6 col-sm-6 offset-md-3">
                    <button type="submit" id="btnSubmit" class="btn btn-success pull-right" onclick="MenuSubmitEvt();">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer{
    <script src="~/Content/BackEnd_Section/ControlJs/basicmaster.js"></script>
}
