﻿@model ecommerce.Models.Backend.BasicMaster.UnitModel

@{
    ViewBag.Title = "AddEditUnit";
    Layout = "~/Views/Shared/_BackendLayoutPage.cshtml";
}

@section header{
    <link href="~/Content/Common/css/commoncss.css" rel="stylesheet" />
}

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Add / Edit Unit</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="close-link" href="/basic-master/Unit-list"><i class="fa fa-reply"></i>&nbsp;Unit List</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <input type="hidden" id="hdnunitId" value="@Model.UnitId" />
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                    Unit Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 form-validation">
                    @Html.TextBoxFor(p => p.UnitName, new { @class = "form-control", placeholder = "Enter Unit name" })
                </div>
            </div>
            <div class="item form-group">
                <div class="col-md-6 col-sm-6 offset-md-3">
                    <button type="submit" id="btnSubmit" class="btn btn-success pull-right" onclick="UnitSubmitEvt();">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer{
    <script src="~/Content/BackEnd_Section/ControlJs/basicmaster.js"></script>
    <script src="~/Content/Common/js/common.js"></script>
}
