﻿
@{
    ViewBag.Title = "AddEditSubCategory";
    Layout = "~/Views/Shared/_BackendLayoutPage.cshtml";
}

@section header{
    <link href="~/Content/Common/css/commoncss.css" rel="stylesheet" />
}

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-list"></i>&nbsp;Add / Edit Sub Category List</h2>
                </div>
                <div class="col-sm-6">
                    <div class="text-right">
                        <a href="/basic-master/sub-category-list" class="btn btn-primary btn-sm"><span class="fa fa-reply" style="color:#fff!important;"></span>&nbsp;Sub Category List</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div> <br />
        <div class="x_content">
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                    Menu Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 form-validation">
                    <select id="ddlSubCatMenuName" class="form-control">
                        <option value="0">Select Menu</option>
                    </select>
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                    Category Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 form-validation">
                    <select id="ddlSubCatCategoryName" class="form-control">
                        <option value="0">Select Category</option>
                    </select>
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                    Sub Category Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 form-validation">
                    <input type="text" id="txtSubCategoryName" name="txtSubCategoryName" class="form-control" />
                </div>
            </div>
            @*<div class="ln_solid"></div>*@
            <div class="item form-group">
                <div class="col-md-6 col-sm-6 offset-md-3">
                    <button type="submit" class="btn btn-success pull-right" id="btnSubCatSubmit" onclick="SubCatSubmitEvt();">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section footer{
    <script src="~/Content/BackEnd_Section/ControlJs/basicmaster.js"></script>
    <script src="~/Content/Common/js/common.js"></script>
}