﻿@model ecommerce.Models.Backend.BasicMaster.CategoryModel
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Shared/_BackendLayoutPage.cshtml";
}

<div class="col-md-12 col-sm-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-list"></i>&nbsp; Category List</h2>
                </div>
                <div class="col-sm-6">
                    <div class="text-right">
                        <a href="/basic-master/add-edit-category" class="btn btn-primary btn-sm"><span class="fa fa-plus-circle" style="color:#fff!important;"></span>&nbsp;Add New Category</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
          
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        @if (Model.CategoryList != null)
                        {
                            <div class="row input-group col-sm-4">
                                <input type="text" class="form-control" id="txtCategorySearch" placeholder="Search by Category name" />
                            </div>
                        }
                        <div class="clearfix"></div>
                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr style="background:#f6f6f6;">
                                    @*<th style="width:50px;">Sr.No.</th>*@
                                    <th>Category&nbsp;Name</th>
                                    <th>Menu&nbsp;Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.CategoryList != null)
                                {
                                    //int count = 0;
                                    foreach (var item in Model.CategoryList)
                                    {
                                        <tr class="categorylistcss" data-categoryname="@item.CategoryName">
                                            @*<td style="text-align: center;">@(count = count + 1)</td>*@
                                            <td>@item.CategoryName</td>
                                            <td>@item.MenuName</td>
                                            <td>@(item.Status == true ? "Active" : "InActive")</td>
                                            <td>
                                                <a href="/basic-master/add-edit-category?categoryid=@item.CategoryId" class="btn btn-success btn-sm" data-toggle="Edit" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                                <span id="deletecategory_@item.CategoryId" style="cursor: pointer;" data-categoryid="@item.CategoryId" class="btn btn-danger btn-sm deletecategory" data-toggle="InActive" title="InActive"><span class="fa fa-trash"></span></span>
                                            </td>
                                        </tr>
                                    }
                                    <tr class="norecordfound hidden">
                                        <td colspan="5" class="text-center text-danger">No record found !</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5" class="text-center text-danger">No record found !</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="custommodal">
    <button type="button" class="btn btn-info btn-lg dodelete hidden" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#DeleteModel"></button>
</div>

@section footer{
    <script src="~/Content/BackEnd_Section/ControlJs/basicmaster.js"></script>
}