﻿@model ecommerce.Models.Backend.BasicMaster.SubCategoryModel

@{
    ViewBag.Title = "SubCategoryList";
    Layout = "~/Views/Shared/_BackendLayoutPage.cshtml";
}

<div class="col-md-12 col-sm-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-list"></i>&nbsp; Sub Category List</h2>
                </div>
                <div class="col-sm-6">
                    <div class="text-right">
                        <a href="/basic-master/add-edit-sub-category" class="btn btn-primary btn-sm"><span class="fa fa-plus-circle" style="color:#fff!important;"></span>&nbsp;Add New Sub Category</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        @if (Model.SubCategoryList != null && Model.SubCategoryList.Count > 0)
                        {
                            <div class="row input-group col-sm-4">
                                <input type="text" class="form-control" id="txtSubCategorySearch" placeholder="Search by Sub Category name">
                            </div>
                        }
                        <div class="clearfix"></div>
                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                            <thead>
                                <tr style="background:#f6f6f6;">
                                    <th>Sub&nbsp;Category&nbsp;Name</th>
                                    <th>Menu&nbsp;Name</th>
                                    <th>Category&nbsp;Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.SubCategoryList != null && Model.SubCategoryList.Count > 0)
                                {
                                    foreach (var item in Model.SubCategoryList)
                                    {
                                        <tr class="subcategorylistcss" data-subcategoryname="@item.SubCategoryName">
                                            <td>@item.SubCategoryName</td>
                                            <td>@item.MenuName</td>
                                            <td>@item.CategoryName</td>
                                            <td>@(item.Status == true ? "Active" : "InActive")</td>
                                            <td>
                                                <a href="/basic-master/add-edit-sub-category?subcategoryid=@item.SubCategoryId" class="btn btn-success btn-sm" data-toggle="Edit" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                                <span id="deletesubcategory_6" style="cursor: pointer;" data-subcategoryid="@item.SubCategoryId" class="btn btn-danger btn-sm deletesubcategory"><span class="fa fa-trash"></span></span>
                                            </td>
                                        </tr>
                                    }
                                    <tr class="norecordfound hidden">
                                        <td colspan="5" class="text-center text-danger">No record found !</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="4" class="text-center text-danger">No record found !</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
