﻿@model ecommerce.Models.Frontend.ReviewModel

@{
    ViewBag.Title = "Review List";
    Layout = "~/Views/Shared/_BackendLayoutPage.cshtml";
}

<div class="col-md-12 col-sm-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-list"></i>&nbsp;Review List</h2>
                </div>
                @*<div class="col-sm-6">
                        <div class="text-right">
                            <a href="/area-master/add-edit-country" class="btn btn-primary btn-sm"><span class="fa fa-plus-circle" style="color:#fff!important;"></span>&nbsp;Add New Country</a>
                        </div>
                    </div>*@
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        @*<div class="row input-group col-sm-4">
                                <input type="text" class="form-control" id="txtReviewSearch" placeholder="Search by review ">
                            </div>*@
                        <div class="clearfix"></div>
                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr style="background:#f6f6f6;">
                                    <th>Product&nbsp;Name</th>
                                    <th>User&nbsp;Name</th>
                                    <th>EmailId</th>
                                    <th>Review</th>
                                    <th>Rating</th>
                                    <th>Position</th>
                                    <th>IsApproved</th>
                                    <th>Status</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.ReviewList != null && Model.ReviewList.Count > 0)
                                {
                                    foreach (var item in Model.ReviewList)
                                    {
                                        <tr class="reviewlistcss" data-reviewid="India">
                                            <td>@item.ProductName</td>
                                            <td>@item.UserName</td>
                                            <td>@item.EmailId</td>
                                            <td>@item.ReviewContent</td>
                                            <td>
                                                @if (item.Rating == "1")
                                                {
                                                    <i class="fa fa-star" style="color: #ff6795;"></i>
                                                }
                                                else if (item.Rating == "2")
                                                {
                                                    <i class="fa fa-star" style="color: #ff6795;"></i> <i class="fa fa-star" style="color: #ff6795;"></i>
                                                }
                                                else if (item.Rating == "3")
                                                {
                                                    <i class="fa fa-star" style="color: #ff6795;"></i>
                                                    <i class="fa fa-star" style="color: #ff6795;"></i>
                                                    <i class="fa fa-star" style="color: #ff6795;"></i>
                                                }
                                                else if (item.Rating == "4")
                                                {
                                                    <i class="fa fa-star" style="color: #ff6795;"></i>
                                                    <i class="fa fa-star" style="color: #ff6795;"></i>
                                                    <i class="fa fa-star" style="color: #ff6795;"></i>
                                                    <i class="fa fa-star" style="color: #ff6795;"></i>
                                                }
                                                else if (item.Rating == "5")
                                                {
                                                    <i class="fa fa-star" style="color: #ff6795;"></i>
                                                    <i class="fa fa-star" style="color: #ff6795;"></i>
                                                    <i class="fa fa-star" style="color: #ff6795;"></i>
                                                    <i class="fa fa-star" style="color: #ff6795;"></i>
                                                    <i class="fa fa-star" style="color: #ff6795;"></i>
                                                }
                                            </td>
                                            <td>
                                                <input id="txtPosition_@item.ReviewId" value="@item.Position" type="text" style="width:50px;" onkeypress="return OnlyNumberKey(event);" />
                                                @*<input type="button"  value="Set" />*@
                                                <button data-reviewid="@item.ReviewId" class="btn btn-sm btn-success btnSetPosition" style="padding: 0rem .5rem!important;" id="btnSetPosition_@item.ReviewId">Set</button>
                                            </td>
                                            <td>                                                                                            
                                                <select id="ddlIsApproved_@item.ReviewId" class="ddlisapproved" data-reviewid="@item.ReviewId">
                                                    <option value="no">No</option>
                                                    <option value="yes" @(item.IsApproved == true ? "selected" : "")>Yes</option>
                                                </select>
                                            </td>
                                            <td>
                                                @(item.Status == true ? "Active" : "InActive")
                                            </td>
                                            <td>@item.CreatedDate</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer
{
    <script src="~/Content/BackEnd_Section/ControlJs/Review.js"></script>
}