.post-desc {
    height: 105px;
    overflow: HIDDEN;
}

.FlagMasterBaby {
    background-image: url('../Flag/austraila.png');
}

.Option_Flag {
    width: 169px !important;
    line-height: 19px;
    margin-top: 5%;
    background-color: #f1f1f1 !important;
}

.Discription_Img {
    height: 87px;
    padding-bottom: 5px;
}

.RatingPage {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
    padding: 14px 14px 0px 14px;
}

.Data_Image_display {
    display: inherit;
}

.Data_Image_display2 {
    display: none;
}

.coloumfor_width {
    background-color: #f3f7f8;
    height: 550px;
}

.Review_Master_Page {
    font-size: 14px;
    margin-top: -9px;
    margin-bottom: 2px;
}

.Rview_Rating_star {
    color: #ffc800;
    font-size: 14px;
    margin-bottom: -1px !important;
}

.Review_Star_contect {
    margin-top: -9px;
    line-height: 24px;
}

.MarginBottomDetial {
    margin-bottom: 65px;
}

.Products_Height {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
    padding: 14px 14px 0px 14px;
}

.PleaseLoginMaster {
    font-size: 24px;
    margin-top: 17%;
    margin-bottom: 13%;
    font-weight: 600;
    color: #111;
}

.Products_Height22 {
    height: 200px;
}

.Login_Logo_image {
    margin-top: 95%;
    margin-bottom: 14%;
}

.Mange_font {
    font-size: 14px;
    text-align: center;
}

.Track_Fontsize {
    font-size: 13px;
    text-align: center;
    margin-bottom: 12%;
}

.width_Your {
    width: 38px;
}

.mypomart_your_size {
    margin-top: 23px;
    margin-bottom: 34px;
}

.mypomart_fontsize {
    font-size: 20px;
    font-weight: 600;
}

.forget_password_text {
    font-size: 13px;
    color: #0373c5;
    font-weight: 600;
}

.mypomart_loginbutton_color {
    width: 100% !important;
    margin-top: 11%;
    background-color: #ff9201 !important;
    color: white !important;
    border: 1px solid;
}

    .mypomart_loginbutton_color:hover {
        width: 100% !important;
        margin-top: 11%;
        background-color: #ff9201 !important;
        color: white !important;
        border: 1px solid;
    }
.active2 {
    background: #ff3366 !important;
    color: #ffffff !important;
}
.categorysize {
    padding: 6px;
    font-size: 18px;
}
.mypomart_sinup {
    /*margin-top: 5%;*/
    color: #fff;
    padding: 5px;
    background: #6f0063;
    border: 1px solid #6f0063;
    border-radius: 4px;
}
    .mypomart_sinup:hover {
        background: #6f0063;
        color: #fff;
    }
.boxdesign {
    margin-top: -16px;
    border-bottom: 1px dashed #f36;
    padding: 4px;
}
.My_cart_back {
    background-color: #0094ff0d;
    margin-top: -44px;
    padding: 50px;
    margin-bottom: -22px;
}

.Shipping_back {
    background-color: #ff9201 !important;
    padding: 18px 0px 37px 0px;
}

.OrderSummary {
    background-color: #b5b1b1 !important;
    padding: 17px !important;
    margin-bottom: 0px !important;
    font-weight: 600;
}

.Button_Baclgrouncolors {
    background-color: #ff9201;
    color: white;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    height: 43px;
    line-height: 23px;
    border-radius: 2px;
}

.Button_Baclgrouncolors2 {
    background-color: #fb641b;
    color: black;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    height: 43px;
    line-height: 23px;
    border-radius: 2px;
}

.Addres_back {
    font-size: 19px;
    font-weight: 600;
    color: black;
}

    .Addres_back:hover {
        font-size: 19px;
        font-weight: 600;
        color: black;
    }

.Register_Backgroundcolor_Cart {
    background-color: #ff9201 !important;
    padding: 17px !important;
}

.cd-top.cd-is-visible {
    opacity: 0.9;
    -webkit-transform: scale(1) translate(0px,0px);
    -moz-transform: scale(1) translate(0px,0px);
    -o-transform: scale(1) translate(0px,0px);
    -ms-transform: scale(1) translate(0px,0px);
    transform: scale(1) translate(0px,0px);
    visibility: visible;
}

.cd-top:hover {
    background-color: rgb(17, 75, 125);
    color: #fff;
}

.Ajaxloader {
    margin-left: 30%;
    margin-top: 12%;
}

.cd-top {
    background-color: rgb(51, 122, 183);
    bottom: 0px;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 18px;
    line-height: 56px;
    position: fixed;
    opacity: 0;
    right: 0px;
    text-align: center;
    text-decoration: none;
    -webkit-transform: scale(5) translate(47px,-10px);
    -moz-transform: scale(5) translate(47px,-10px);
    -o-transform: scale(5) translate(47px,-10px);
    -ms-transform: scale(5) translate(47px,-10px);
    transform: scale(5) translate(47px,-10px);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    width: 200px;
}


.input-sm-price {
    height: 25px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    max-width: 70px;
}

.input-sm-price-quick {
    display: block;
    width: 88px;
    height: 17px;
    padding: 13px 15px;
    font-size: 15px;
    line-height: 1.428571;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
}

.vertical-menu a {
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

    .vertical-menu a:hover {
        /*background-color: #ccc;*/
    }

    .vertical-menu a.active {
        background-color: #4CAF50;
        color: white;
    }

/*End */
.divSearchRow {
    width: 100%;
}

.searchtextdivElement {
    height: 30px;
    line-height: 30px;
}

    .searchtextdivElement:hover {
        background-color: #f1f4f7;
        cursor: pointer;
    }

.searchtextdiv {
    display: block;
    position: absolute;
    background: #fff;
    color: #000;
    top: 40px;
    z-index: 10000;
    width: 82%;
    left: 2%;
    border: solid 1px #c1c1c1;
    padding: 7px;
    display: none;
}

.mag {
    width: 80%;
    margin: 0 auto;
    float: none;
}

    .mag img {
        max-width: 100%;
    }



.magnify {
    position: relative;
    cursor: none;
}

.magnify-large {
    position: absolute;
    display: none;
    width: 300px;
    height: 265px;
    -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.Slider {
    width: 100%;
    height: 250px;
}

.SliderBackSide {
    height: 250px;
    width: 100%;
}

.VegitableName {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.MinImageProductImages {
    width: 34% !important;
    margin-left: 64%;
    position: absolute;
    margin-top: -12%;
}

.ButtonQuickRegister {
    background-color: #b40f21;
    border: 1px solid red;
    padding: 14px 10px;
    font-size: 13px;
    line-height: 1.3333333;
    color: #fff;
}

.Name_Box {
    display: block;
    border-radius: 4px;
    border: 1px #ddd solid;
    background-color: #fff;
    padding: 3px 36px 36px 36px;
}

.Label_Font_weight {
    font-weight: 600;
    font-size: 13px;
}

.Margin_bottom_class {
    margin-bottom: 14px;
}

.button_color_seller {
    width: 100%;
    color: white !important;
    height: 51px;
    background-color: #ff9201 !important;
    font-size: 16px !important;
}

.seller_code {
    background: -webkit-linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
    background: linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,0.01) 3px,transparent);
    z-index: 0;
    zoom: 1;
    padding: 16px 0px 0px 0px;
}

    .seller_code :after {
        display: block;
        width: 100%;
        background-color: transparent;
        background: -webkit-linear-gradient(to right,#fff,rgba(255,255,255,0),#fff);
        background: linear-gradient(to right,#fff,rgba(255,255,255,0),#fff);
        z-index: 1;
        content: "";
    }

.QuickName {
    font-size: 26px;
    margin-top: 8%;
    margin-bottom: 3%;
    line-height: 31px;
    font-weight: 600;
    color: #111;
}

.bell_product {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
}

.star_Quick {
    color: #ffb100;
    margin-bottom: 8%;
    font-size: 18px;
    margin-top: 6%;
}

.Quick_rate {
    font-size: 23px;
    font-weight: 600;
}

.Homewish_pop {
    font-size: 26px;
    margin-bottom: 16px;
    margin-top: 2%;
}

.ShoppingCartweight {
    font-size: 30px;
    font-weight: 600;
}

.hrefcolor {
    text-decoration: underline;
    color: #0982e9;
}

.href_Back {
    width: 25% !important;
    margin-bottom: 7px;
    background-color: #ff9201 !important;
    border: 1px solid;
}

.shoppingbottom {
    font-size: 13px;
    margin-bottom: 8px;
}

.a-spacing-top-extra-large {
    margin-top: 26px !important;
}

.a-spacing-medium, .a-ws .a-ws-spacing-medium {
    margin-bottom: 18px !important;
}

.a-box .a-divider.a-divider-section .a-divider-inner, .a-color-base-background .a-divider.a-divider-section .a-divider-inner, .a-divider.a-divider-section .a-divider-inner {
    height: 44px;
    margin-bottom: -18px;
    background: -webkit-linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
    background: linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
    z-index: 0;
    zoom: 1;
}

    .a-box .a-divider.a-divider-section .a-divider-inner:after, .a-color-base-background .a-divider.a-divider-section .a-divider-inner:after, .a-divider.a-divider-section .a-divider-inner:after {
        display: block;
        width: 100%;
        height: 44px;
        background-color: transparent;
        background: -webkit-linear-gradient(to right,#fff,rgba(255,255,255,0),#fff);
        background: linear-gradient(to right,#fff,rgba(255,255,255,0),#fff);
        z-index: 1;
        content: "";
    }


.use_Backgroundcolor {
    background-color: #ffffff;
    color: #000;
    padding: 27px;
    font-size: 13px;
    border-top: 1px solid #c5c3c3;
}

.ButtonQuickRegister:hover {
    background-color: #8b0816;
}

.ButtonQuickCart {
    background-color: #0aab62;
    border: 1px solid #1d5f41;
    padding: 14px 10px;
    font-size: 13px;
    line-height: 1.3333333;
    color: #fff;
}

    .ButtonQuickCart:hover {
        background-color: #088b30;
    }

.Productsize {
    width: 100%;
    height: 250px;
}

.form-control3 {
    display: block;
    width: 100%;
    /* height: 39px; */
    font-weight: 500;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    font-family: Roboto, Arial, sans-serif;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


/* The Modal (background) */
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal2-content2 {
    background-color: #fefefe;
    margin: auto;
    width: 50%;
    height: 376px;
}

/* The Close Button */
.close2 {
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #ADB1B8 #A2A6AC #8D9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    font-size: 14px;
    padding: 6px 12px 9px 13px;
}

    .close2:hover,
    .close2:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.English {
    border: 1px solid #848688;
    border-radius: 3px;
    font-size: 13px;
    margin-right: 4px;
    padding: 9px 44px 9px 14px;
}


.modalmaster {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalmaster-contentmaster {
    background-color: #fefefe;
    margin: auto;
    width: 50%;
    height: 376px;
}

/* The Close Button */
.closemaster {
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #ADB1B8 #A2A6AC #8D9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    font-size: 14px;
    padding: 6px 12px 9px 13px;
}

    .closemaster:hover,
    .closemaster:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.checkit_box {
    margin-top: 5%;
    border-bottom: 1px solid #f3f3f3;
    padding: 7px;
}

.Save_Button_popup {
    background: #ff9201;
    border-radius: 3px;
    border-color: #ff9201 #ff9201 #ff9201;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    font-size: 14px;
    padding: 6px 12px 9px 13px;
    color: white;
}

.liBackGroundColors {
    background-color: #f1f4f7;
}

.save_cancel {
    text-align: right;
    background-color: #f3f3f3;
    background: #f9f9f9;
    background: -webkit-linear-gradient(top,#f3f3f3,#fff);
    background: linear-gradient(to bottom,#f3f3f3,#fff);
    box-shadow: 0 1px 1px rgba(0,0,0,.05) inset;
    border-top: 1px solid #ddd;
    padding: 14px;
    margin: 0;
    border-radius: 0 0 4px 4px;
}

.liBackGroundColors:hover {
    background-color: #f1f4f7;
}

.SideMenuZindex {
    z-index: 2000 !important;
}

.ProductssearchMaster {
    width: auto;
    /*height: 150px;*/
    margin-bottom: 22%;
}

.bold_fontyour {
    margin-top: 16px;
    font-size: 13px;
    color: #3c3b3b;
}

.size_bottom {
    font-size: 14px;
    margin-bottom: 18px;
}

.lan_color {
    position: relative;
    text-align: left;
    background: #f2f2f2;
    background: #f1f1f1;
    background: -webkit-linear-gradient(top,#f7f7f7,#eaeaea);
    background: linear-gradient(to bottom,#f7f7f7,#eaeaea);
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #cdcdcd;
    border-bottom-color: rgba(0,0,0,.2);
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset, 0 -1px 0 rgba(255,255,255,.4) inset;
    padding: 11px;
    margin: 0;
    z-index: 10;
}

.mobileproducts {
    /*display: none;*/
}

.mobileproducts2zomm {
    display: none;
}

.paddingcheckout {
    /*width: 49%;
    float: left;
    padding: 10px;*/
}

.padding10master {
    /*padding:10px;*/
}

.cartdisplay {
    /*display:none;*/
}

.ThankYouMessage {
    margin-top: 4%;
    margin-bottom: 1%;
}

.showcolum {
    /*width: 50% !important;
        float: left !important;*/
}

.showcolum2 {
    /*width: 50% !important;
        float: left !important;*/
}

.Code_Backgroundcolor_Search {
    border: 1px solid #eaeaea;
    overflow: hidden;
}

.bluebackgroundcolorToCart {
    background-color: #ff9201;
    color: #fff;
    text-align: center;
    padding: 6px 0px 9px 0px;
    font-size: 18px;
}

.bluebackgroundcolorToCart2 {
    background-color: #fb641b;
    color: #fff;
    text-align: center;
    padding: 6px 0px 9px 0px;
    font-size: 18px;
}

.ul_Master {
    display: inherit;
}

.ul_Master2 {
    display: none;
}

.unitjhkh {
    /*width: 50%;
    float: left;*/
}

.padding_width_master {
    /*padding:0;*/
}

/*.mobile_Search {
    width: 100%;
    padding: 0px 0px 0px 6px;
    flex: 90% !important;
    max-width: 90%;
}*/
.Pro_Images {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    opacity: 1;
    max-width: 100%;
    max-height: 100%;
    padding: 14px 14px 0px 14px;
}

.Height_Width_Search {
    width: 200px;
    height: 150px;
}

.Des_Search_Image {
    padding: 20px;
    border: solid 1px #f0f0f0;
}

.Flex_Search_Width {
    /*max-width: 100%;
    flex: 100%;*/
}

.display_Menu_Master {
    display: inherit;
}

.Padding_CoverPage {
    /*padding: 0;*/
}

.Max_Width {
    /*max-width: 100%;*/
}

.columeight_width {
    background-color: white;
    height: 550px;
    padding: 0px 36px 0px 31px;
}


.jssorb05 {
    position: absolute;
}

    .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
        position: absolute;
        /* size of bullet elment */
        width: 16px;
        height: 16px;
        background: url('../../img/b05.png') no-repeat;
        overflow: hidden;
        cursor: pointer;
    }

    .jssorb05 div {
        background-position: -7px -7px;
    }

        .jssorb05 div:hover, .jssorb05 .av:hover {
            background-position: -37px -7px;
        }

    .jssorb05 .av {
        background-position: -67px -7px;
    }

    .jssorb05 .dn, .jssorb05 .dn:hover {
        background-position: -97px -7px;
    }


.jssora22l, .jssora22r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url('../../../image/a22.png') center center no-repeat;
    overflow: hidden;
}

.jssora22l {
    background-position: -10px -31px;
}

.jssora22r {
    background-position: -70px -31px;
}

.jssora22l:hover {
    background-position: -130px -31px;
}

.jssora22r:hover {
    background-position: -190px -31px;
}

.jssora22l.jssora22ldn {
    background-position: -250px -31px;
}

.jssora22r.jssora22rdn {
    background-position: -310px -31px;
}

.Popup_width {
    width: 70% !important;
}

.Popup_width1 {
    width: 40% !important;
}

.Popup_width2 {
    width: 36% !important;
}

@media (min-width:220px) and (max-width:425px) {
    .showcolum {
        width: 50% !important;
        float: left !important;
        padding: 4px !important;
    }

    .modal2-content2 {
        background-color: #fefefe;
        margin: auto;
        width: 95%;
    }

    .modalmaster-contentmaster {
        background-color: #fefefe;
        margin: auto;
        width: 95%;
    }

    .Popup_width2 {
        width: 95% !important;
    }

    .Popup_width1 {
        width: 95% !important;
    }

    .Popup_width {
        width: 95% !important;
    }

    .Des_Search_Image {
        /*width: auto;
        height: 256px;*/
        margin-top: -14%;
    }

    .Data_Image_display {
        /*display: none;*/
    }

    .Data_Image_display2 {
        display: inherit;
        margin-bottom: -2%;
        margin-top: -7%;
    }


    .coloumfor_width {
        display: none;
    }

    .columeight_width {
        background-color: white;
        height: 796px;
        padding: 5px 36px 0px 31px;
    }

    .mobile_Search {
        width: 100%;
        padding: 0px 0px 0px 6px;
        flex: 80% !important;
        max-width: 94%;
    }

    .Products_Height22 {
        height: 162px;
    }

    .My_cart_back {
        background-color: #0094ff0d;
        margin-top: -63px;
        padding: 26px;
        margin-bottom: -22px;
    }

    .padding_width_master {
        padding: 0 !important;
    }

    #product .pb-right-column .product-name {
        font-size: 15px;
        line-height: 21px;
        font-weight: 600;
    }

    .breadcrumb {
        background: none;
        padding: 0;
        margin: 0;
        padding-bottom: 17px;
        line-height: normal;
        display: none;
    }

    .unitjhkh {
        width: 50% !important;
        float: left !important;
        padding: 3px;
    }

    .Clothing {
        font-size: 23px;
        color: black;
        line-height: 29px;
        margin-bottom: 27%;
        margin-top: -8px;
    }

    .ul_Master {
        display: none !important;
    }

    .ul_Master2 {
        display: inherit;
        background-color: #ff9201;
        height: 57px;
    }

    .box-left {
        width: 30%;
        float: left;
        border-left: 1px solid #eaeaea;
        display: none;
    }


    .bluebackgroundcolorToCart {
        background-color: #ff9201;
        color: #000;
        text-align: center;
        font-size: 15px;
        height: 37px;
        line-height: 27px;
        font-weight: 600;
    }

    .box-right {
        width: 100%;
        float: left;
    }

    .product-featured .product-list li {
        border-right: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        padding-left: 0;
        padding-right: 0;
        min-height: 226px;
        width: 50%;
        float: left;
    }

    .bluebackgroundcolorToCart2 {
        background-color: #ff9900;
        color: #fff;
        text-align: center;
        font-size: 15px;
        margin-top: 29px;
        height: 37px;
        line-height: 27px;
    }

    .showcolum2 {
        width: 50% !important;
        float: left !important;
        padding: 4px !important;
    }


    .Slider {
        width: 100%;
        height: 100%;
    }

    .ThankYouMessage {
        margin-top: 4%;
        margin-bottom: 5%;
        font-size: 16px;
        line-height: 24px;
    }

    .OaderWidthRightImages {
        width: 29%;
    }

    .cartdisplay {
        display: none;
    }

    .padding10master {
        padding: 10px;
        width: 50%;
    }

    .paddingcheckout {
        width: 49% !important;
        float: left !important;
        padding: 10px !important;
    }


    .mobileproducts2zomm {
        display: initial;
    }


    .mobileproducts {
        display: none;
    }


    .Productsize {
        width: 80%;
    }

    .ProductssearchMaster {
        /*width: 100%;
        height: 200px;*/
        margin-bottom: 22%;
    }
}

@media (min-width:426px) and (max-width:768px) {

    .ul_Master {
        display: none;
    }

    .showcolum {
        width: 50% !important;
        float: left !important;
        padding: 4px !important;
    }

    .Max_Width {
        max-width: 100% !important;
    }

    .Padding_CoverPage {
        padding: 0;
    }

    .display_Menu_Master {
        display: none;
    }

    .Col_width_Col {
        width: 50% !important;
        float: left;
        padding: 3px !important;
    }

    .Flex_Search_Width {
        max-width: 100% !important;
        flex: 100% !important;
    }

    .cartdisplay {
        display: none;
    }

    .showcolum2 {
        float: left !important;
        padding: 4px !important;
        max-width: 25% !important;
        flex: 50% !important;
    }

    .mobile_Search {
        width: 86% !important;
        padding: 0px 0px 0px 6px;
        flex: 86% !important;
        max-width: 86% !important;
    }

    .box-left {
        display: none;
    }

    .box-right {
        width: 100%;
        float: left;
    }

    .Products_Height22 {
        height: 158px;
    }

    .product-featured .product-list li {
        border-right: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        padding-left: 0;
        padding-right: 0;
        min-height: 262px;
        float: left;
    }

    .product-list li .product-name {
        margin-top: 13px;
        -webkit-line-clamp: 2;
        font-size: 14px;
        width: 100%;
        margin-bottom: 2px;
        text-align: center;
        color: #505050;
        font-weight: 500 !important;
    }

    .NowPriceMaster {
        font-size: 15px;
        font-weight: 600;
        margin-top: 0px;
        color: #388c06;
        margin-bottom: 28px;
        text-align: center;
    }

    .welcome {
        overflow: inherit;
        white-space: nowrap;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    .TrackOrder_BackgroundColors {
        background-color: #ff9201;
        padding: 7px 0px 7px 0px;
        margin-top: -23px;
        margin-bottom: 12px;
    }

    .unitjhkh {
        width: 50% !important;
        float: left !important;
        padding: 3px;
    }
}

@media(max-width:799px) {
    .QuickCart {
        width: 95%;
        overflow: auto;
        margin-left: 1%;
    }
}

@media(max-width:799px) {
    .UlArea {
        background: rgb(255, 255, 255);
        margin-top: 0px;
        width: 92%;
        margin-left: 8%;
        position: absolute;
        z-index: 111;
        padding: 6px;
        display: none;
        border: 1px solid #ccc;
    }
}

@media(min-width:800px) {
    .UlArea {
        background: rgb(255, 255, 255);
        margin-top: 40px;
        width: 82%;
        margin-left: 4%;
        position: absolute;
        z-index: 111;
        padding: 6px;
        display: none;
        border: 1px solid #ccc;
    }
}
