@font-face {
    font-family: 'WebTamil_Normal';
    src: url('../../fonts/WebTamil_Normal.ttf') format('truetype');
}

.option6 span.notify-right {
    background: url('../images/notify-right-6.png') no-repeat;
}

.option6 #main-menu .navbar .navbar-nav > li > a span.notify-right {
    top: -20px;
    left: 40%;
    text-transform: uppercase;
}

.Clothing {
    font-size: 23px;
    color: black;
    line-height: 29px;
    margin-bottom: 27%;
}

.Fontsize_clothing {
    font-size: 13px !important;
}

.Login_Login_Size {
    font-size: 23px;
    font-weight: 900;
    margin-right: 16px;
}

.TrackOrder_BackgroundColors {
    background-color: #ff3366;
    padding: 7px 0px 7px 0px;
    margin-top: -11px;
    margin-bottom: 12px;
}

.cartTopMaster {
    margin-top: 37%;
}

.Menu_BackgroundColors {
    border-bottom: 1px solid #737373;
    /* background-color: #000000; */
    color: #8d8c90;
    font-size: 22px;
    /* padding: 4px 0px 3px 5px; */
    font-weight: 600;
    text-align: center;
}

.box-left {
    width: 25%;
    float: left;
    border-left: 1px solid #eaeaea;
}

.box-right {
}

.stockNo {
    height: 44px;
    width: 71%;
    line-height: 46px;
    font-size: 19px;
    color: #000;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    clear: both;
    padding-left: 15px;
    padding-right: 15px;
    background: #ff9900;
    border-radius: 3px;
    margin-top: 7%;
}

.Cart_Icon {
    line-height: 29px;
}

.Buy_Now_Cart {
    margin-top: 7px;
    margin-right: 5px;
}

.AddtocartMaster {
    margin-top: 29px;
    padding: 5px;
    /* padding: 1px 37px 13px 30px; */
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    width: 100%;
    border: none;
    float: left;
    background: #232f3e;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -1px;
}

.AddtocartMaster2 {
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    width: 100%;
    border: none;
    float: left;
    background: #ff3366;
    color: #fff;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -1px;
    margin-top: 29px;
}

.AddtocartMaster3 {
    padding: 11px 30px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    background: #fb641b;
    color: #fff;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -1px;
}

    .AddtocartMaster3:hover {
        padding: 11px 30px;
        border-radius: 2px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
        border: none;
        background: #fb641b;
        color: #fff !important;
        font-size: 19px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: -1px;
    }

.BuyNow {
    background-color: green;
    color: #fff;
    width: 78%;
    padding: 8px 0px 5px 0px;
    font-size: 19px;
    margin-bottom: 0px;
    border-radius: 3px;
}

.paddingrightpaddingleft {
    padding-left: 5%;
    padding-right: 5%;
}

.starratingcolors {
    color: #ffff03;
}

.OaderWidthRightImages {
    width: 9%;
}

.yourrating {
    margin-bottom: 0px !important;
    font-size: 20px;
}

.addareview {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 600;
    font-family: sans-serif;
    color: #ff5e00;
}

.lineheightCart {
    line-height: 42px;
}

.latest-deals-product {
    margin-top: 20px;
    position: relative;
}

.RoundCloseButtonSize {
    font-size: 24px;
    margin-top: -2px;
    color: white;
}

.WishlestHomeHeader {
    margin-top: 15%;
}

.EnqHomeHeader {
    margin-top: 17%;
}

.productsHeightMaster {
    height: 200px;
}

.cartMasterPage {
    border-left: 1px solid rgb(154, 8, 34);
    height: 63px;
    text-align: center;
    display: table;
    cursor: pointer;
    /*width: 32% !important;*/
    float: left;
}

.aLinkColors {
    color: #fff;
}

    .aLinkColors:hover {
        color: #000 !important;
    }

.GreatvalueMaster {
    margin-top: 11px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 1px 0px #bbb5b5;
}

.ButtonMasterHomeSearch {
    width: 103px;
    background-color: #000000;
    border: 1px solid #000000;
    color: #fff;
    height: 41px;
    margin-top: -1px;
    font-family: Florentia-Regular-trial;
}

    .ButtonMasterHomeSearch:hover {
        width: 103px;
        background-color: #000000;
        border: 1px solid #000000;
        color: #fff;
        height: 41px;
        margin-top: -1px;
        font-family: Florentia-Regular-trial;
    }

.MenuMarginTopMaster {
    margin-top: 9px;
}

.HiImageWidth {
    width: 20%;
    padding: 5px;
    margin-top: 1px;
}

.formcontrolHomePageSearch {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 15px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    line-height: 1.42857143;
    color: #161414;
    font-family: Roboto, Arial, sans-serif;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-top: -1px;
}

.latest-deals-product .count-down-time2 {
    position: absolute;
    top: -61px;
    right: 80px;
}

.latest-deals-product .product-list li {
    border: 1px solid #eaeaea;
    overflow: hidden;
    padding-bottom: 5px;
}

    .latest-deals-product .product-list li:hover {
        border: 1px solid #007176;
    }

.latest-deals-product .owl-next {
    top: -40px;
}

.latest-deals-product .owl-prev {
    top: -40px;
    left: inherit;
    right: 26px;
}

.count-down-time2 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    line-height: 40px;
}

    .count-down-time2 .icon-clock {
        width: 23px;
        height: 26px;
        background: url("../images/icon-clock.png") no-repeat center center;
        display: inline-block;
        margin-top: 5px;
    }

    .count-down-time2 .box-count {
        text-transform: none;
        color: #007176;
        border: 1px solid #007176;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        padding: 0 10px;
        margin-top: 4px;
        margin-right: 4px;
        margin-left: 4px;
    }


/*
[3. Products list]
*/
.option6 .product-list li .quick-view {
    right: 10px;
}

    .option6 .product-list li .quick-view a:hover {
        /*background: #007176;*/
    }

    .option6 .product-list li .quick-view a:hover {
        /*background: #007176;*/
    }

    .option6 .product-list li .quick-view a:hover {
        /*background: #007176;*/
    }

.option6 .product-list li .add-to-cart:hover {
    background: #007176;
}

.option6 .product-list li .product-price {
    color: #f96d10;
}


/*
[4. Header ]
*/

.ContxtMenuBorder {
    border-bottom: 1px solid #eee;
    /*padding: 0px 0px 0px 19px;*/
}

.ContxtMenuBorder2 {
    border-bottom: 1px solid #eee;
}

.option6 .header {
    /*background: #6f0a1c;*/
}

.option6 .nav-top-menu {
    background: transparent;
}

.option6 .top-header img {
    /*margin-top: -5px;*/
}

.option6 .top-header a.current-open:after {
    font-size: 13px;
}

.option6 .top-header {
    background-color: #3e0c15;
    font-size: 13px;
    color: #fff;
    padding: 0px 0px 6px 0px;
}

    .option6 .top-header a {
        color: #fff;
    }

        .option6 .top-header a:hover {
            color: #ccc;
        }

.option6 .cart-block {
    margin-top: 5px;
}

    .option6 .cart-block .cart-block-content .product-info .p-right .p-rice {
        color: #f96d10;
    }

.option6 #shopping-cart-box-ontop .cart-block {
    margin-top: 0;
}

.option6 a:hover {
    color: #000;
}

.option6 .top-header .dropdown-menu {
    border-top: 2px solid #007176;
}

    .option6 .top-header .dropdown-menu a {
        color: #333;
    }

.option6 .main-header .header-search-box {
    padding: 0 15px;
    padding-left: 40px;
}

    .option6 .main-header .header-search-box .form-inline .form-category {
        float: right;
        margin-right: 40px;
        border-left: 1px solid #04538c;
        height: 41px;
        background: #04538c;
        color: #fff;
    }

    .option6 .main-header .header-search-box .form-inline .btn-search {
        top: 0;
        right: 0;
    }

    .option6 .main-header .header-search-box .form-inline .input-serach {
        padding-top: 9px;
    }

.option6 .header-search-box form .input-serach input {
    color: #000;
}

    .option6 .header-search-box form .input-serach input::-webkit-input-placeholder {
        color: #fff;
    }

    .option6 .header-search-box form .input-serach input::-webkit-input-placeholder {
        color: #fff;
    }

    .option6 .header-search-box form .input-serach input::-webkit-input-placeholder {
        color: #fff;
    }

.option6 .main-header .header-search-box .form-inline .btn-search {
    color: #fff;
    font-size: 16px;
    background-color: #04538c;
}

.option6 .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
}

.option6 .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent;
}

.option6 .main-header .header-search-box .form-inline {
    border: none;
    background: white;
    color: #fff;
    display: inline-block;
    min-width: 470px;
}

.option6 .main-header .header-search-box .keyword {
    display: inline-block;
    color: #fff;
    font-size: 13px;
    line-height: 21px;
    float: right;
}

    .option6 .main-header .header-search-box .keyword a {
        color: #fff;
    }

    .option6 .main-header .header-search-box .keyword .lebal {
        text-decoration: underline;
        font-weight: bold;
    }

        .option6 .main-header .header-search-box .keyword .lebal:before {
            content: '';
            width: 5px;
            height: 5px;
            background: #fff;
            float: left;
            margin-right: 10px;
            margin-top: 9px;
        }

.option6 .main-header .header-search-box .form-inline .btn-search .fa {
    line-height: inherit;
}

.option6 .group-button-header .btn-cart {
    background: url("../images/icon-cart-round6.png") no-repeat center center;
}

.option6 .group-button-header .btn-heart {
    background: url("../images/icon-heart-round6.png") no-repeat center center;
}

.option6 .group-button-header .btn-compare {
    background: url("../images/icon-compare-round6.png") no-repeat center center;
}



.option6 .nav-top-menu.nav-ontop {
    background: #4c8708;
    height: 51px;
}

    .option6 .nav-top-menu.nav-ontop .navbar-right {
        display: none;
    }

.option6 #form-search-opntop .btn-search .fa {
    display: none;
}

.option6 #box-vertical-megamenus {
    width: 85px;
    padding: 0;
}

.option6 #main-menu .navbar {
    border-radius: 0;
    background: #5a0716;
}

.option6 #main-menu .navbar-default .navbar-nav > li > a {
    color: #fff;
    border-right: none;
}

.option6 #main-menu .navbar-default .navbar-nav > li:last-child > a {
    background: none;
}

.option6 #main-menu .navbar .navbar-nav > li:hover,
.option6 #main-menu .navbar .navbar-nav > li.active {
    background-image: none;
    background: #6f0a1c;
}

    .option6 #main-menu .navbar .navbar-nav > li:hover a,
    .option6 #main-menu .navbar .navbar-nav > li.active a {
        background: none;
    }

.option6 #main-menu li.dropdown > a:after {
    position: absolute;
    left: 46%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 15px;
    font-size: 12px;
}

.option6 #main-menu li.dropdown:hover:before {
    display: none;
}

.option6 .box-vertical-megamenus .title {
    background: #427507;
}

.option6 .box-vertical-megamenus .vertical-menu-content {
    border-top: none;
    min-width: 270px;
    border-right: 1px solid #eaeaea;
}

.option6 #main-menu {
    width: 96%;
    padding: 0 15px;
    margin: 0;
}

.QTy {
    background-color: #4c8708;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
}

.KiwiFont {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 20px;
    -webkit-box-orient: vertical;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    height: 19px;
    overflow: hidden;
    margin-bottom: 1px;
    margin-top: 8px;
}

.Star_Color {
    color: #ff9201;
}

.Star_Color2 {
    color: #ff9201;
    font-size: 13px;
}

.KiwiFont2 {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 16px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 8px;
    margin-top: 5px;
    font-family: Work Sans;
}

.freshMaster {
    margin-top: -5px;
    margin-bottom: 4px;
    text-align: right;
}

.Rs {
    font-size: 20px;
    color: black;
    font-weight: 600;
}

.Mrpprice {
    color: #057305;
    margin-bottom: 14px;
    line-height: 13px;
    font-weight: 500;
    text-align: center;
}

.cashback {
    color: #040404;
    margin-bottom: 8px;
    font-size: 14px;
}

.NowPriceMaster {
    font-size: 17px;
    font-weight: 600;
    margin-top: 8px;
    color: #000000;
    background: #ccc;
    margin-bottom: 5px;
    text-align: center;
}

.Padding000Master {
    padding: 0;
}

.option6 .box-vertical-megamenus {
    top: 1px;
}

.option6 .nav-ontop #box-vertical-megamenus .title {
    background: #417506;
    color: #fff;
    border-left: none;
    text-align: center;
    height: 51px;
}

    .option6 .nav-ontop #box-vertical-megamenus .title .btn-open-mobile {
        margin: 0;
    }

.option6 .nav-ontop #box-vertical-megamenus .box-vertical-megamenus {
    top: 0;
}

.option6 #form-search-opntop .btn-search:before {
    color: #fff;
}

.option6 #form-search-opntop form .input-serach input {
    color: #fff;
}

    .option6 #form-search-opntop form .input-serach input::-webkit-input-placeholder {
        color: #fff;
    }

    .option6 #form-search-opntop form .input-serach input::-webkit-input-placeholder {
        color: #fff;
    }

    .option6 #form-search-opntop form .input-serach input::-webkit-input-placeholder {
        color: #fff;
    }

.option6 #form-search-opntop:hover form {
    border: 1px solid #dfdfdf;
    background: #007176;
}

.option6 #user-info-opntop a.current-open:before {
    color: #fff;
}

.option6 #shopping-cart-box-ontop .fa {
    color: #fff;
}

.option6 .header-top-right {
    border-top: none;
    margin: 0;
    padding: 0 15px;
}

    .option6 .header-top-right .homeslider {
        width: 63.5%;
    }

.option6 .group-banner-slider .item {
    margin-bottom: 2px;
}

.option6 .group-banner-slide .col-left {
    width: 196px;
    float: left;
}

.option6 .group-banner-slide .col-right {
    width: 228px;
    float: left;
}

.option6 .group-banner-slide .item {
    margin-left: 1px;
    float: left;
    margin-bottom: 2px;
}

    .option6 .group-banner-slide .item:last-child {
        margin-bottom: 0;
    }

.option6 .policy {
    background: #e1e9ee;
}

    .option6 .policy .title {
        height: 34px;
        background: #cfd5da;
        border-left: 5px solid #008a90;
        line-height: 34px;
        font-size: 16px;
        font-weight: bold;
        color: #006379;
        text-transform: uppercase;
        padding-left: 8px;
    }

    .option6 .policy ul {
        line-height: 24px;
        padding-left: 13px;
        padding-top: 10px;
        padding-bottom: 11px;
    }

.option6 .link-buytheme .fa {
    line-height: inherit;
}

.option6 .group-banner-slide .col-right .item:last-child {
    margin-top: 1px;
}

.option6 .policy ul li {
    margin-bottom: 10px;
}

.option6 .policy a img {
    margin-right: 5px;
}

.option6 .policy a .icon2 {
    display: none;
}

.option6 .policy a:hover .icon2 {
    display: inline-block;
}

.option6 .policy a:hover .icon1 {
    display: none;
}

.option6 .policy ul li:last-child {
    margin-bottom: 0;
}

.option6 .header-top-right .homeslider .bx-controls-direction .bx-prev,
.option6 .header-top-right .homeslider .bx-controls-direction .bx-next {
    background: #007176;
}

.option6 .header-top-right .homeslider .bx-wrapper .bx-pager .bx-pager-item a {
    border-radius: 0;
    width: 24px;
    height: 24px;
    background-color: rgba(190,190,190, 0.7);
    color: #000;
    line-height: 24px;
    border: none;
    margin-right: 10px;
    display: block;
}

.header-top-right .homeslider .bx-wrapper .bx-pager .bx-pager-item {
    width: 34px;
    height: 24px;
    margin-right: 0;
}

.option6 .header-top-right .homeslider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.option6 .header-top-right .homeslider .bx-wrapper .bx-pager.bx-default-pager a.active {
    background-color: rgba(0,0,0, 0.7);
    color: #fff;
}



.option6 .box-vertical-megamenus .vertical-menu-list {
    padding-top: 4px;
}

    .option6 .box-vertical-megamenus .vertical-menu-list li {
        border: none;
        padding: 0 20px;
    }

    .option6 .box-vertical-megamenus .vertical-menu-list > li:hover {
        background: #4c8708;
    }

        .option6 .box-vertical-megamenus .vertical-menu-list > li:hover > a {
            color: #fff;
            border-color: transparent;
        }

            .option6 .box-vertical-megamenus .vertical-menu-list > li:hover > a:before {
                color: #fff;
            }

    .option6 .box-vertical-megamenus .vertical-menu-list:li:last-child > a {
        border: none;
    }

    .option6 .box-vertical-megamenus .vertical-menu-list > li > a {
        border: none;
        padding-left: 0;
        border-bottom: 1px dotted #eaeaea;
        line-height: 36px;
    }

    .option6 .box-vertical-megamenus .vertical-menu-list li:hover {
        border-left: none;
    }

        .option6 .box-vertical-megamenus .vertical-menu-list li:hover > a {
            border-top: none;
        }

.option6 .box-vertical-megamenus .all-category {
    margin-top: 0px;
    padding-right: 0;
}

.option6 .vertical-dropdown-menu .mega-group-header span {
    border-color: #007176;
}

.option6 .box-vertical-megamenus .all-category span:hover {
    background: #4c8708;
    border-color: #bbd59c;
    color: #fff !important;
}

.option6 .box-vertical-megamenus .all-category span:after {
    content: "\f101";
    font-size: 16px;
    font-weight: normal;
}

.option6 .box-vertical-megamenus .vertical-menu-content ul > li > a.parent:before {
    right: 20px;
}

.option6 .vertical-dropdown-menu .mega-products .mega-product .product-price .new-price {
    color: #f96d10;
}

.option6 .cart-block .cart-block-content .cart-buttons a.btn-check-out {
    background: #007176;
}

.option6 .page-heading {
    font-size: 20px;
}

    .option6 .page-heading span.page-heading-title {
        border-bottom: 3px solid #6f0a1c;
    }

.option6 .owl-controls .owl-prev:hover,
.option6 .owl-controls .owl-next:hover {
    background: #5a0716;
    color: #fff;
}

.option6 .content-page {
    background: rgba(146, 188, 96, 0.71);
}

.option6 #main-menu .dropdown-menu .block-container .group_header > a {
    border-color: #6f0a1c;
}

/*
[5. Category featured]
*/

.option6 .show-brand .navbar-brand {
    width: 200px;
    position: relative;
    padding-left: 10px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
}

    .option6 .show-brand .navbar-brand img {
        margin-right: 10px;
    }

    .option6 .show-brand .navbar-brand > a:hover {
        color: #fff;
    }

    .option6 .show-brand .navbar-brand:after {
        content: '';
        width: 12px;
        height: 20px;
        position: absolute;
        right: 5px;
        color: #fff;
        font-weight: normal;
        background: url("../images/icon-angle-right.png") no-repeat right center;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

.option6 .nav-menu {
    margin-bottom: 0;
}

    .option6 .nav-menu .nav > li > a {
        background: none;
        padding: 15px 12px;
        margin-left: 10px;
        border-right: 1px solid #dbdcda;
    }

        .option6 .nav-menu .nav > li > a:after {
            font: normal normal normal 14px/1 FontAwesome;
            content: "\f0d8";
            position: absolute;
            bottom: -40px;
            left: 50%;
            -ms-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            color: #fff;
            -webkit-transition: all 0.3s ease-out 0s;
            -moz-transition: all 0.3s ease-out 0s;
            -o-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;
            opacity: 0;
            visibility: hidden;
        }

        .option6 .nav-menu .nav > li > a:before {
            content: '';
            width: 100%;
            height: 1px;
            background: #fa8334;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            transform: scale(0, 1);
        }

    .option6 .nav-menu .navbar-collapse {
        background: #fff;
        border-bottom: 2px solid #fa8334;
    }

    .option6 .nav-menu .nav > li:hover a,
    .option6 .nav-menu .nav > li.active a {
    }

        .option6 .nav-menu .nav > li:hover a:before,
        .option6 .nav-menu .nav > li.active a:before {
            transform: scale(1);
            -webkit-transition: all 0.3s ease-out 0s;
            -moz-transition: all 0.3s ease-out 0s;
            -o-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;
        }

        .option6 .nav-menu .nav > li:hover a:after,
        .option6 .nav-menu .nav > li.active a:after {
            color: #fa8334;
            bottom: -6px;
            opacity: 1;
            visibility: inherit;
        }

.option6 .product-featured {
    margin-top: 0;
    background: #fff;
}

    .option6 .product-featured .sub-category-list {
        float: left;
        padding: 20px 30px;
        line-height: 30px;
    }

    .option6 .product-featured .product-featured-tab-content {
    }

        .option6 .product-featured .product-featured-tab-content .box-left {
            /*width: 40%;
            float: left;
            border-left: 1px solid #eaeaea;*/
        }

        .option6 .product-featured .product-featured-tab-content .box-right {
            /*width: 60%;*/
            /*float: left;*/
        }

        .option6 .product-featured .product-featured-tab-content .box-full {
            width: 100%;
            float: left;
            border-left: 1px solid #eaeaea;
        }

            .option6 .product-featured .product-featured-tab-content .box-full .product-list li {
                width: 20%;
                float: left;
                border-bottom: none;
            }

        .option6 .product-featured .product-featured-tab-content .category-banner {
            padding-right: 0;
        }

            .option6 .product-featured .product-featured-tab-content .category-banner img {
            }

        .option6 .product-featured .product-featured-tab-content .category-list-product {
            padding-left: 0;
        }

    .option6 .product-featured .product-list {
        margin-left: 0;
        margin-right: 0;
        /*padding: 16px;*/
    }

        .option6 .product-featured .product-list li {
            padding: 0;
            min-height: inherit;
            border-right: 1px solid #eaeaea;
            border-top: 1px solid #eaeaea;
            padding-bottom: 3px;
            /*margin-bottom: 3%;*/
        }

    .option6 .product-featured .owl-prev,
    .option6 .product-featured .owl-next {
        background: transparent;
        width: 28px;
        height: 28px;
        color: #ccc;
        text-align: center;
        padding-top: 0;
        font-size: 48px;
    }

    .option6 .product-featured .owl-next {
        background: url("../images/next.png") no-repeat center center;
    }

    .option6 .product-featured .owl-prev {
        background: url("../images/prev.png") no-repeat center center;
    }

        .option6 .product-featured .owl-prev .fa,
        .option6 .product-featured .owl-next .fa {
            font-weight: normal;
            line-height: 28px;
            display: none;
        }

        .option6 .product-featured .owl-prev:hover {
            background: url("../images/prev.png") no-repeat center center;
        }

    .option6 .product-featured .owl-next:hover {
        background: url("../images/next.png") no-repeat center center;
    }

    .option6 .product-featured .deal-product {
        line-height: 24px;
        border-right: 1px solid #eaeaea;
        overflow: hidden;
        padding-bottom: 23px;
    }

        .option6 .product-featured .deal-product .deal-product-head {
            text-align: center;
        }

            .option6 .product-featured .deal-product .deal-product-head h3 {
                position: relative;
                z-index: 1;
                margin-top: 15px;
            }

                .option6 .product-featured .deal-product .deal-product-head h3:before {
                    border-top: 1px solid #eaeaea;
                    content: "";
                    margin: 0 auto; /* this centers the line to the full width specified */
                    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
                    top: 40%;
                    left: 40px;
                    right: 40px;
                    bottom: 0;
                    width: 95%;
                    z-index: -1;
                    width: 300px; /*
    -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);*/
                }

                .option6 .product-featured .deal-product .deal-product-head h3 > span {
                    background: #fff;
                    padding: 0 5px;
                    font-size: 14px;
                    font-weight: bold;
                }

        .option6 .product-featured .deal-product .deal-product-content .deal-product-info {
            padding-left: 0;
        }

        .option6 .product-featured .deal-product .deal-product-content {
            margin-top: 10px;
        }

        .option6 .product-featured .deal-product .price {
            margin-top: 4px;
        }

            .option6 .product-featured .deal-product .price span {
                margin-right: 10px;
            }

            .option6 .product-featured .deal-product .price .product-price {
                color: #007176;
                font-size: 18px;
            }

            .option6 .product-featured .deal-product .price .old-price {
                text-decoration: line-through;
            }

            .option6 .product-featured .deal-product .price .sale-price {
                background: url("../images/sale-bg.png") no-repeat;
                color: #fff;
                padding: 0 7px;
            }

        .option6 .product-featured .deal-product .product-star {
            color: #febf2b;
            margin-top: 15px;
        }

        .option6 .product-featured .deal-product .product-desc {
            margin-top: -3px;
        }

        .option6 .product-featured .deal-product .show-count-down {
            overflow: hidden;
            margin-top: 11px;
            font-family: 'Arial Narrow', Arial, sans-serif;
            line-height: normal;
        }

            .option6 .product-featured .deal-product .show-count-down .dot {
                display: none;
            }

            .option6 .product-featured .deal-product .show-count-down .box-count {
                font-size: 20px;
                color: #717171;
                background: #f6f6f6;
                text-align: center;
                width: 45px;
                height: 47px;
                display: table-cell;
                float: left;
                margin-right: 5px;
            }

                .option6 .product-featured .deal-product .show-count-down .box-count .number {
                    width: 45px;
                    font-size: 18px;
                    display: table;
                    margin-top: 4px;
                }

                .option6 .product-featured .deal-product .show-count-down .box-count .text {
                    width: 45px;
                    font-size: 14px;
                    display: table;
                }

    .option6 .product-featured .manufacture-list {
        padding-right: 0;
        float: left;
        overflow: hidden;
    }

        .option6 .product-featured .manufacture-list .manufacture-waper {
            border: 1px solid #eaeaea;
            padding: 44px 0px 44px 0;
            border-top: none;
            position: relative;
            border-bottom: none;
        }

            .option6 .product-featured .manufacture-list .manufacture-waper ul {
                padding: 0 20px;
                background: #fff;
            }

            .option6 .product-featured .manufacture-list .manufacture-waper .owl-prev {
                position: absolute;
                top: -16px;
                left: 0;
                right: 0;
                border-bottom: 1px solid #eaeaea;
            }

            .option6 .product-featured .manufacture-list .manufacture-waper .owl-next {
                position: absolute;
                bottom: -64px;
                top: inherit;
                left: 0;
                right: 0;
                border-top: 1px solid #eaeaea;
                border-bottom: 1px solid #eaeaea;
                padding-top: 12px;
                height: 42px;
            }

            .option6 .product-featured .manufacture-list .manufacture-waper .owl-controls .owl-nav {
                margin: 0;
                padding: 0;
            }

.option6 .product-list li .add-to-cart:hover {
    opacity: 1;
}

.option6 .product-list li .add-to-cart a {
    background: url("../images/icon-cart-option2.png") no-repeat left center;
}

.option6 .product-list li .quick-view a.compare:before {
    /*content: "\f066";*/
}

/** OPTION CATEGORY **/

.option6 .category-featured.fashion .sub-category-list a:hover {
    color: #ff3366;
}

.option6 .category-featured.fashion .navbar-brand {
    background: #4c8708;
}

    .option6 .category-featured.fashion .navbar-brand a:hover {
        color: #fff;
    }

.option6 .category-featured.fashion .nav-menu .navbar-collapse {
    background: #fff;
    border-bottom: 2px solid #4c8708;
}

.option6 .category-featured.fashion .nav-menu .nav > li:hover a,
.option6 .category-featured.fashion .nav-menu .nav > li.active a {
    color: #4c8708;
}

    .option6 .category-featured.fashion .nav-menu .nav > li:hover a:after,
    .option6 .category-featured.fashion .nav-menu .nav > li.active a:after {
        color: #4c8708;
    }

.option6 .category-featured.fashion .nav-menu .nav > li > a:before {
    background: #4c8708;
}

.option6 .category-featured.fashion .product-list li .add-to-cart {
    background-color: rgba(76, 135, 8, 0.85);
    background: rgba(76, 135, 8, 0.85);
    color: rgba(255, 51, 102, 0.7);
    z-index: 200;
}

    .option6 .category-featured.fashion .product-list li .add-to-cart:hover {
        background: rgb(76, 135, 8);
    }

.option6 .category-featured.fashion .product-list li .quick-view a.search:hover,
.option6 .category-featured.fashion .product-list li .quick-view a.compare:hover,
.option6 .category-featured.fashion .product-list li .quick-view a.heart:hover {
    background-color: #ff3366;
    opacity: 0.9;
}

/** sports **/
.option6 .category-featured.sports .sub-category-list a:hover {
    color: #00a360;
}

.option6 .category-featured.sports .navbar-brand {
    background: #00a360;
}

    .option6 .category-featured.sports .navbar-brand a:hover {
        color: #fff;
    }

.option6 .category-featured.sports .nav-menu .navbar-collapse {
    background: #fff;
    border-bottom: 2px solid #00a360;
}

.option6 .category-featured.sports .nav-menu .nav > li:hover a,
.option6 .category-featured.sports .nav-menu .nav > li.active a {
    color: #00a360;
}

    .option6 .category-featured.sports .nav-menu .nav > li:hover a:after,
    .option6 .category-featured.sports .nav-menu .nav > li.active a:after {
        color: #00a360;
    }

.option6 .category-featured.sports .nav-menu .nav > li > a:before {
    background: #00a360;
}

.option6 .category-featured.sports .product-list li .add-to-cart {
    background-color: rgba(0, 163, 96, 0.7);
    background: rgba(0, 163, 96, 0.7);
    color: rgba(0, 163, 96, 0.7);
}

    .option6 .category-featured.sports .product-list li .add-to-cart:hover {
        background: #00a360;
    }

.option6 .category-featured.sports .product-list li .quick-view a.search:hover,
.option6 .category-featured.sports .product-list li .quick-view a.compare:hover,
.option6 .category-featured.sports .product-list li .quick-view a.heart:hover {
    background-color: #00a360;
    opacity: 0.9;
}

/** electronic **/

.option6 .category-featured.electronic .product-featured {
    /*background: #fff url('../images/cat-br1.png') no-repeat left bottom;*/
}

.option6 .category-featured.electronic .sub-category-list a:hover {
    color: #0090c9;
}

.option6 .category-featured.electronic .navbar-brand {
    background: #0090c9;
}

    .option6 .category-featured.electronic .navbar-brand a:hover {
        color: #fff;
    }

.option6 .category-featured.electronic .nav-menu .navbar-collapse {
    background: #fff;
    border-bottom: 2px solid #0090c9;
}

.option6 .category-featured.electronic .nav-menu .nav > li:hover a,
.option6 .category-featured.electronic .nav-menu .nav > li.active a {
    color: #0090c9;
}

.option6 .category-featured.electronic .nav-menu .nav > li > a:before {
    background: #0090c9;
}

.option6 .category-featured.electronic .nav-menu .nav > li:hover a:after,
.option6 .category-featured.electronic .nav-menu .nav > li.active a:after {
    color: #0090c9;
}

.option6 .category-featured.electronic .product-list li .add-to-cart {
    /*background-color: rgba(0, 144, 201, 0.7);
    background: rgba(0, 144, 201, 0.7);
    color: rgba(0, 144, 201, 0.7);*/
}

    .option6 .category-featured.electronic .product-list li .add-to-cart:hover {
        background-color: #0090c9;
    }

.option6 .category-featured.electronic .product-list li .quick-view a.search:hover,
.option6 .category-featured.electronic .product-list li .quick-view a.compare:hover,
.option6 .category-featured.electronic .product-list li .quick-view a.heart:hover {
    /*background-color: #0090c9;*/
    opacity: 0.9;
}
/** digital **/
.option6 .category-featured.digital .product-featured {
    background: #fff url('../images/cat-br2.png') no-repeat left bottom;
}

.option6 .category-featured.digital .sub-category-list a:hover {
    color: #3f5eca;
}

.option6 .category-featured.digital .navbar-brand {
    background: #3f5eca;
}

    .option6 .category-featured.digital .navbar-brand a:hover {
        color: #fff;
    }

.option6 .category-featured.digital .nav-menu .navbar-collapse {
    background: #fff;
    border-bottom: 2px solid #3f5eca;
}

.option6 .category-featured.digital .nav-menu .nav > li:hover a,
.option6 .category-featured.digital .nav-menu .nav > li.active a {
    color: #3f5eca;
}

.option6 .category-featured.digital .nav-menu .nav > li > a:before {
    background: #3f5eca;
}

.option6 .category-featured.digital .nav-menu .nav > li:hover a:after,
.option6 .category-featured.digital .nav-menu .nav > li.active a:after {
    color: #3f5eca;
}

.option6 .category-featured.digital .product-list li .add-to-cart {
    background-color: rgba(63, 94, 202, 0.7);
    background: rgba(63, 94, 202, 0.7);
    color: rgba(63, 94, 202, 0.7);
}

    .option6 .category-featured.digital .product-list li .add-to-cart:hover {
        background-color: #3f5eca;
    }

.option6 .category-featured.digital .product-list li .quick-view a.search:hover,
.option6 .category-featured.digital .product-list li .quick-view a.compare:hover,
.option6 .category-featured.digital .product-list li .quick-view a.heart:hover {
    background-color: #3f5eca;
    opacity: 0.9;
}
/** furniture **/
.option6 .category-featured.furniture .product-featured {
    background: #fff url('../images/cat-br3.png') no-repeat left bottom;
}

.option6 .category-featured.furniture .sub-category-list a:hover {
    color: #669900;
}

.option6 .category-featured.furniture .navbar-brand {
    background: #669900;
}

    .option6 .category-featured.furniture .navbar-brand a:hover {
        color: #fff;
    }

.option6 .category-featured.furniture .nav-menu .navbar-collapse {
    background: #fff;
    border-bottom: 2px solid #669900;
}

.option6 .category-featured.furniture .nav-menu .nav > li:hover a,
.option6 .category-featured.furniture .nav-menu .nav > li.active a {
    color: #669900;
}

.option6 .category-featured.furniture .nav-menu .nav > li > a:before {
    background: #669900;
}

.option6 .category-featured.furniture .nav-menu .nav > li:hover a:after,
.option6 .category-featured.furniture .nav-menu .nav > li.active a:after {
    color: #669900;
}

.option6 .category-featured.furniture .product-list li .add-to-cart {
    background-color: rgba(102, 153, 0, 0.7);
    background: rgba(102, 153, 0, 0.7);
    color: rgba(102, 153, 0, 0.7);
}

    .option6 .category-featured.furniture .product-list li .add-to-cart:hover {
        background-color: #669900;
    }

.option6 .category-featured.furniture .product-list li .quick-view a.search:hover,
.option6 .category-featured.furniture .product-list li .quick-view a.compare:hover,
.option6 .category-featured.furniture .product-list li .quick-view a.heart:hover {
    background-color: #669900;
    opacity: 0.9;
}

/** jewelry **/
.option6 .category-featured.jewelry .sub-category-list a:hover {
    color: #6d6855;
}

.option6 .category-featured.jewelry .navbar-brand {
    background: #6d6855;
}

    .option6 .category-featured.jewelry .navbar-brand a:hover {
        color: #fff;
    }

.option6 .category-featured.jewelry .nav-menu .navbar-collapse {
    background: #fff;
    border-bottom: 2px solid #6d6855;
}

.option6 .category-featured.jewelry .nav-menu .nav > li:hover a,
.option6 .category-featured.jewelry .nav-menu .nav > li.active a {
    color: #6d6855;
}

.option6 .category-featured.jewelry .nav-menu .nav > li > a:before {
    background: #6d6855;
}

.option6 .category-featured.jewelry .nav-menu .nav > li:hover a:after,
.option6 .category-featured.jewelry .nav-menu .nav > li.active a:after {
    color: #6d6855;
}

.option6 .category-featured.jewelry .product-list li .add-to-cart {
    background-color: #6d6855;
}

.option6 .category-featured.jewelry .product-list li .add-to-cart {
    background-color: rgba(109, 104,85, 0.7);
    background: rgba(109, 104,85, 0.7);
    color: rgba(109, 104,85, 0.7);
}

    .option6 .category-featured.jewelry .product-list li .add-to-cart:hover {
        background-color: #6d6855;
    }

.option6 .category-featured.jewelry .product-list li .quick-view a.search:hover,
.option6 .category-featured.jewelry .product-list li .quick-view a.compare:hover,
.option6 .category-featured.jewelry .product-list li .quick-view a.heart:hover {
    background-color: #6d6855;
    opacity: 0.9;
}

.option6 .band-logo {
    margin-top: 30px;
    overflow: hidden;
}

    .option6 .band-logo a {
        float: left;
        background: #eee;
        border: 1px solid #eee;
        overflow: hidden;
        height: 66px;
    }

        .option6 .band-logo a:hover {
            background: transparent;
        }

/*-----------------
[6. Banner bootom]
*/
.option6 .banner-bottom .item-left {
    padding-right: 0;
}

.option6 .banner-bottom .item-right {
    padding-left: 0;
}




/*--------------
[8. Services]
*/
.services2 {
    margin-top: 30px;
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    overflow: hidden;
}

    .services2 .services2-item {
        padding: 0;
        border-left: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 15px;
        min-height: 120px;
    }

        .services2 .services2-item .image {
            text-align: center;
            color: #333333;
            padding-left: 30px;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: normal;
        }

            .services2 .services2-item .image h3 {
                font-size: 14px;
                color: #333333;
                font-weight: 600;
                margin-top: 10px;
            }

        .services2 .services2-item .text {
            padding-top: 37px;
            color: #919191;
            padding-left: 0;
            padding-right: 30px;
        }


/*--------------
[9. Footer]
*/
.option6 #footer {
    margin-top: 60px;
}

.Col_width_Col {
    /*width: 50%;
    float: left;*/
}

.option6 #mail-box .btn {
    background: #007176;
}

.option6 .scroll_top:hover {
    background: #007176;
}


/*-----------------
[10. Owl carousel vertical]
*/
.owl-carousel-vertical .owl-next,
.owl-carousel-vertical .owl-prev {
    position: inherit;
    width: 100% !important;
    height: 17px;
    margin: 0 auto;
    float: left;
    opacity: 1;
    visibility: inherit;
    background: none;
}

.owl-carousel-vertical .owl-controls .owl-nav {
    margin: 0 auto;
    text-align: center;
    display: table-cell;
    width: 100% !important;
    float: left;
}

.option6 .product-featured .owl-carousel-vertical .owl-controls .owl-nav {
    margin-top: 26px;
    padding-left: 30px;
}

    .option6 .product-featured .owl-carousel-vertical .owl-controls .owl-nav .owl-next,
    .option6 .product-featured .owl-carousel-vertical .owl-controls .owl-nav .owl-prev {
        background: none;
    }

.option6 .blog-list .blog-list-wapper ul li .readmore a {
    color: #007176;
}

.option6 .homeslider {
    position: relative;
}

.option6 .bx-control {
    position: absolute;
    bottom: 25px;
    right: 15px;
}

    .option6 .bx-control .fa {
        line-height: inherit;
    }

    .option6 .bx-control a {
        width: 24px;
        height: 24px;
        background-color: rgba(190,190,190, 0.7);
        float: left;
        text-align: center;
        line-height: 24px;
        color: #000;
        margin-right: 10px;
    }

    .option6 .bx-control .bx-prev,
    .option6 .bx-control .bx-next {
        color: #fff;
        font-weight: bold;
    }

        .option6 .bx-control .bx-prev:hover,
        .option6 .bx-control .bx-next:hover {
            background: #008a90;
        }

    .option6 .bx-control a:hover,
    .option6 .bx-control a.active {
        background-color: rgba(0,0,0, 0.7);
        color: #fff;
    }

    .option6 .bx-control .slide-prev,
    .option6 .bx-control .slide-next,
    .option6 .bx-control .slide-pager {
        width: auto;
        display: inline-block;
        float: left;
    }

.section-home-top-6 {
    overflow: hidden;
}

    .section-home-top-6 .box-left,
    .section-home-top-6 .box-right {
        float: left;
    }

    .section-home-top-6 .box-left {
        width: 785px;
    }

    .section-home-top-6 .box-right {
        overflow: hidden;
    }

.group-banner-slider.left {
    width: 48.5%;
    float: left;
    padding-left: 2px;
}

.group-banner-slider.right {
    width: 51.5%;
    float: left;
}
/** REPONSIVE **/
/*----------------
[11. Styles for devices(>1200px)]
*/
@media (min-width: 1201px) {
}
/*----------------
[12. Styles for devices(>=993px and <=1200px)]
*/
@media (min-width: 993px) and (max-width: 1200px) {
    .option6 .group-button-header {
        width: 25%;
        float: right;
    }

    .option6 .sub-category-wapper {
        width: 15%;
        display: none;
    }

    .option6 .col-right-tab {
        width: 100%;
    }

    .option6 .product-featured .manufacture-list .manufacture-waper {
        display: none;
    }

    .option6 .product-featured .product-featured-tab-content .category-list-product {
        padding-left: 15px;
    }

        .option6 .product-featured .product-featured-tab-content .category-list-product .product-list {
            border-left: 1px solid #eaeaea;
        }

    .option6 .main-header .header-search-box {
        width: 40%;
    }

    .option6 #home-slider .header-top-right .homeslider,
    .option6 #home-slider .header-top-right .header-banner {
        border: none;
    }

    .option6 .main-header .header-search-box .keyword {
        display: none;
    }

    .option6 .header-top-right .homeslider {
        width: 100%;
    }

    .option6 .group-banner-slide {
        display: none;
    }
}
/*--------------------
[13. Styles for devices(>=768px and <=992px)]
*/
@media (min-width: 768px) and (max-width: 992px) {
    .option6 .group-button-header {
        float: right;
    }

    .option6 .main-header .logo {
        margin-top: 15px;
    }

    .option6 .nav-menu .nav > li > a {
        padding: 14px 10px;
        margin-left: 0;
    }

    .option6 .product-featured .product-featured-tab-content .box-left {
        width: 100%;
    }

    .option6 .product-featured .product-featured-tab-content .box-right {
        width: 100%;
        border-left: 1px solid #eaeaea;
    }

    .option6 .sub-category-wapper {
        width: 20%;
    }

    .option6 .col-right-tab {
        width: 80%;
    }

    .option6 .show-brand .navbar-brand {
        width: 21%;
        padding-right: 30px;
        font-size: 14px;
        font-weight: bold;
    }

    .option6 .product-featured .sub-category-list {
        padding: 10px;
    }

    .option6 .product-featured .box-left .banner-img {
        display: none;
    }

    .option6 .product-featured .manufacture-list .manufacture-waper {
        display: none;
    }

    .option6 .product-featured .product-featured-tab-content .box-full .product-list li {
        width: 33.3333%;
    }

    .option6 .product-featured .product-featured-tab-content .category-list-product {
        padding-left: 15px;
    }

        .option6 .product-featured .product-featured-tab-content .category-list-product .product-list {
            border-left: 1px solid #eaeaea;
        }

            .option6 .product-featured .product-featured-tab-content .category-list-product .product-list li {
                width: 33.3333%;
            }

    .option6 .group-banner-slide {
        display: none;
    }

    .option6 .header-top-right .homeslider {
        width: 100%;
    }

    .option6 .main-header .header-search-box .keyword {
        display: none;
    }
}
/*--------------------
[14. Styles for devices(>=481px and <=767px)]
*/
@media (min-width: 481px) and (max-width: 767px) {
    .group-button-header {
        margin-top: 30px;
    }

    .option6 .logo {
        margin-top: 15px;
    }

    .main-header .group-button-header .btn-cart:hover .cart-block {
        display: none;
    }

    .option6 .main-header .header-search-box {
        padding-right: 15px;
    }

    .option6 #main-menu .navbar {
        background: none;
    }

    .option6 #main-menu .navbar-header {
        /*background: -webkit-linear-gradient(top, #780f22 0%,#3f000b 100%);*/
    }

    .option6 #main-menu .navbar-default .navbar-nav > li > a {
        background: none;
        color: #999;
    }

    .option6 #main-menu li.dropdown > a:after {
        position: absolute;
        left: inherit;
        right: 10px;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
        font-size: 12px;
    }

    .option6 #main-menu .navbar .navbar-nav > li:hover,
    .option6 #main-menu .navbar .navbar-nav > li.active {
        background: none;
    }

    .latest-deals-product .count-down-time2 {
        position: inherit;
        top: inherit;
        right: inherit;
    }

    .latest-deals-product .owl-prev {
        top: 50%;
        left: 0;
        right: inherit;
    }

    .latest-deals-product .owl-next {
        top: 50%;
    }

    .option6 .content-page {
        margin-top: 30px;
    }

    .option6 .nav-menu {
        background: #ccc;
    }

        .option6 .nav-menu .nav > li > a {
            margin-left: 0;
            padding: 5px 15px;
        }

            .option6 .nav-menu .nav > li > a:after {
                display: none;
            }

    .option6 .product-featured .sub-category-wapper {
        width: 100%;
        padding: 15px;
        display: none;
    }

    .option6 .product-featured .product-featured-tab-content .box-left {
        width: 100%;
        display: none;
    }

    .option6 .product-featured .product-featured-tab-content .box-right {
        width: 100%;
        border-left: 1px solid #eaeaea;
    }

    .option6 .product-featured .deal-product .deal-product-content .deal-product-info {
        padding-left: 15px;
    }

    .option6 .product-featured .product-featured-tab-content .box-full .product-list li {
        width: 50%;
        float: left;
    }

    .services2 .services2-item .image {
        padding: 15px 30px 0 30px 0;
    }

    .services2 .services2-item .text {
        padding: 15px 30px;
        text-align: center;
    }

    .option6 .product-featured .manufacture-list {
        display: none;
    }

    .option6 .product-featured .product-list li {
        width: 50%;
        float: left;
    }

    .option6 .product-featured .product-featured-tab-content .category-list-product {
        padding-left: 15px;
        border-left: 1px solid #eaeaea;
    }

    .option6 #main-menu {
        padding: 0;
    }

        .option6 #main-menu .navbar-header {
            margin: 0;
        }

    .option6 #box-vertical-megamenus {
        display: none;
    }

    .option6 #main-menu .navbar-collapse {
        margin-left: 0;
    }

    .option6 .main-header .header-search-box .keyword {
        display: none;
    }

    .option6 .main-header .header-search-box .form-inline {
        width: 100%;
        min-width: 100%;
    }

    .option6 .group-banner-slide {
        display: none;
    }

    .option6 .header-top-right .homeslider {
        width: 100%;
    }
}
/*--------------------
[15. Styles for devices(<=480px)]
*/
@media (max-width: 480px) {
    .cartMasterPage {
        border-left: 1px solid rgb(154, 8, 34);
        height: 63px;
        text-align: center;
        display: table;
        cursor: pointer;
        width: 32% !important;
        float: left;
    }

    .Menu_BackgroundColors {
        background-color: #ff9201;
        color: white;
        font-size: 20px;
        padding: 3px 0px 5px 7px;
        font-weight: 600;
    }

    .NowPriceMaster {
        font-size: 15px;
        font-weight: 600;
        margin-top: 0px;
        color: #388c06;
        margin-bottom: 28px;
        text-align: center;
    }

    .AddtocartMaster {
        padding: 4px 8px 7px 33px;
        border-radius: 2px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
        width: 100%;
        border: none;
        float: left;
        background: #ff9f00;
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0px;
    }

    .AddtocartMaster2 {
        padding: 9px 8px;
        border-radius: 2px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
        width: 100%;
        border: none;
        float: left;
        background: #fb641b;
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0px;
    }

    .Col_width_Col {
        width: 50% !important;
        float: left;
        padding: 3px !important;
    }

    .group-button-header {
        width: 100%;
        margin-top: 30px;
    }

    .option6 .logo {
        width: 100%;
        margin-top: 15px;
    }

    .main-header .group-button-header .btn-cart:hover .cart-block {
        display: none;
    }

    .option6 .main-header .header-search-box {
        padding-right: 15px;
    }

    .option6 #main-menu .navbar {
        background: none;
    }

    .option6 #main-menu .navbar-header {
        /*background: -webkit-linear-gradient(top, #780f22 0%,#3f000b 100%);*/
    }

    .option6 #main-menu .navbar-default .navbar-nav > li > a {
        background: none;
        color: #fff;
    }

    .option6 #main-menu li.dropdown > a:after {
        position: absolute;
        left: inherit;
        right: 10px;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
        font-size: 12px;
    }

    .option6 #main-menu .navbar .navbar-nav > li:hover,
    .option6 #main-menu .navbar .navbar-nav > li.active {
        background: none;
    }

    .latest-deals-product .count-down-time2 {
        position: inherit;
        top: inherit;
        right: inherit;
    }

    .latest-deals-product .owl-prev {
        top: 50%;
        left: 0;
        right: inherit;
    }

    .latest-deals-product .owl-next {
        top: 50%;
    }

    .option6 .content-page {
        margin-top: 30px;
    }

    .option6 .nav-menu {
        background: #ccc;
    }

        .option6 .nav-menu .nav > li > a {
            margin-left: 0;
            padding: 5px 15px;
        }

            .option6 .nav-menu .nav > li > a:after {
                display: none;
            }

    .option6 .product-featured .sub-category-wapper {
        display: none;
    }

    .option6 .product-featured .product-featured-tab-content .box-left {
        width: 100%;
        display: none;
    }

    .option6 .product-featured .product-featured-tab-content .box-right {
        width: 100%;
    }

    .option6 .product-featured .deal-product .deal-product-content .deal-product-info {
        padding-left: 15px;
    }

    .option6 .product-featured .product-featured-tab-content .box-full .product-list li {
        width: 100%;
    }

    .services2 .services2-item .image {
        padding: 15px 30px 0 30px 0;
    }

    .services2 .services2-item .text {
        padding: 15px 30px;
        text-align: center;
    }

    .option6 .product-featured .manufacture-list {
        display: none;
    }

    .option6 .product-featured .product-list li {
        border-right: none;
    }

    .option6 .product-featured .product-featured-tab-content .category-list-product {
        padding-left: 15px;
        border-left: 1px solid #eaeaea;
    }

    .option6 #main-menu {
        padding: 0;
    }

        .option6 #main-menu .navbar-header {
            margin: 0;
        }

    .option6 #box-vertical-megamenus {
        display: none;
    }

    .option6 #main-menu .navbar-collapse {
        margin-left: 0;
    }

    .option6 .main-header .header-search-box .keyword {
        display: none;
    }

    .option6 .main-header .header-search-box .form-inline {
        width: 100%;
        min-width: 100%;
    }

    .option6 .group-banner-slide {
        display: none;
    }

    .option6 .header-top-right .homeslider {
        width: 100%;
    }
}

@media(max-width: 1200px) {
    .section-home-top-6 .box-left {
        width: 67.5%;
    }

    .section-home-top-6 .box-right {
        width: 32.5%;
        float: left;
    }
}

@media(max-width: 991px) {
}

@media(max-width: 767px) {
    .option6 .main-header .header-search-box {
        padding-left: 15px;
    }
}

@media(max-width: 480px) {
    .section-home-top-6 .box-left {
        width: 100%;
    }

    .section-home-top-6 .box-right {
        width: 100%;
        float: left;
    }

    .option6 .group-banner-slider .item img {
        width: 100%;
    }
}
