﻿@model ecommerce.Models.Backend.SettingMaster.DeliveryCharges

@{
    ViewBag.Title = "AddEditDeliveryCharges";
    Layout = "~/Views/Shared/_BackendLayoutPage.cshtml";
}

@section header
{
    <link href="~/Content/Common/css/commoncss.css" rel="stylesheet" />
}

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-plus-square"></i>&nbsp;Add / Edit Delivery Charges</h2>
                </div>
                <div class="col-sm-6">
                    <div class="text-right">
                        <a href="/setting-master/delivery-charges-list" class="btn btn-primary btn-sm"><span class="fa fa-reply" style="color:#fff!important;"></span>&nbsp;Delivery Charges List</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="clearfix"></div><br>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                    Price <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 form-validation">
                    @Html.TextBoxFor(p => p.Price, new { @class = "form-control", onkeypress = "return isNumberValidationPrevent(event);" })
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                    State Name
                </label>
                <div class="col-md-6 col-sm-6 ">
                    @Html.DropDownListFor(m => m.StateId, Model.StateList, "Select State", new { @class = "form-control ", @onchange = "FillCity()" })
                    @*<select id="txtDCStateName" name="txtDCStateName" class="form-control">
                            <option value="0">Select State</option>
                        </select>*@
                </div>
            </div>
            <div class="item form-group">
                <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">City Name</label>
                <div class="col-md-6 col-sm-6 ">
                    @*<select id="txtDCCityName" name="txtDCCityName" class="form-control">
                            <option value="0">Select City</option>
                        </select>*@
                    @Html.DropDownListFor(m => m.CityId, Model.CityList, "Select City", new { @class = "form-control " })
                </div>
            </div>
            <div class="item form-group ">
                <label class="col-form-label col-md-3 col-sm-3 label-align">
                    Pin Code <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 form-validation">
                    @*<input type="text" id="txtDCPinCode" name="txtDCPinCode" class="form-control" />*@
                    @Html.TextBoxFor(p => p.PinCode, new { @class = "form-control", onkeypress = "return isNumberValidationPrevent(event);" })
                </div>
            </div>
            @*<div class="ln_solid"></div>*@
            <div class="clearfix"></div><br />
            <div class="item form-group">
                <div class="col-md-6 col-sm-6 offset-md-3">
                    <button type="submit" class="btn btn-success pull-right" id="btnDeliveryChargesSubmit" onclick="return InsertDeliveryCharges();">Submit</button>
                </div>
            </div>
            @*<div class="item form-group">
                    <div class="col-md-6 col-sm-6 offset-md-3">
                        <button class="btn btn-primary" type="button">Cancel</button>
                        <button class="btn btn-primary" type="reset">Reset</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>*@
        </div>
    </div>
</div>

@section footer{
    <script src="~/Content/BackEnd_Section/ControlJs/deliverycharges.js"></script>
    <script src="~/Content/Common/js/common.js"></script>
}