﻿
@{
    ViewBag.Title = "AddEditHomeBanner";
    Layout = "~/Views/Shared/_BackendLayoutPage.cshtml";
}

@section header{
    <link href="~/Content/Common/css/commoncss.css" rel="stylesheet" />
}

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-plus-square"></i>&nbsp;Add / Edit Home Banner</h2>
                </div>
                <div class="col-sm-6">
                    <div class="text-right">
                        <a href="/setting-master/home-banner" class="btn btn-primary btn-sm"><span class="fa fa-reply" style="color:#fff!important;"></span>&nbsp;Home Banner List</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="clearfix"></div><br>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align">
                    Heading
                </label>
                <div class="col-md-6 col-sm-6 ">
                    <input class="form-control" id="txtHeading" name="txtHeading" type="text" placeholder="Enter heading" />
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align">
                    Content
                </label>
                <div class="col-md-6 col-sm-6 ">
                    <textarea class="form-control" id="txtContent" name="txtContent" type="text" placeholder="Enter content" ></textarea>
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align">
                    Redirect Url
                </label>
                <div class="col-md-6 col-sm-6 ">
                    <input class="form-control" id="txtRedirectUrl" name="txtRedirectUrl" type="text" placeholder="Enter redirect url" />
                </div>
            </div>
            <div class="item form-group">
                <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Show on Home</label>
                <div class="col-md-6 col-sm-6 ">
                    <select class="form-control" id="ddlIsShow" name="ddlIsShow">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                    </select>
                </div>
            </div>
            <div class="item form-group ">
                <label class="col-form-label col-md-3 col-sm-3 label-align">
                    Image <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 form-validation">
                    <input type="file" name="files" id="fluBannerImg" class="form-control " />
                </div>
            </div>
            <div class="item form-group ">
                <label class="col-form-label col-md-3 col-sm-3 label-align">
                    Type
                </label>
                <div class="col-md-6 col-sm-6">
                    <select class="form-control" id="ddlBannerType">
                        <option value="top">Top</option>
                        <option value="middle">Middle</option>
                        <option value="bottom">Bottom</option>
                    </select>
                </div>
            </div>
            <div class="clearfix"></div><br>
            <div class="item form-group ">
                <label class="col-form-label col-md-3 col-sm-3 label-align">
                    Order
                </label>
                <div class="col-md-6 col-sm-6">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <input class="form-control" id="txtOrder" name="txtOrder" type="number" value="0" min="0" placeholder="Banner order" />
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <button type="submit" class="btn btn-success pull-right" id="btnHomeBannerSubmit" onclick="return InsertHomeBanner();">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div><br /><br /><br />
    </div>
</div>

@section footer
{
    <script src="~/Content/BackEnd_Section/ControlJs/settingmaster.js"></script>
}