﻿@model ecommerce.Models.Backend.SettingMaster.DeliveryCharges

@{
    ViewBag.Title = "DeliveryChargesList";
    Layout = "~/Views/Shared/_BackendLayoutPage.cshtml";
}

<div class="col-md-12 col-sm-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-list"></i>&nbsp; Delivery Charges</h2>
                </div>
                <div class="col-sm-6">
                    <div class="text-right">
                        <a href="/setting-master/add-edit-delivery-charges" class="btn btn-primary btn-sm"><span class="fa fa-plus-circle" style="color:#fff!important;"></span>&nbsp;Add New Delivery Charges</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        @*<div class="row input-group col-sm-4">
                                <input type="text" class="form-control" id="txtCategorySearch" placeholder="Search by Category name">
                            </div>*@
                        <div class="clearfix"></div>
                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr style="background:#f6f6f6;">
                                    <th>Price</th>
                                    <th>State&nbsp;Name</th>
                                    <th>City&nbsp;Name</th>
                                    <th>Pin&nbsp;Code</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.DeliveryChargesList != null && Model.DeliveryChargesList.Count > 0)
                                {
                                    foreach (var item in Model.DeliveryChargesList)
                                    {
                                        <tr class="deliverychargeslistcss" data-deliverycharges="@item.PinCode">
                                            <td>₹ @item.Price</td>
                                            <td>@item.StateName</td>
                                            <td>@item.CityName</td>
                                            <td>@item.PinCode</td>
                                            <td>@(item.Status == true ? "Active" : "InActive")</td>
                                            <td>
                                                <a href="/setting-master/add-edit-delivery-charges?dcid=@item.DeliveryChargesId" class="btn btn-success btn-sm" data-toggle="Edit" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                                <span id="deleteddccharges_@item.DeliveryChargesId" style="cursor: pointer;" data-dccharges="@item.DeliveryChargesId" class="btn btn-danger btn-sm deleteddccharges" data-toggle="InActive" title="InActive"><span class="fa fa-trash"></span></span>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6" class="text-center text-danger">No record found !</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="custommodal">
    <button type="button" class="btn btn-info btn-lg dodelete hidden" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#DeleteModel"></button>
</div>
@section footer{
    <script src="~/Content/BackEnd_Section/ControlJs/deliverycharges.js"></script>
}