﻿@model ecommerce.Models.Backend.SettingMaster.HomeBannerModel

@{
    ViewBag.Title = "HomeBannerMaster";
    Layout = "~/Views/Shared/_BackendLayoutPage.cshtml";
}

<div class="col-md-12 col-sm-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-list"></i>&nbsp; Home Banner</h2>
                </div>
                <div class="col-sm-6">
                    <div class="text-right">
                        <a href="/setting-master/add-edit-home-banner" class="btn btn-primary btn-sm"><span class="fa fa-plus-circle" style="color:#fff!important;"></span>&nbsp;Add New Banner</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        <div class="clearfix"></div>
                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr style="background:#f6f6f6;">
                                    <th>Banner Image</th>
                                    <th>Heading </th>
                                    <th>Content</th>
                                    <th>RedirectUrl</th>
                                    <th>Show On Home</th>
                                    <th>Type</th>
                                    <th>Order</th>
                                    @*<th>Status</th>*@
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.HomeBannerList != null && Model.HomeBannerList.Count > 0)
                                {
                                    foreach (var item in Model.HomeBannerList)
                                    {
                                        <tr style="background:#f6f6f6;">
                                            <td><a href="@item.ImageName" target="_blank" title="view (click)"><img src="@item.ImageName" style="width:50px;" /></a></td>
                                            <td>@item.Heading </td>
                                            <td>@item.Content</td>
                                            <td>@item.RedirectUrl</td>
                                            <td>@(item.IsShow == true ? "Yes" : "No")</td>
                                            <td>@(char.ToUpper(item.BannerType[0]) + item.BannerType.Substring(1))</td>
                                            <td>
                                                <input id="txtBannerOrder_@item.BannerId" value="@item.BannerOrder" class="bannerorder" data-bannerid="@item.BannerId" style="width: 50px;" onkeypress="return OnlyNumberKey(event);" />
                                                <button data-bannerid="@item.BannerId" class="btn btn-sm btn-success btnSetBannerOrderClass" style="padding: 0rem .5rem!important;" id="btnSetBannerOrder_@item.BannerId">Set</button>
                                            </td>
                                            @*<td>@(item.Status == true ? "Active" : "Not Active")</td>*@
                                            <td>Action</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr style="background:#f6f6f6;">
                                        <td colspan="9" class="text-center text-danger">No record found !</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="custommodal">
    <button type="button" class="btn btn-info btn-lg dodelete hidden" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#DeleteModel"></button>
</div>
@section footer{
    <script src="~/Content/BackEnd_Section/ControlJs/settingmaster.js"></script>
}
