﻿@model ecommerce.Models.Backend.ProductMaster.Product

@{
    ViewBag.Title = "AddEditProduct";
    Layout = "~/Views/Shared/_BackendLayoutPage.cshtml";
}

@section header{
    <link href="~/Content/Common/css/commoncss.css" rel="stylesheet" />
    @*<link href="~/Content/dropdown_search_box/css/select2.min.css" rel="stylesheet" />
        <script src="~/Content/dropdown_search_box/js/select2.min.js"></script>*@
    <style>
        .nav > li > a {
            color: #fff;
        }

        .nav-tabs {
            background: #2a3f54;
        }

            .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
                color: #495057;
                background-color: #d4d4d4;
            }

            .nav-tabs .nav-link {
                border: 1px solid transparent;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
            }

        .panel-body {
            padding: 15px;
        }

        .panel-primary {
            border-color: #337ab7 !important;
        }

        .panel {
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }
    </style>
}
<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-plus-square"></i>&nbsp;Add / Edit Product</h2>
                </div>
                <div class="col-sm-6">
                    <div class="text-right">
                        <a href="/product-master/product-list" class="btn btn-primary btn-sm"><span class="fa fa-reply" style="color:#fff!important;"></span>&nbsp;Product List</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="x_content">
            <div class="col-sm-12" id="manualpanel">
                <ul class="row nav nav-tabs" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link active" data-toggle="tab" href="#ProductDetail" id="tabProductDetail">Product Detail</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Image" id="tabImages">Image</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#Descriptions" id="tabDescriptions">Descriptions</a>
                    </li>

                    @*<li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#RatePerDay" id="tabRatePerDay">Rate Per Day</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#AllocationPerDay" id="tabAllocationPerDay">Allocation Per Day</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#SoldOut" id="tabSoldOut">Sold Out</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Offer" id="tabOffer">Offer</a>
                        </li>*@
                </ul>
                <!-- Tab panes -->
                <div class="clearfix"></div><br />
                <div class="tab-content">
                    <div id="ProductDetail" class="tab-pane active">
                        @if (TempData["RecordInserted"] != null)
                        {
                            <div class="x_content bs-example-popovers">
                                <div class="alert alert-success alert-dismissible " role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <strong>Success!</strong> @TempData["RecordInserted"].ToString();
                                </div>
                            </div>
                        }

                        @*@using (Html.BeginForm("AddEditProduct", "ProductMaster", new { id = Model.ProductId }, FormMethod.Post))
                            {*@
                        @Html.HiddenFor(p => p.ProductId)
                        <div class="row form-group">
                            <div class="col-md-2">
                                <b>Product Name <span class="required">*</span></b>
                            </div>
                            <div class="col-md-4 form-validation">
                                @*<input type="text" id="txtProductName" class="form-control" />*@
                                @Html.TextBoxFor(p => p.ProductName, new { @class = "form-control ", placeholder = "product name" })
                            </div>
                            <div class="col-md-2">
                                <b>Product Code <span class="required">*</span></b>
                            </div>
                            <div class="col-md-4 form-validation">
                                @*<input type="text" id="txtProductCode" class="form-control" />*@
                                @Html.TextBoxFor(p => p.ProductCode, new { @class = "form-control ", placeholder = "product code" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <b>Purchase Price <span class="required">*</span></b>
                            </div>
                            <div class="col-md-4 form-validation">
                                @*<input type="text" id="txtPurchasePrice" class="form-control" onkeypress="return isDecimalOnlyKey(event);" />*@
                                @Html.TextBoxFor(p => p.PurchasePrice, new { @class = "form-control ", placeholder = "purchase price", @onkeypress = "return isDecimalOnlyKey(event);" })
                            </div>
                            <div class="col-md-2">
                                <b>Sale Price <span class="required">*</span></b>
                            </div>
                            <div class="col-md-4 form-validation">
                                @*<input type="text" id="txtSalePrice" class="form-control" onkeypress="return isDecimalOnlyKey(event);" />*@
                                @Html.TextBoxFor(p => p.SalePrice, new { @class = "form-control ", placeholder = "sale price", @onkeypress = "return isDecimalOnlyKey(event);" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <b>Discount (%)</b>
                            </div>
                            <div class="col-md-4 form-validation">
                                @*<input type="text" id="txtDiscount" class="form-control" onkeypress="return isDecimalOnlyKey(event);" />*@
                                @Html.TextBoxFor(p => p.DiscountPer, new { @class = "form-control ", placeholder = "discount(%)", maxlength = 2, @onkeypress = "return isDecimalOnlyKey(event);" })
                            </div>
                            <div class="col-md-2">
                                <b>
                                    Offer
                                </b>
                            </div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.Offer, new SelectList(new List<Object>{
                                new { value = "new" , text = "New" },new { value = "sale" , text = "Sale"},new { value = "soldout" , text = "Sold Out"}}, "value", "text"), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <b>Unit <span class="required">*</span></b>
                            </div>
                            <div class="col-md-4 form-validation">
                                @Html.DropDownListFor(m => m.UnitId, Model.UnitList, "Select Unit", new { @class = "form-control " })
                            </div>
                            <div class="col-md-2">
                                <b>Delivery Time </b>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(p => p.DeliveryTime, new { @class = "form-control ", placeholder = "delivery time" })
                                @*<input type="text" id="txtDeliveryTime" class="form-control" />*@
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <b>Menu <span class="required">*</span></b>
                            </div>
                            <div class="col-md-4 form-validation">
                                @Html.DropDownListFor(m => m.MenuId, Model.MenuList, "Select Menu", new { @class = "form-control ", @onchange = "FillCategory()" })
                                @*<select class="form-control" id="ddlMenu" name="ddlMenu">
                                        <option value="0">Select Menu</option>
                                        <option value="1">Fruits & Vegetables</option>
                                    </select>*@
                            </div>
                            <div class="col-md-2">
                                <b>Category @*<span class="required">*</span>*@</b>
                            </div>
                            <div class="col-md-4 form-validation">
                                @Html.DropDownListFor(m => m.CategoryId, Model.CategoryList, "Select Category", new { @class = "form-control ", @onchange = "FillSubCategory()" })
                                @*<select class="form-control" id="ddlCategory" name="ddlCategory">
                                        <option value="">Select Category</option>
                                        <option value="1">Fresh Vegetables</option>
                                    </select>*@
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <b>Sub Category @*<span class="required">*</span>*@</b>
                            </div>
                            <div class="col-md-4 form-validation">
                                @Html.DropDownListFor(m => m.SubCategoryId, Model.SubCategoryList, "Select Sub Category", new { @class = "form-control " })
                                @*<select class="form-control" id="ddlSubCategory" name="ddlSubCategory">
                                        <option value="">Select Sub Category</option>
                                        <option value="1">Potato, Onion & Tomato</option>
                                    </select>*@
                            </div>
                            <div class="col-md-2">
                                <b>Brand <span class="required">*</span></b>
                            </div>
                            <div class="col-md-4 form-validation">
                                @Html.DropDownListFor(m => m.BrandId, Model.BrandList, "Select Brand", new { @class = "form-control " })
                                @*<select class="form-control" id="ddlBrand" name="ddlBrand">
                                        <option value="">Select Brand</option>
                                        <option value="1027">Fresho</option>
                                    </select>*@
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <b>Featured Product </b>
                            </div>
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.IsFeaturedProducts, new SelectList(new List<Object>{
                                new { value = "false" , text = "No" },
                                new { value = "true" , text = "Yes"}
                             }, "value", "text"), new { @class = "form-control" })
                                @*<select class="form-control" id="ddlFeaturedProduct" name="ddlFeaturedProduct">
                                        <option value="false">No</option>
                                        <option value="true">Yes</option>
                                    </select>*@
                            </div>
                        </div>
                        @*<div class="row form-group">
                                <div class="col-md-2">
                                    <b>Description <span class="required">*</span></b>
                                </div>
                                <div class="col-md-10 form-validation">
                                    <textarea class="form-control text-box multi-line" id="txtDescription" name="Description" rows="3"></textarea>
                                </div>
                            </div>*@
                        <div class="clearfix"></div><br />
                        <div class="item form-group pull-right">
                            <button type="submit" class="btn btn-success" id="btnProductSave">Submit</button>
                        </div>
                        @*}*@
                    </div>
                    <div class="clearfix"></div><br />
                    <div id="Image" class="tab-pane fade">
                        <div class="row form-group">
                            <div class="col-md-2">
                                <b>Image Name <span class="required">*</span></b>
                            </div>
                            <div class="col-md-4 form-validation">
                                <input id="txtImgName" class="form-control" type="text" name="txtImgName" />
                            </div>
                            <div class="col-md-2">
                                <b>Image <span class="required">*</span></b>
                            </div>
                            <div class="col-md-4 form-validation">
                                <input type="file" class="form-control" id="txtProImage" name="txtProImage" style="padding: 6px;" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-success pull-right" value="Submit" onclick="return InsertImageDetails();" />
                            </div>
                        </div>
                        <div class="clearfix"></div><hr />
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <div class="form-group" id="BindImageList">                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div><br />
                    <div id="Descriptions" class="tab-pane fade">
                        <div class="row form-group">
                            <div class="col-md-2">
                                <b>Description 1 <span class="required">*</span></b>
                            </div>
                            <div class="col-md-10 form-validation">
                                <textarea class="form-control text-box multi-line" id="txtPDescription1" name="txtPDescription1" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <b>Description 2 </b>
                            </div>
                            <div class="col-md-10 ">
                                <textarea class="form-control text-box multi-line" id="txtPDescription2" name="txtPDescription2" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <b>Description 3 </b>
                            </div>
                            <div class="col-md-10 ">
                                <textarea class="form-control text-box multi-line" id="txtPDescription3" name="txtPDescription3" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <b>Description 4 </b>
                            </div>
                            <div class="col-md-10 ">
                                <textarea class="form-control text-box multi-line" id="txtPDescription4" name="txtPDescription4" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                <b>Description 5 </b>
                            </div>
                            <div class="col-md-10 ">
                                <textarea class="form-control text-box multi-line" id="txtPDescription5" name="txtPDescription5" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-success pull-right" value="Submit" id="btnDescSubmit" onclick="return InsertDescriptionDetails();" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="hdnProdtId" type="hidden" />
<button type="button" class="btn btn-info btn-lg prodsuccessmessage hidden" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#SuccessMsg"></button>
<div class="modal fade" id="SuccessMsg" role="dialog">
    <div class="modal-dialog modal-sm" style="margin:15% auto!important;">
        <!-- Modal content-->
        <div class="modal-content" style="text-align: center;border-radius: 5px !important;">
            <div class="modal-header" style="padding: 12px;">
                <h5 class="modal-title promodelheading"><span id="iconid"></span><span class="spanmsg"></span></h5>
            </div>
            <div class="modal-body" style="padding-left:20px!important;">
                <h6 class="prosucessmsg"></h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger prodtsuccesscancel" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

@*<button type="button" class="btn btn-info btn-lg springhoteldetail hidden" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#myModal"></button>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog" style="top: 180px; width:400px;">
            <div class="modal-content" style="width: 250px">
                <div class="modal-body">
                    <div class="ResultPageLoding center padding1">
                        <img alt="loading" src="~/Content/image/loadingimg.gif" class="center-block" />
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="close closespinner" data-dismiss="modal">&times;</button>
    </div>*@

@section footer{
    <script src="~/Content/BackEnd_Section/ControlJs/product.js"></script>
}