﻿@model ecommerce.Models.Backend.ProductMaster.Product
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_BackendLayoutPage.cshtml";
}

@section header{
    <style>
        .pagination {
            display: inline-block;
            padding-left: 0;
            margin: 20px 0;
            border-radius: 4px;
            margin: 10px 0;
        }

            .pagination > li {
                display: inline;
            }

                .pagination > li:first-child > a, .pagination > li:first-child > span {
                    margin-left: 0;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }

                .pagination > li > a, .pagination > li > span {
                    position: relative;
                    float: left;
                    padding: 6px 12px;
                    margin-left: -1px;
                    line-height: 1.42857143;
                    color: #337ab7;
                    text-decoration: none;
                    background-color: #fff;
                    border: 1px solid #ddd;
                }

                .pagination > li:last-child > a, .pagination > li:last-child > span {
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }

        .badge-info {
            background-color: #4ba90a !important;
        }
    </style>
}

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-list-ul"></i>&nbsp;Product List</h2>
                </div>
                <div class="col-sm-6">
                    @*@if (Model.SupplierType != "admin")
                        {*@
                    <div class="text-right">
                        <a href="/product-master/add-edit-product" id="btnAddProdt" class="btn btn-success btn-sm"><span class="fa fa-plus-circle" style="color:#fff!important;"></span>&nbsp;Add New Product</a>
                    </div>
                    @*}*@
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        @if (Model.ProductList != null && Model.ProductList.Count > 0)
                        {
                            <div class="col-sm-4">
                                <div class="row input-group">
                                    <input type="text" class="form-control" id="txtProductSearch" placeholder="Search by Product Name" />
                                    @*<span class="input-group-btn">
                                            <button type="button" class="btn btn-info"><i class="fa fa-search"></i>&nbsp;Search</button>
                                        </span>*@
                                </div>
                            </div>
                        }
                        <div class="clearfix"></div>
                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr style="background:#f6f6f6;">
                                    <th style="width:50px;">Image</th>
                                    <th>Product&nbsp;Name</th>
                                    <th>Code/Status</th>
                                    <th>Menu/Category/SubCategory</th>
                                    <th>Price</th>
                                    <th>Discount</th>
                                    <th>Unit</th>
                                    <th>Spplier</th>
                                    @*@if (Model.SupplierType != "admin")
                                        {*@
                                    <th>Action</th>
                                    @*}*@
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.ProductList != null && Model.ProductList.Count > 0)
                                {
                                    foreach (var item in Model.ProductList)
                                    {
                                        <tr class="productlistcss" data-productname="@item.ProductName">
                                            <td style="text-align: center;">
                                                @if (item.ProductImage != null && item.ProductImage.Count > 0)
                                                {
                                                    <img src="@item.ProductImage[0].ImageUrl" class="img-responsive" style="height:40px;" />
                                                }
                                                else
                                                {
                                                    <img src="~/Content/image/no-image.png" class="img-responsive" style="height:40px;" />
                                                }
                                            </td>
                                            <td>@item.ProductName</td>
                                            <td>@item.ProductCode&nbsp;<span class="badge badge-info pull-right">Active</span></td>
                                            <td>
                                                @(item.MenuName + ((!string.IsNullOrEmpty(item.CategoryName) ? "/" + item.CategoryName : string.Empty) + ((!string.IsNullOrEmpty(item.SubCategoryName) ? "/" + item.SubCategoryName : string.Empty))))
                                            </td>
                                            <td>₹&nbsp;@item.SalePrice</td>
                                            <td>@(item.DiscountPer > 0 ? item.DiscountPer + " %" : "---") </td>
                                            <td>@item.UnitName</td>
                                            <td>@item.SupplierName</td>
                                            @*@if (Model.SupplierType != "admin")
                                                {*@
                                            <td>
                                                <a href="/product-master/add-edit-product?productid=@item.ProductId&status=existing" class="btn btn-success btn-sm" data-toggle="Edit" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                                <span id="btnDeleteProduct_@item.ProductId" style="cursor:pointer;" data-productid="@item.ProductId" class="btn btn-danger btn-sm deletebackprodt" data-toggle="InActive" title="InActive"><span class="fa fa-trash delproinnercls_@item.ProductId"></span></span>
                                            </td>
                                            @*}*@
                                        </tr>
                                    }
                                    <tr class="norecordfound hidden">
                                        <td colspan="9" class="text-center text-danger">No record found !</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="9" class="text-center text-danger">No record found !</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    @*<div class="pagination-container pull-right">
                            <ul class="pagination">
                                <li class="PagedList-skipToPrevious">
                                    <a href="/Categories?page=2" rel="prev">«</a>
                                </li>
                                <li>
                                    <a href="/Categories?page=1">1</a>
                                </li>
                                <li><a href="/Categories?page=2">2</a></li>
                                <li class="active"><a>3</a></li>
                                <li><a href="/Categories?page=4">4</a></li>
                                <li><a href="/Categories?page=5">5</a></li>
                                <li><a href="/Categories?page=6">6</a></li>
                                <li><a href="/Categories?page=7">7</a></li>
                                <li class="PagedList-skipToNext"><a href="/Categories?page=4" rel="next">»</a></li>
                            </ul>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div id="custommodal">
    <button type="button" class="btn btn-info btn-lg dodelete hidden" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#DeleteModel"></button>
</div>
@section footer
{
    <script src="~/Content/BackEnd_Section/ControlJs/product.js"></script>
}
