﻿
    <div class="horizontal-menu-wrap">        
        <div class="horizontal-menu">
            <ul class="smartmenu magebig-nav">
                <li class="level0 nav-1 level-top mega_left parent"><a class="level-top" href="#"><span>Rice</span></a></li>
                <li class="level0 nav-1 level-top mega_left parent"><a class="level-top" href="#"><span>Test1</span></a></li>
                <li class="level0 nav-1 level-top mega_left parent"><a class="level-top" href="#"><span>Test2</span></a></li>
                <li class="level0 nav-1 level-top mega_left parent"><a class="level-top" href="#"><span>Test3</span></a></li>
                <li class="level0 nav-1 level-top mega_left parent"><a class="level-top" href="#"><span>Test4</span></a></li>
                <li class="level0 nav-1 level-top mega_left parent"><a class="level-top" href="#"><span>Test5</span></a></li>
            </ul>
        </div>
    </div>