﻿@model ecommerce.Models.FrontMenuModel.FrontMainCategoryModel

@if (Model.FrontMainCategoryList != null && Model.FrontMainCategoryList.Count > 0)
{
    <ul class="smartmenu magebig-nav">
        @foreach (var menu in Model.FrontMainCategoryList)
        {
            <li class="level0 nav-1 level-top mega_left parent">
                <a href="#" class="level-top"><span>@menu.MenuName</span></a>
                <i class="mbi mbi-ios-arrow-down"></i>
                @if (menu.FrontCategoryList != null && menu.FrontCategoryList.Count > 0)
                {
                    <div class="level0 submenu show-sub" style="width: 527px; height:auto;">
                        <div class="mbmenu-block mbmenu-block-center menu-items col12-12 itemgrid itemgrid-2col">
                            <ul class="level0">
                                @foreach (var category in menu.FrontCategoryList)
                                {
                                    string mymenuurl = System.Text.RegularExpressions.Regex.Replace(menu.MenuName, @"[^0-9a-zA-Z]+", ",");
                                    string mycatuurl = System.Text.RegularExpressions.Regex.Replace(category.CategoryName, @"[^0-9a-zA-Z]+", ",");

                                    <li class="level1 groups item nav-1-1 level-top mega_left parent" style="float: left;">
                                        <a href="/pc/@mymenuurl.ToLower().Replace(",","-")/@menu.MenuId/@mycatuurl.ToLower().Replace(",","-")/@category.CategoryId" class="level-top"><span class="title_group"><span class="fa fa-hand-o-down"></span> @category.CategoryName</span></a>

                                        @if (category.FrontSubCategoryList != null && category.FrontSubCategoryList.Count > 0)
                                        {
                                            <div class="groups-wrapper">
                                                @foreach (var subcategory in category.FrontSubCategoryList)
                                                {
                                                    string mysubcatuurl = System.Text.RegularExpressions.Regex.Replace(subcategory.SubCategoryName, @"[^0-9a-zA-Z]+", ",");
                                                    <ul>
                                                        <li><a href="/pc/@mymenuurl.ToLower().Replace(",","-")/@menu.MenuId/@mycatuurl.ToLower().Replace(",","-")/@category.CategoryId/@mysubcatuurl/@subcategory.SubCategoryId"><span class="fa fa-hand-o-right"></span> @subcategory.SubCategoryName</a></li>

                                                    </ul>
                                                }
                                            </div>
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </li>
        }
    </ul>
}
