﻿@model ecommerce.Models.Frontend.FrontHomeModel.FrontHomeProductBind

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_NewFrontMaster.cshtml";
}
@section header{
    @*<link href="~/Content/css/owl.carousel.css" rel="stylesheet" />
        <script src="~/Content/Js/owl.carousel.min.js"></script>*@
}

<div id="common-home" class="container-fluid">
    <div class="row">
        <div id="content" class="col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="Leftbanner">
                            <div class=" banner-effect">
                                <a href="#">
                                    <img src="~/Content/NewfrontEnd/image/catalog/LeftBannerImage.jpg" alt="banner" class="img-responsive" style="height: 436px;" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-8 slide-padding">
                        <div class="homeslide">
                            <div id="slideshow0" class="owl-carousel owl-theme">
                                <div class="text-center"><a href="#"><img src="~/Content/NewfrontEnd/image/cache/catalog/slider/bannersecond.jpg" alt="slider" class="img-responsive" /></a></div>
                                <div class="text-center"><a href="#"><img src="~/Content/NewfrontEnd/image/cache/catalog/slider/slider-01-575x450.png" alt="slider2" class="img-responsive" /></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 sliderightbanner hidden-sm hidden-xs"></div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#slideshow0").owlCarousel({
                        itemsCustom: [
                            [0, 1]
                        ],
                        autoPlay: 2500,
                        animateIn: 'fadeIn',
                        animateOut: 'fadeOut',
                        loop: true,
                        navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                        navigation: true,
                        pagination: false
                    });
                });
            </script>
            <div class="rightbanner">
                <div class=" banner-effect">
                    <a href="#">
                        <img src="~/Content/NewfrontEnd/image/cache/catalog/rightsidebanner/right-2-263x215.jpg" alt="banner" class="img-responsive" />
                    </a>
                </div>
                <div class=" banner-effect">
                    <a href="#">
                        <img src="~/Content/NewfrontEnd/image/cache/catalog/rightsidebanner/right-1-263x215.jpg" alt="banner" class="img-responsive" />
                    </a>
                </div>
            </div>
            @*@Html.Action("TopCategories", "Default")*@
            <div class="container">
                <div class="cat-img">
                    <div class="pro-bg pro-nepr bindtopcategory"></div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#category-name").owlCarousel({
                        itemsCustom: [
                            [0, 1],
                            [500, 2],
                            [601, 1],
                            [750, 2],
                            [768, 1],
                            [992, 1],
                            [1200, 2],
                            [1401, 3],
                            [1850, 3]
                        ],
                        autoPlay: 6000,
                        navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                        navigation: true,
                        pagination: false
                    });
                });
            </script>
            <div class="container">
                <div class="category-tab pro-bg pro-nepr">
                    <h2 class="pull-left">All Proudcts</h2>
                    <div class="visible-xs catbe"><button type="button" class="toggle catb collapsed" data-toggle="collapse" data-target="#cat_tab" aria-expanded="false"></button></div>
                    <ul class="nav nav-tabs collapse footer-collapse text-right bindfeaturedmenus" id="cat_tab"></ul>
                    <hr>
                    <div class="tab-content bindallfeatureproduct"></div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $(".tab-content .tab-pane #cattab").owlCarousel({
                        itemsCustom: [
                            [0, 2],
                            [375, 2],
                            [600, 3],
                            [768, 3],
                            [992, 4],
                            [1200, 5]
                        ],
                        // autoPlay: 1000,
                        navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                        navigation: true,
                        pagination: false
                    });
                });
            </script>
            <div class="container">
                <div class="topbanner">
                    <div class="row">
                        <div class="imgbanner col-xs-4 col-md-4 col-sm-4 firstbanner">
                            <div class=" banner-effect">
                                <a href="#">
                                    <img src="~/Content/NewfrontEnd/image/cache/catalog/allbanner/365X400-1-365x400.png" alt="banner" class="img-responsive" />
                                </a>
                            </div>
                        </div>

                        <div class="cbanner col-xs-4 col-md-4 col-sm-4">
                            <div class="banner-effect">
                                <a href="#">
                                    <img src="~/Content/NewfrontEnd/image/cache/catalog/allbanner/center-banner-1-380x190.png" alt="banner" class="img-responsive center-block" />
                                </a>
                            </div>
                            <div class="banner-effect">
                                <a href="#">
                                    <img src="~/Content/NewfrontEnd/image/cache/catalog/allbanner/center-banner-2-380x190.png" alt="banner" class="img-responsive center-block" />
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-4 secondbanner">
                            <div class="sellbanner banner-effect">
                                <a href="#">
                                    <img src="~/Content/NewfrontEnd/image/cache/catalog/allbanner/365X400-365x400.png" alt="banner" class="img-responsive center-block" />
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="container pro-bg">
                <h2 class="home-head pull-left tab-head">Treding products</h2>
                @*<ul class="nav nav-tabs pro-tab pull-right">
                        <li class="active"><a href="#featurep" data-toggle="tab">Featured</a></li>
                        <li><a href="#bestp" data-toggle="tab">BestSeller</a></li>
                        <li><a href="#latestp" data-toggle="tab">Latest</a></li>
                    </ul>*@
                <hr>
                <div class="tab-content pro-nepr">

                    <div class="tab-pane active" id="featurep">
                        <div class="pro-nepr">
                            <div class="row thummargin">
                                <div id="cattab" class="owl-theme owl-carousel">
                                    @if (Model.FrontHomeProductBindList != null && Model.FrontHomeProductBindList.Count > 0)
                                    {
                                        foreach (var item in Model.FrontHomeProductBindList)
                                        {
                                            if (item.ProductList != null && item.ProductList.Count > 0)
                                            {
                                                foreach (var product in item.ProductList)
                                                {
                                                    <div class="product-layout col-xs-12">
                                                        <div class="product-thumb transition">
                                                            <div class="image">
                                                                @if (product.FrontProductImage != null && product.FrontProductImage.Count > 0)
                                                                {
                                                                    <a href="@product.RedirectUrl">
                                                                        <img src="@product.FrontProductImage[0].ImageUrl" alt="@product.ProductName" title="@product.ProductName" class="img-responsive center-block" />
                                                                    </a>
                                                                }
                                                                @if (product.DiscountPer > 0)
                                                                {
                                                                    <p class="sale-tag new">Save @product.DiscountPer%</p>
                                                                }
                                                            </div>
                                                            <div class="caption text-center">
                                                                <h4>
                                                                    <a href="@product.RedirectUrl">
                                                                        @product.ProductName
                                                                    </a>
                                                                </h4>
                                                                <p class="price">
                                                                    @if (product.DiscountPer > 0)
                                                                    {
                                                                        <span class="price-new">₹ @(String.Format("{0:0.00}", product.SalePriceWithDiscount))</span> <span class="price-old">₹ @product.SalePrice</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="price-new">₹ @product.SalePrice</span>
                                                                    }
                                                                </p>
                                                                <div class="hidden">
                                                                    <span id="frontprodetails_@product.ProductId" class="hidden frontprodetails" data-productid="@product.ProductId" data-productname="@product.ProductName" data-productimgurl="@(product.FrontProductImage.Count>0?product.FrontProductImage[0].ImageUrl:"~/Content/image/noproduct.png")" data-saleprice="@product.SalePrice" data-discountprice="@product.Discount" data-discountper="@product.DiscountPer" data-unitid="@product.UnitId" data-unitname="@product.UnitName"></span>
                                                                </div>
                                                                <!-- quantity option -->
                                                                <div class="input-group col-xs-12 col-sm-12 qop">
                                                                    <label class="control-label col-sm-2 col-xs-2 qlable" for="input-quantity"> Qty </label>
                                                                    <input type="number" name="quantity" min="1" value="1" step="1" id="fqty_@product.ProductId" class="form-control col-sm-2 col-xs-9 qtyq" />
                                                                    <button type="button" class="acart frontaddtocart" data-proid="@product.ProductId">
                                                                        <i class="fa fa-shopping-basket fasbasket_@product.ProductId" aria-hidden="true"></i>
                                                                    </button>
                                                                </div>
                                                                <!-- quantity option End -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        }
                                    }
                                    @*<div class="product-layout col-xs-12">
                                            <div class="product-thumb transition">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="~/Content/NewfrontEnd//image/cache/catalog/product/07-700x700.png" alt="Canon EOS 5D" title="Canon EOS 5D" class="img-responsive center-block" />
                                                    </a>

                                                    <p class="sale-tag new">Save 20%</p>
                                                </div>
                                                <div class="caption text-center">
                                                    <h4>
                                                        <a href="#">
                                                            Canon EOS 5D
                                                        </a>
                                                    </h4>
                                                    <p class="price">
                                                        <span class="price-new">122.00</span> <span class="price-old">130.00</span>
                                                    </p>
                                                    <div class="input-group col-xs-12 col-sm-12 qop">
                                                        <label class="control-label col-sm-2 col-xs-2 qlable" for="input-quantity"> Qty </label>
                                                        <input type="number" name="quantity" min="1" value="1" step="1" id="fqty_30" class="form-control col-sm-2 col-xs-9 qtyq" />
                                                        <button type="button" class="acart" data-loading-text="Loading..."><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-layout col-xs-12">
                                            <div class="product-thumb transition">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="~/Content/NewfrontEnd/image/cache/catalog/product/15-700x700.png" alt="Nikon D300" title="Nikon D300" class="img-responsive center-block" />
                                                    </a>
                                                </div>
                                                <div class="caption text-center">
                                                    <h4>
                                                        <a href="#">Nikon D300</a>
                                                    </h4>
                                                    <p class="price">
                                                        198.00
                                                    </p>

                                                    <div class="input-group col-xs-12 col-sm-12 qop">
                                                        <label class="control-label col-sm-2 col-xs-2 qlable" for="input-quantity"> Qty </label>
                                                        <input type="number" name="quantity" min="1" value="1" step="1" id="fqty_31" class="form-control col-sm-2 col-xs-9 qtyq" />
                                                        <button type="button" class="acart" data-loading-text="Loading..."><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-layout col-xs-12">
                                            <div class="product-thumb transition">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="~/Content/NewfrontEnd/image/cache/catalog/product/05-700x700.png" alt="iPod Touch" title="iPod Touch" class="img-responsive center-block" />
                                                    </a>
                                                </div>
                                                <div class="caption text-center">
                                                    <h4><a href="#">iPod Touch</a></h4>
                                                    <p class="price">  <span class="price-new">125.00</span> <span class="price-old">127.00</span></p>

                                                    <div class="input-group col-xs-12 col-sm-12 qop">
                                                        <label class="control-label col-sm-2 col-xs-2 qlable" for="input-quantity"> Qty </label>
                                                        <input type="number" name="quantity" min="1" value="1" step="1" id="fqty_32" class="form-control col-sm-2 col-xs-9 qtyq" />
                                                        <button type="button" class="acart" data-loading-text="Loading..."><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-layout col-xs-12">
                                            <div class="product-thumb transition">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="/Content/NewfrontEnd/image/cache/catalog/product/18-700x700.png" alt="Samsung SyncMaster 941BW" title="Samsung SyncMaster 941BW" class="img-responsive center-block" />
                                                    </a>
                                                </div>
                                                <div class="caption text-center">
                                                    <h4><a href="#">Samsung SyncMaster 941BW</a></h4>
                                                    <p class="price">
                                                        242.00
                                                    </p>

                                                    <div class="input-group col-xs-12 col-sm-12 qop">
                                                        <label class="control-label col-sm-2 col-xs-2 qlable" for="input-quantity"> Qty </label>
                                                        <input type="number" name="quantity" min="1" value="1" step="1" id="fqty_33" class="form-control col-sm-2 col-xs-9 qtyq" />
                                                        <button type="button" class="acart" data-loading-text="Loading..."><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-layout col-xs-12">
                                            <div class="product-thumb transition">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="/Content/NewfrontEnd/image/cache/catalog/product/07-700x700.png" alt="iPod Shuffle" title="iPod Shuffle" class="img-responsive center-block" />
                                                    </a>
                                                </div>
                                                <div class="caption text-center">
                                                    <h4><a href="#">iPod Shuffle</a></h4>
                                                    <p class="price">
                                                        $122.00
                                                    </p>

                                                    <div class="input-group col-xs-12 col-sm-12 qop">
                                                        <label class="control-label col-sm-2 col-xs-2 qlable" for="input-quantity"> Qty </label>
                                                        <input type="number" name="quantity" min="1" value="1" step="1" id="fqty_34" class="form-control col-sm-2 col-xs-9 qtyq" />
                                                        < <button type="button" class="acart" data-loading-text="Loading..."><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-layout col-xs-12">
                                            <div class="product-thumb transition">
                                                <div class="image">
                                                    <a href="index5e0b.html?route=product/product&amp;product_id=36"><img src="/Content/NewfrontEnd/image/cache/catalog/product/12-700x700.png" alt="iPod Nano" title="iPod Nano" class="img-responsive center-block" /></a>


                                                    <p class="sale-tag sale">Save 30%</p>
                                                </div>
                                                <div class="caption text-center">
                                                    <h4><a href="#">iPod Nano</a></h4>
                                                    <p class="price">  <span class="price-new">186.00</span> <span class="price-old">222.00</span> </p>

                                                    <div class="input-group col-xs-12 col-sm-12 qop">
                                                        <label class="control-label col-sm-2 col-xs-2 qlable" for="input-quantity"> Qty </label>
                                                        <input type="number" name="quantity" min="1" value="1" step="1" id="fqty_36" class="form-control col-sm-2 col-xs-9 qtyq" />
                                                        <input type="hidden" name="product_id" value="" />

                                                        <button type="button" class="acart" data-loading-text="Loading..."><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("#feature").owlCarousel({
                                itemsCustom: [
                                    [0, 2],
                                    [375, 2],
                                    [600, 3],
                                    [768, 3],
                                    [992, 4],
                                    [1200, 5]
                                ],
                                // autoPlay: 1000,
                                navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                                navigation: true,
                                pagination: false
                            });
                        });
                    </script>
                    @* <div class="tab-pane" id="bestp">
                            <div class="row thummargin">
                                <div id="cattab" class="owl-theme owl-carousel">
                                    <div class="product-layout col-xs-12">
                                        <div class="product-thumb transition">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="~/Content/NewfrontEnd//image/cache/catalog/product/07-700x700.png" alt="Canon EOS 5D" title="Canon EOS 5D" class="img-responsive center-block" />
                                                </a>

                                                <p class="sale-tag new">Save 20%</p>
                                            </div>
                                            <div class="caption text-center">
                                                <h4>
                                                    <a href="#">
                                                        Canon EOS 5D
                                                    </a>
                                                </h4>
                                                <p class="price">
                                                    <span class="price-new">122.00</span> <span class="price-old">130.00</span>
                                                </p>

                                                <div class="input-group col-xs-12 col-sm-12 qop">
                                                    <label class="control-label col-sm-2 col-xs-2 qlable" for="input-quantity"> Qty </label>
                                                    <input type="number" name="quantity" min="1" value="1" step="1" id="fqty_30" class="form-control col-sm-2 col-xs-9 qtyq" />
                                                    <button type="button" class="acart" data-loading-text="Loading..."><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-layout col-xs-12">
                                        <div class="product-thumb transition">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="~/Content/NewfrontEnd/image/cache/catalog/product/15-700x700.png" alt="Nikon D300" title="Nikon D300" class="img-responsive center-block" />
                                                </a>
                                            </div>
                                            <div class="caption text-center">
                                                <h4>
                                                    <a href="#">Nikon D300</a>
                                                </h4>
                                                <p class="price">
                                                    198.00
                                                </p>

                                                <div class="input-group col-xs-12 col-sm-12 qop">
                                                    <label class="control-label col-sm-2 col-xs-2 qlable" for="input-quantity"> Qty </label>
                                                    <input type="number" name="quantity" min="1" value="1" step="1" id="fqty_31" class="form-control col-sm-2 col-xs-9 qtyq" />
                                                    <button type="button" class="acart" data-loading-text="Loading..."><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-layout col-xs-12">
                                        <div class="product-thumb transition">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="~/Content/NewfrontEnd/image/cache/catalog/product/05-700x700.png" alt="iPod Touch" title="iPod Touch" class="img-responsive center-block" />
                                                </a>
                                            </div>
                                            <div class="caption text-center">
                                                <h4><a href="#">iPod Touch</a></h4>
                                                <p class="price">  <span class="price-new">125.00</span> <span class="price-old">127.00</span></p>

                                                <div class="input-group col-xs-12 col-sm-12 qop">
                                                    <label class="control-label col-sm-2 col-xs-2 qlable" for="input-quantity"> Qty </label>
                                                    <input type="number" name="quantity" min="1" value="1" step="1" id="fqty_32" class="form-control col-sm-2 col-xs-9 qtyq" />
                                                    <button type="button" class="acart" data-loading-text="Loading..."><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-layout col-xs-12">
                                        <div class="product-thumb transition">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="/Content/NewfrontEnd/image/cache/catalog/product/18-700x700.png" alt="Samsung SyncMaster 941BW" title="Samsung SyncMaster 941BW" class="img-responsive center-block" />
                                                </a>
                                            </div>
                                            <div class="caption text-center">
                                                <h4><a href="#">Samsung SyncMaster 941BW</a></h4>
                                                <p class="price">
                                                    242.00
                                                </p>

                                                <div class="input-group col-xs-12 col-sm-12 qop">
                                                    <label class="control-label col-sm-2 col-xs-2 qlable" for="input-quantity"> Qty </label>
                                                    <input type="number" name="quantity" min="1" value="1" step="1" id="fqty_33" class="form-control col-sm-2 col-xs-9 qtyq" />
                                                    <button type="button" class="acart" data-loading-text="Loading..."><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-layout col-xs-12">
                                        <div class="product-thumb transition">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="/Content/NewfrontEnd/image/cache/catalog/product/07-700x700.png" alt="iPod Shuffle" title="iPod Shuffle" class="img-responsive center-block" />
                                                </a>
                                            </div>
                                            <div class="caption text-center">
                                                <h4><a href="#">iPod Shuffle</a></h4>
                                                <p class="price">
                                                    $122.00
                                                </p>

                                                <div class="input-group col-xs-12 col-sm-12 qop">
                                                    <label class="control-label col-sm-2 col-xs-2 qlable" for="input-quantity"> Qty </label>
                                                    <input type="number" name="quantity" min="1" value="1" step="1" id="fqty_34" class="form-control col-sm-2 col-xs-9 qtyq" />
                                                    < <button type="button" class="acart" data-loading-text="Loading..."><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-layout col-xs-12">
                                        <div class="product-thumb transition">
                                            <div class="image">
                                                <a href="index5e0b.html?route=product/product&amp;product_id=36"><img src="/Content/NewfrontEnd/image/cache/catalog/product/12-700x700.png" alt="iPod Nano" title="iPod Nano" class="img-responsive center-block" /></a>


                                                <p class="sale-tag sale">Save 30%</p>
                                            </div>
                                            <div class="caption text-center">
                                                <h4><a href="#">iPod Nano</a></h4>
                                                <p class="price">  <span class="price-new">186.00</span> <span class="price-old">222.00</span> </p>

                                                <div class="input-group col-xs-12 col-sm-12 qop">
                                                    <label class="control-label col-sm-2 col-xs-2 qlable" for="input-quantity"> Qty </label>
                                                    <input type="number" name="quantity" min="1" value="1" step="1" id="fqty_36" class="form-control col-sm-2 col-xs-9 qtyq" />
                                                    <input type="hidden" name="product_id" value="" />

                                                    <button type="button" class="acart" data-loading-text="Loading..."><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("#best").owlCarousel({
                                itemsCustom: [
                                    [0, 2],
                                    [375, 2],
                                    [600, 3],
                                    [768, 3],
                                    [992, 4],
                                    [1200, 5]
                                ],
                                // autoPlay: 1000,
                                navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                                navigation: true,
                                pagination: false
                            });
                        });
                    </script>

                    @*<div class="tab-pane" id="latestp">
                            <div class="row thummargin">
                                <div id="cattab" class="owl-theme owl-carousel">
                                    <div class="product-layout col-xs-12">
                                        <div class="product-thumb transition">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="~/Content/NewfrontEnd//image/cache/catalog/product/07-700x700.png" alt="Canon EOS 5D" title="Canon EOS 5D" class="img-responsive center-block" />
                                                </a>

                                                <p class="sale-tag new">Save 20%</p>
                                            </div>
                                            <div class="caption text-center">
                                                <h4>
                                                    <a href="#">
                                                        Canon EOS 5D
                                                    </a>
                                                </h4>
                                                <p class="price">
                                                    <span class="price-new">122.00</span> <span class="price-old">130.00</span>
                                                </p>

                                                <div class="input-group col-xs-12 col-sm-12 qop">
                                                    <label class="control-label col-sm-2 col-xs-2 qlable" for="input-quantity"> Qty </label>
                                                    <input type="number" name="quantity" min="1" value="1" step="1" id="fqty_30" class="form-control col-sm-2 col-xs-9 qtyq" />
                                                    <button type="button" class="acart" data-loading-text="Loading..."><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-layout col-xs-12">
                                        <div class="product-thumb transition">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="~/Content/NewfrontEnd/image/cache/catalog/product/15-700x700.png" alt="Nikon D300" title="Nikon D300" class="img-responsive center-block" />
                                                </a>
                                            </div>
                                            <div class="caption text-center">
                                                <h4>
                                                    <a href="#">Nikon D300</a>
                                                </h4>
                                                <p class="price">
                                                    198.00
                                                </p>

                                                <div class="input-group col-xs-12 col-sm-12 qop">
                                                    <label class="control-label col-sm-2 col-xs-2 qlable" for="input-quantity"> Qty </label>
                                                    <input type="number" name="quantity" min="1" value="1" step="1" id="fqty_31" class="form-control col-sm-2 col-xs-9 qtyq" />
                                                    <button type="button" class="acart" data-loading-text="Loading..."><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-layout col-xs-12">
                                        <div class="product-thumb transition">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="~/Content/NewfrontEnd/image/cache/catalog/product/05-700x700.png" alt="iPod Touch" title="iPod Touch" class="img-responsive center-block" />
                                                </a>
                                            </div>
                                            <div class="caption text-center">
                                                <h4><a href="#">iPod Touch</a></h4>
                                                <p class="price">  <span class="price-new">125.00</span> <span class="price-old">127.00</span></p>

                                                <div class="input-group col-xs-12 col-sm-12 qop">
                                                    <label class="control-label col-sm-2 col-xs-2 qlable" for="input-quantity"> Qty </label>
                                                    <input type="number" name="quantity" min="1" value="1" step="1" id="fqty_32" class="form-control col-sm-2 col-xs-9 qtyq" />
                                                    <button type="button" class="acart" data-loading-text="Loading..."><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-layout col-xs-12">
                                        <div class="product-thumb transition">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="/Content/NewfrontEnd/image/cache/catalog/product/18-700x700.png" alt="Samsung SyncMaster 941BW" title="Samsung SyncMaster 941BW" class="img-responsive center-block" />
                                                </a>
                                            </div>
                                            <div class="caption text-center">
                                                <h4><a href="#">Samsung SyncMaster 941BW</a></h4>
                                                <p class="price">
                                                    242.00
                                                </p>

                                                <div class="input-group col-xs-12 col-sm-12 qop">
                                                    <label class="control-label col-sm-2 col-xs-2 qlable" for="input-quantity"> Qty </label>
                                                    <input type="number" name="quantity" min="1" value="1" step="1" id="fqty_33" class="form-control col-sm-2 col-xs-9 qtyq" />
                                                    <button type="button" class="acart" data-loading-text="Loading..."><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-layout col-xs-12">
                                        <div class="product-thumb transition">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="/Content/NewfrontEnd/image/cache/catalog/product/07-700x700.png" alt="iPod Shuffle" title="iPod Shuffle" class="img-responsive center-block" />
                                                </a>
                                            </div>
                                            <div class="caption text-center">
                                                <h4><a href="#">iPod Shuffle</a></h4>
                                                <p class="price">
                                                    $122.00
                                                </p>

                                                <div class="input-group col-xs-12 col-sm-12 qop">
                                                    <label class="control-label col-sm-2 col-xs-2 qlable" for="input-quantity"> Qty </label>
                                                    <input type="number" name="quantity" min="1" value="1" step="1" id="fqty_34" class="form-control col-sm-2 col-xs-9 qtyq" />
                                                    < <button type="button" class="acart" data-loading-text="Loading..."><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-layout col-xs-12">
                                        <div class="product-thumb transition">
                                            <div class="image">
                                                <a href="index5e0b.html?route=product/product&amp;product_id=36"><img src="/Content/NewfrontEnd/image/cache/catalog/product/12-700x700.png" alt="iPod Nano" title="iPod Nano" class="img-responsive center-block" /></a>


                                                <p class="sale-tag sale">Save 30%</p>
                                            </div>
                                            <div class="caption text-center">
                                                <h4><a href="#">iPod Nano</a></h4>
                                                <p class="price">  <span class="price-new">186.00</span> <span class="price-old">222.00</span> </p>

                                                <div class="input-group col-xs-12 col-sm-12 qop">
                                                    <label class="control-label col-sm-2 col-xs-2 qlable" for="input-quantity"> Qty </label>
                                                    <input type="number" name="quantity" min="1" value="1" step="1" id="fqty_36" class="form-control col-sm-2 col-xs-9 qtyq" />
                                                    <input type="hidden" name="product_id" value="" />

                                                    <button type="button" class="acart" data-loading-text="Loading..."><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#latest").owlCarousel({
                        itemsCustom: [
                            [0, 2],
                            [375, 2],
                            [600, 3],
                            [768, 3],
                            [992, 4],
                            [1200, 5]
                        ],
                        // autoPlay: 1000,
                        navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                        navigation: true,
                        pagination: false
                    });
                });
            </script>
            <div class="offerbanner container">
                <div class="row">
                    <div class="col-sm-6 col-xs-6">
                        <div class=" banner-effect">
                            <a href="#">
                                <img src="~/Content/NewfrontEnd/image/cache/catalog/offerbanner/555X200-555x200.png" alt="offer Banner" class="img-responsive" />
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <div class=" banner-effect">
                            <a href="#">
                                <img src="~/Content/NewfrontEnd/image/cache/catalog/offerbanner/555X200-3-555x200.png" alt="offer Banner" class="img-responsive" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="container">
                    <div class="col-md-12 logo-slider">
                        <div id="carousel0" class="owl-carousel owl-theme">
                            <div class="text-center"><img src="~/Content/NewfrontEnd/image/cache/catalog/brand/brand-58-150x100.png" alt="Coca Cola" class="center-block img-responsive" /></div>
                            <div class="text-center"><img src="~/Content/NewfrontEnd/image/cache/catalog/brand/brand-5-150x100.png" alt="RedBull" class="center-block img-responsive" /></div>
                            <div class="text-center"><img src="~/Content/NewfrontEnd/image/cache/catalog/brand/1-150x100.png" alt="Nintendo" class="center-block img-responsive" /></div>
                            <div class="text-center"><img src="~/Content/NewfrontEnd/image/cache/catalog/brand/2-150x100.png" alt="Starbucks" class="center-block img-responsive" /></div>
                            <div class="text-center"><img src="~/Content/NewfrontEnd/image/cache/catalog/brand/brand-2-150x100.png" alt="Disney" class="center-block img-responsive" /></div>
                            <div class="text-center"><img src="~/Content/NewfrontEnd/image/cache/catalog/brand/brand-3-150x100.png" alt="NFL" class="center-block img-responsive" /></div>
                            <div class="text-center"><img src="~/Content/NewfrontEnd/image/cache/catalog/brand/brand-4-150x100.png" alt="Dell" class="center-block img-responsive" /></div>
                            <div class="text-center"><img src="~/Content/NewfrontEnd/image/cache/catalog/brand/brand-58-150x100.png" alt="Sony" class="center-block img-responsive" /></div>
                            <div class="text-center"><img src="~/Content/NewfrontEnd/image/cache/catalog/brand/brand-6-150x100.png" alt="Burger King" class="center-block img-responsive" /></div>
                            <div class="text-center"><img src="~/Content/NewfrontEnd/image/cache/catalog/brand/brand-7-150x100.png" alt="Harley Davidson" class="center-block img-responsive" /></div>
                            <div class="text-center"><img src="~/Content/NewfrontEnd/image/cache/catalog/brand/brand-8-150x100.png" alt="Canon" class="center-block img-responsive" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#carousel0").owlCarousel({
                        itemsCustom: [
                            [0, 2],
                            [412, 3],
                            [600, 4],
                            [768, 5],
                            [992, 5],
                            [1200, 6]
                        ],
                        autoPlay: 2500,
                        loop: true,
                        navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
                        navigation: false,
                        pagination: false
                    });
                });
            </script>
        </div>

    </div>
</div>

@section footer{
    <script src="~/Content/NewfrontEnd/js/newhomepagejs.js"></script>
}