﻿@model ecommerce.Models.Frontend.FrontHomeModel.FrontHomeProductBind

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FrontMaster.cshtml";
}
@section header
{
    <style>
        .SauravBtn {
            z-index: 1;
            position: absolute;
            top: 31px;
            /*background: red;
            border-bottom: 2px solid #f32007;
            border-right: 2px solid #f32007;*/
            padding: 5px 18px;
            transform: skew(-15deg);
            left: 6px;
        }

        .Saurav_text {
            text-align: center;
            color: #ffffff;
            font-size: 11px;
            font-family: sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            transform: skew(15deg);
            padding: 0;
            margin: 0;
        }

        .addbtn {
            background: #f36;
            padding: 5px;
            width: 40%;
            margin-bottom: 5px;
        }

        .viewbutton {
            box-shadow: 0px 0px 20px #999;
            background: #f36;
            padding: 10px 30px 10px 30px;
            display: table;
            margin-bottom: 15px;
            text-align: right !important;
            border-radius: 10px;
            color: #fff;
            font-weight: bold;
        }
    </style>
}
<div class="container-fluid">
    <div class="row">
        <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1350px; height: 330px; overflow: hidden; visibility: hidden;">
            <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>

            </div>
            <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1350px; height: 330px; overflow: hidden;">
                <div data-p="225.00" style="display: none;">
                    <a href="#"> <img data-u="image" src="~/Content/image/Ricebanner.jpg" /></a>
                </div>
                <div data-p="225.00" style="display: none;">
                    <a href="#"> <img data-u="image" src="~/Content/image/Ricebanner2.jpg" /></a>
                </div>
                <div data-p="225.00" style="display: none;">
                    <a href="#"> <img data-u="image" src="~/Content/image/wheatbanner2.jpg" /></a>
                </div>
                @*<div data-p="225.00" style="display: none;">
                        <a href="#"> <img data-u="image" src="~/Content/image/Ricebaner3.png" /></a>
                    </div>*@
            </div>
            <span data-u="arrowleft" class="jssora22l" style="top:0px;left:12px;width:40px;height:58px;" data-autocenter="2"></span>
            <span data-u="arrowright" class="jssora22r" style="top:0px;right:12px;width:40px;height:58px;" data-autocenter="2"></span>
        </div>
    </div>
</div>
@if (Model.FrontHomeProductBindList != null && Model.FrontHomeProductBindList.Count > 0)
{
    <div style="background:#03a9f40a;padding-bottom: 25px;">
        <div id="content-wrap">
            <div class="container-fluid">
                @foreach (var item in Model.FrontHomeProductBindList)
                {
                    <div class="category-featured electronic">
                        <div class="product-featured clearfix">
                            <div class="row">
                                <div class="col-sm-12 col-right-tab">
                                    <p class="Menu_BackgroundColors">@item.MenuName</p>
                                    <div class="product-featured-tab-content">
                                        <div class="tab-container">
                                            <div class="tab-panel active" id="tab-8">
                                                <dic>
                                                    <div class="box-right">
                                                        <ul class="product-list">
                                                            @if (item.ProductList != null && item.ProductList.Count > 0)
                                                            {
                                                                foreach (var product in item.ProductList)
                                                                {
                                                                    <li class="col-sm-2">
                                                                        <div class="abcbox">
                                                                            <div class="left-block Products_Height22">
                                                                                @if (product.Offer.ToLower() == "new")
                                                                                {
                                                                                    <div class="SauravBtn" style="background: #06ba03;border-bottom: 2px solid #06ba03;border-right: 2px solid #06ba03;">
                                                                                        <p class="Saurav_text">@product.Offer</p>
                                                                                    </div>
                                                                                }
                                                                                else if (product.Offer.ToLower() == "sale")
                                                                                {
                                                                                    <div class="SauravBtn" style="background: #ffa500;border-bottom: 2px solid #ffa500;border-right: 2px solid #ffa500;">
                                                                                        <p class="Saurav_text">@product.Offer</p>
                                                                                    </div>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <div class="SauravBtn" style="background: red;border-bottom: 2px solid #f32007;border-right: 2px solid #f32007;">
                                                                                        <p class="Saurav_text">@product.Offer</p>
                                                                                    </div>
                                                                                }

                                                                                @if (product.DiscountPer > 0)
                                                                                {
                                                                                    <div class="right-block" style="color: #f36;border: 1px solid #ccc;box-shadow: 0px 0px 20px #999;margin-top: 5px;">
                                                                                        <h5 class="text-right" style="margin-bottom: 4px;margin-top: 3px;font-weight: bold;">GET @product.DiscountPer % OFF <span class="fa fa-certificate"></span></h5>
                                                                                    </div>
                                                                                }
                                                                                @*<a href="pc/@item.MenuName/@product.Menu/@product.CategoryName/@product.Category/@product.SubCategoryName/@product.SubCategory">*@
                                                                                <a href="@product.RedirectUrl">
                                                                                    @if (product.FrontProductImage != null && product.FrontProductImage.Count > 0)
                                                                                    {
                                                                                        <img src="@product.FrontProductImage[0].ImageUrl" class="center-block img-responsive Products_Height">
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <img src="~/Content/image/no-image.png" class="center-block img-responsive Products_Height">
                                                                                    }
                                                                                </a>
                                                                                @*<div class="quick-view">
                                                                                    <a title="Add to my wishlist" class="heart" style="cursor:pointer;"><span class="fa fa-heart"></span></a>
                                                                                         <a title="add to cart" class="search"><span class=" fa fa-shopping-cart"></span></a>
                                                                                                                                                    </div>*@
                                                                            </div>
                                                                            <div class="hidden">
                                                                                <span id="frontprodetails_@product.ProductId" class="hidden frontprodetails" data-productid="@product.ProductId" data-productname="@product.ProductName" data-productimgurl="@(product.FrontProductImage.Count>0?product.FrontProductImage[0].ImageUrl:"~/Content/image/noproduct.png")" data-saleprice="@product.SalePrice" data-discountprice="@product.Discount" data-discountper="@product.DiscountPer" data-unitid="@product.UnitId" data-unitname="@product.UnitName"></span>
                                                                            </div>
                                                                            <div class="right-block">
                                                                                <h5 class="product-name">
                                                                                    <a href="#">@product.ProductName (@product.ProductCode)</a>
                                                                                </h5>
                                                                            </div>
                                                                            <div class="content_price">

                                                                                @if (product.DiscountPer > 0)
                                                                                {
                                                                                    <p class="NowPriceMaster">
                                                                                        <small style="text-decoration: line-through;"><span class="fa fa-inr"></span> @product.SalePrice</small>
                                                                                        <span class="fa fa-inr"></span> @(String.Format("{0:0.00}", product.SalePriceWithDiscount))
                                                                                    </p>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <p class="NowPriceMaster">
                                                                                        <span class="fa fa-inr"></span> @(String.Format("{0:0.00}", product.SalePrice))
                                                                                    </p>
                                                                                }

                                                                            </div>
                                                                            <div>
                                                                                <button class="btn btn-warning center-block addbtn frontaddtocart" data-proid="@product.ProductId"><span class="fa fa-shopping-cart"></span> ADD</button>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                }
                                                            }
                                                        </ul>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    @if (!string.IsNullOrEmpty(item.MenuName))
                                                    {
                                                        string viewallmenu = System.Text.RegularExpressions.Regex.Replace(item.MenuName, @"[^0-9a-zA-Z]+", ",");

                                                        <a href="/pm/@viewallmenu.Replace(",", "-").ToLower()/@item.MenuId">
                                                            <div class="col-sm-12" style="padding-top: 10px;">
                                                                <p class="viewbutton pull-right">Show More</p>
                                                            </div>
                                                        </a>
                                                    }
                                                </dic>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

@section footer
{
    <script src="~/Content/FrontEnd/js/homepage.js"></script>
    <script src="~/Content/Js/jssor.slider-21.1.5.mini.js"></script>
    <script src="~/Content/Js/Slider.js"></script>
}

