﻿@model ecommerce.Models.FrontMenuModel.FrontMainCategoryModel

@if (Model.FrontMainCategoryList != null && Model.FrontMainCategoryList.Count > 0)
{
    <ul class="nav">
        @foreach (var menu in Model.FrontMainCategoryList)
        {
            string urlmenuname = System.Text.RegularExpressions.Regex.Replace(menu.MenuName, @"[^0-9a-zA-Z]+", ",").ToLower().Replace(",", "-");

            <li class="dropdown moremenu">
                <a href="/pm/@urlmenuname/@menu.MenuId" class="dropdown-toggle header-menu" data-toggle="dropdown">
                    <div class="menu-img pull-left">
                        <img src="@menu.Image" alt="@menu.MenuName">
                    </div>@menu.MenuName
                    @if (menu.FrontCategoryList != null && menu.FrontCategoryList.Count > 0)
                    {
                        <i class="fa fa-angle-down pull-right enangle"></i>
                    }
                </a>
                @if (menu.FrontCategoryList != null && menu.FrontCategoryList.Count > 0)
                {
                    <div class="dropdown-menu">
                        <div class="dropdown-inner">
                            @foreach (var category in menu.FrontCategoryList)
                            {
                                string urlcatname = System.Text.RegularExpressions.Regex.Replace(category.CategoryName, @"[^0-9a-zA-Z]+", ",").ToLower().Replace(",", "-");
                                <ul class="list-unstyled">
                                    <li class="dropdown-submenu">
                                        <a href="/pc/@urlmenuname/@menu.MenuId/@urlcatname/@category.CategoryId" class="submenu-title"> @category.CategoryName </a>
                                        @if (category.FrontSubCategoryList != null && category.FrontSubCategoryList.Count > 0)
                                        {
                                            <ul class="list-unstyled grand-child">
                                                @foreach (var subcategory in category.FrontSubCategoryList)
                                                {
                                                    string urlsubcatname = System.Text.RegularExpressions.Regex.Replace(subcategory.SubCategoryName, @"[^0-9a-zA-Z]+", ",").ToLower().Replace(",", "-");
                                                    <li><a href="/psc/@urlmenuname/@menu.MenuId/@urlcatname/@category.CategoryId/@urlsubcatname/@subcategory.SubCategoryId"> @subcategory.SubCategoryName </a> </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                </ul>
                            }
                        </div>
                    </div>
                }
            </li>
        }
    </ul>
}

@*<li class="dropdown moremenu">
    <a href="#" class="dropdown-toggle header-menu" data-toggle="">
        <div class="menu-img pull-left">
            <img src="/Content/NewfrontEnd/image/catalog/menu-icon/R-190x140.png" alt="Rice &amp; Grains">
        </div>Rice &amp; Grains<i class="fa fa-angle-down pull-right enangle"></i>
    </a>
    <div class="dropdown-menu" style="margin-left: -172px;">
        <div class="dropdown-inner">
            <ul class="list-unstyled">
                <li class="dropdown-submenu">
                    <a href="#" class="submenu-title"> Mice and Trackballs (17) </a>
                </li>
                <li class="dropdown-submenu">
                    <a href="#" class="submenu-title"> Monitors (18) </a>
                    <ul class="list-unstyled grand-child">
                        <li><a href="#"> test 1 (0) </a> </li>
                        <li><a href="3"> test 2 (0) </a> </li>
                    </ul>
                </li>
            </ul>
            <ul class="list-unstyled">
                <li class="dropdown-submenu">
                    <a href="#" class="submenu-title"> Printers (16) </a>
                    <ul class="list-unstyled grand-child">
                        <li><a href="#"> Scanners (13) </a> </li>
                        <li><a href="#"> Web Cameras (14) </a> </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</li>*@