﻿@model ecommerce.Models.FrontMenuModel.FrontMainCategoryModel

@if (Model.FrontMainCategoryList != null && Model.FrontMainCategoryList.Count > 0)
{
    <ul class="nav navbar-nav">
        @foreach (var menu in Model.FrontMainCategoryList)
        {
            string urlmenuname = System.Text.RegularExpressions.Regex.Replace(menu.MenuName, @"[^0-9a-zA-Z]+", ",").ToLower().Replace(",", "-");

            <li class="dropdown">
                <a href="/pm/@urlmenuname/@menu.MenuId" class="dropdown-toggle header-menu" data-toggle="dropdown" aria-expanded="true">
                    @menu.MenuName
                    @if (menu.FrontCategoryList != null && menu.FrontCategoryList.Count > 0)
                    {
                        <i class="fa fa-angle-down pull-right"></i>
                    }
                </a>
                @if (menu.FrontCategoryList != null && menu.FrontCategoryList.Count > 0)
                {
                    <div class="dropdown-menu">
                        <div class="dropdown-inner">
                            @foreach (var category in menu.FrontCategoryList)
                            {
                                string urlcatname = System.Text.RegularExpressions.Regex.Replace(category.CategoryName, @"[^0-9a-zA-Z]+", ",").ToLower().Replace(",", "-");
                                <ul class="list-unstyled">
                                    <li class="dropdown-submenu">
                                        <a href="/pc/@urlmenuname/@menu.MenuId/@urlcatname/@category.CategoryId" class="submenu-title"> @category.CategoryName </a>
                                        @if (category.FrontSubCategoryList != null && category.FrontSubCategoryList.Count > 0)
                                        {
                                            <ul class="list-unstyled grand-child">
                                                @foreach (var subcategory in category.FrontSubCategoryList)
                                                {
                                                    string urlsubcatname = System.Text.RegularExpressions.Regex.Replace(subcategory.SubCategoryName, @"[^0-9a-zA-Z]+", ",").ToLower().Replace(",", "-");
                                                    <li><a href="/pc/@urlmenuname/@menu.MenuId/@urlcatname/@category.CategoryId/@urlsubcatname/@subcategory.SubCategoryId"> @subcategory.SubCategoryName </a> </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                </ul>
                            }
                        </div>                        
                    </div>
                }
            </li>
        }
    </ul>
}