﻿@model ecommerce.Models.FrontProductModel.FrontProduct

@{
    ViewBag.Title = "NewProductdetails";
    Layout = "~/Views/Shared/_NewFrontMaster.cshtml";
}
@section header
{
    <link href="~/Content/Common/css/commoncss.css" rel="stylesheet" />
    <style>
        .boxbtn {
            margin-top: 10px;
            border: 1px solid #ccc;
            padding: 5px;
        }

        .hedh4 {
            margin-top: 0px;
            line-height: 24px;
        }

        .mySlides {
            display: none;
            /*border-bottom: 1px solid #ccc;*/
        }

        .cursor {
            cursor: pointer;
        }

        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 40%;
            width: auto;
            padding: 16px;
            background: #ccc;
            margin-top: -50px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
        }

        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
            margin-right: 5px;
        }

            .prev:hover,
            .next:hover {
                background-color: rgb(255, 51, 102);
            }

        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        .caption-container {
            text-align: center;
            background-color: #222;
            padding: 2px 16px;
            color: white;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .column {
            float: left;
            width: 16.66%;
        }

        .demo {
            opacity: 1;
        }

            .active,
            .demo:hover {
                opacity: 1;
            }

        .infrHead {
            margin-top: 4px;
            border-bottom: 1px dashed #ccc;
            text-align: center;
        }

        .zoom:hover {
            -ms-transform: scale(1.5); /* IE 9 */
            -webkit-transform: scale(1.5); /* Safari 3-8 */
            transform: scale(1.5);
        }

        .smallmidum {
            font-size: 15px;
        }

        .out-stock {
            color: #ff0000;
            font-weight: bold;
        }

        .reviewpara {
            /*box-shadow: 0px 0px 20px #ff67953b;*/
            background: #ff67950f;
            padding: 10px;
            display: table;
            width: 100%;
            margin-bottom: 15px;
            border-radius: 5px;
            border: 1px solid #ff67953d;
        }
    </style>
}

@if (Model.FrontProductList != null && Model.FrontProductList.Count > 0)
{
    foreach (var item in Model.FrontProductList)
    {
        <div id="product-product" class="container common-shed">
            <div class="row">
                <div id="content" class="col-sm-12">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="fa fa-home"></i></a></li>
                        <li><a href="/pm/@item.MenuUrl/@item.Menu">@item.MenuName</a></li>
                        @if (!string.IsNullOrEmpty(item.CategoryName))
                        {
                            <li><a href="/pc/@item.MenuUrl/@item.Menu/@item.CategoryNameUrl/@item.Category">@item.CategoryName</a></li>
                        }
                        @if (!string.IsNullOrEmpty(item.SubCategoryName))
                        {
                            <li><a href="/psc/@item.MenuUrl/@item.Menu/@item.CategoryNameUrl/@item.Category/@item.SubCategoryNameUrl/@item.SubCategory">@item.SubCategoryName</a></li>
                        }
                    </ul>
                    <div class="row container-fluid">
                        <div id="columns">
                            <div class="center_column" id="center_column">
                                <div id="product">
                                    <div class="primary-box">
                                        <div class="col-sm-5 Max_Width" style="border: 1px solid #ccc;padding: 5px;">
                                            @if (item.FrontProductImage.Count > 0)
                                            {
                                                int imgCount = item.FrontProductImage.Count;

                                                foreach (var img in item.FrontProductImage)
                                                {
                                                    <div class="mySlides">
                                                        <img src="@img.ImageUrl" style="width:100%;height: 280px;" />
                                                        @if (item.DiscountPer > 0)
                                                        {
                                                            <p class="sale-tag new">Discount @item.DiscountPer%</p>
                                                        }
                                                    </div>
                                                }

                                                if (imgCount > 1)
                                                {
                                                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                                                    <a class="next" onclick="plusSlides(1)">❯</a>
                                                    <div class="row" style="margin-left:0px;">
                                                        @{
                                                            int loopimgcount = 1;

                                                            foreach (var img in item.FrontProductImage)
                                                            {
                                                                <div class="column" style="border: 1px solid #ccc; padding-right: 2px;">
                                                                    <img class="demo cursor" src="@img.ImageUrl" style="width:100%;height:60px;" onclick="currentSlide(@loopimgcount)">
                                                                </div>
                                                                loopimgcount = loopimgcount + 1;
                                                            }
                                                        }
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="mySlides">
                                                    <img src="~/Content/image/Rice1.jpg" style="width:100%;height: 280px;">
                                                </div>
                                            }
                                        </div>
                                        <div class="hidden">
                                            <span id="frontprodetails_@item.ProductId" class="hidden frontprodetails" data-productid="@item.ProductId" data-productname="@item.ProductName" data-productimgurl="@(item.FrontProductImage.Count>0?item.FrontProductImage[0].ImageUrl:"~/Content/image/noproduct.png")" data-saleprice="@item.SalePrice" data-discountprice="@item.Discount" data-discountper="@item.DiscountPer" data-unitid="@item.UnitId" data-unitname="@item.UnitName"></span>
                                        </div>
                                        <div class="col-md-7 col-sm-6 product-right">
                                            <h1>@item.ProductName</h1><hr class="prosp">
                                            <ul class="list-unstyled">
                                                <li><span class="text-prodecor">Product Code :</span> @item.ProductCode</li>
                                                <li><span class="text-prodecor">Availability :</span> In Stock</li>
                                                <li><span class="text-prodecor">Quantity (Unit) :</span> @item.UnitName</li>
                                                <hr class="prosp" />
                                            </ul>
                                            <ul class="list-unstyled">
                                                <li class="text-prodecor-bold">
                                                    @if (item.DiscountPer > 0)
                                                    {
                                                        <p class="price">
                                                            <span style="color: #999;text-decoration: line-through;">₹ @item.SalePrice</span> <span class="pro-price">₹ @item.SalePriceWithDiscount</span>
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                        <p class="price">
                                                            <span class="pro-price">₹ @item.SalePrice</span>
                                                        </p>
                                                    }
                                                </li>
                                            </ul>
                                            <div id="product">
                                                <!-- Quantity option -->
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-2 col-md-1 col-xs-2 op-box qtlabel">
                                                            <label class="control-label text-prodecorop" for="input-quantity">Qty</label>
                                                        </div>
                                                        <div class="col-md-11 col-sm-10 col-xs-10 op-box qty-plus-minus">
                                                            <button type="button" class="form-control pull-left btn-number btnqytminus" disabled="disabled" data-type="minus" data-field="quantity" onclick="MinusQytPro();">
                                                                <span class="glyphicon glyphicon-minus"></span>
                                                            </button>
                                                            <input id="input-quantity" type="text" name="quantity" value="1" size="2" class="form-control input-number pull-left fqty_@item.ProductId" onkeypress="return OnlyNumberKey(event);" />
                                                            <button type="button" class="form-control pull-left btn-number btnqytplus" data-type="plus" data-field="quantity" onclick="PlusQytPro();">
                                                                <span class="glyphicon glyphicon-plus"></span>
                                                            </button>
                                                        </div>
                                                    </div><hr class="prosp">
                                                    <button type="button" id="button-cart" class="btn add-to-cart btn-primary addtocartdeailpage" data-proid="@item.ProductId">
                                                        <span class="fa fa-shopping-cart fasbasket_@item.ProductId"></span> Add to Cart
                                                    </button>
                                                    <hr class="prosp">
                                                </div>
                                                <!-- Quantity option end -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="propage-tab">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab-description" data-toggle="tab" aria-expanded="true">Description</a></li>
                                <li class=""><a href="#tab-review" data-toggle="tab" aria-expanded="false" data-productreviewsection="@item.ProductId" id="clickreviewssection">Reviews</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-description">
                                    <div class="cpt_product_description ">
                                        @if (item.FrontProductDescription != null)
                                        {
                                            if (!string.IsNullOrEmpty(item.FrontProductDescription.Descripion1))
                                            {
                                                <div>
                                                    @item.FrontProductDescription.Descripion1
                                                </div>
                                                <br />
                                            }
                                            if (!string.IsNullOrEmpty(item.FrontProductDescription.Descripion2))
                                            {
                                                <div>
                                                    @item.FrontProductDescription.Descripion2
                                                </div>
                                                <br />
                                            }
                                            if (!string.IsNullOrEmpty(item.FrontProductDescription.Descripion3))
                                            {
                                                <div>
                                                    @item.FrontProductDescription.Descripion3
                                                </div>
                                                <br />
                                            }
                                            if (!string.IsNullOrEmpty(item.FrontProductDescription.Descripion4))
                                            {
                                                <div>
                                                    @item.FrontProductDescription.Descripion4
                                                </div>
                                                <br />
                                            }
                                            if (!string.IsNullOrEmpty(item.FrontProductDescription.Descripion5))
                                            {
                                                <div>
                                                    @item.FrontProductDescription.Descripion5
                                                </div>
                                                <br />
                                            }
                                        }
                                    </div>
                                    <!-- cpt_container_end -->
                                </div>
                                <div class="tab-pane" id="tab-review">
                                    <div id="review" style="margin-top: -50px;">
                                        <div class="row">
                                            <div class="col-sm-10">
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="button" id="button-review" data-productwritereviewid="@item.ProductId" class="btn btn-primary pull-right writeareviewbutton">Write A Review</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="review" style="margin-top: 20px;">
                                        <div class="row">
                                            <div class="col-sm-12 hidden" id="reviewform">
                                                <div class="form-group required">
                                                    <div class="col-sm-12">
                                                        <div class="row">
                                                            <div class="col-sm-6 form-validation">
                                                                <label class="control-label" for="input-name">Your Name</label>
                                                                <input type="text" name="name" value="" id="txtReviewName" class="form-control">
                                                            </div>
                                                            <div class="col-sm-6 form-validation">
                                                                <label class="control-label" for="input-name">Email Id</label>
                                                                <input type="text" name="name" value="" id="txtReviewEmail" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group required">
                                                    <div class="col-sm-12 form-validation">
                                                        <label class="control-label" for="input-review">Your Review</label>
                                                        <textarea name="text" rows="5" id="txtReviewContent" class="form-control"></textarea>
                                                        <div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div>
                                                    </div>
                                                </div>
                                                <div class="form-group required">
                                                    <div class="col-sm-6">
                                                        <label class="control-label rat">Rating</label>
                                                        &nbsp;&nbsp;&nbsp; Bad&nbsp;
                                                        <input type="radio" name="rating" class="selectrating" value="1" checked="checked" />
                                                        &nbsp;
                                                        <input type="radio" name="rating" class="selectrating" value="2" />
                                                        &nbsp;
                                                        <input type="radio" name="rating" class="selectrating" value="3" />
                                                        &nbsp;
                                                        <input type="radio" name="rating" class="selectrating" value="4" />
                                                        &nbsp;
                                                        <input type="radio" name="rating" class="selectrating" value="5" />
                                                        &nbsp;Good
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <button type="button" id="btnReviewSubmit" data-productreviewid="@item.ProductId" class="btn btn-primary pull-right" onclick="return SubmitReview();">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 hidden text-center" id="reviewformmessage"></div>
                                            <div class="col-sm-12" id="reviewdatasection"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
@section footer
{
    <script src="~/Content/NewfrontEnd/js/newproductdetailjs.js"></script>
    @*<script src="~/Content/FrontEnd/js/cart.js"></script>*@
    @*<script src="~/Content/Common/js/common.js"></script>*@
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            //captionText.innerHTML = dots[slideIndex - 1].alt;
        }
    </script>
}
