﻿@model ecommerce.Models.FrontProductModel.FrontProduct

@{
    ViewBag.Title = "NewProduct";
    Layout = "~/Views/Shared/_NewFrontMaster.cshtml";
}

@section header
{

}

@*@if (Model.FrontProductList != null && Model.FrontProductList.Count > 0)
    {*@
<div id="product-category" class="container common-shed">
    <ul class="breadcrumb">
        @*<li><a href="/"><i class="fa fa-home"></i></a></li>
        <li><a href="#">krishna</a></li>*@
    </ul>
    <div class="row">

        <aside id="column-left" class="col-md-3 col-sm-4 col-xs-12">
            @*<div class="list-group cateleft">
                    @Html.Action("ProductSideMenu", "Default")
                </div>*@
            <div id="tf-filter" class="panel tf-filter panel-default">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left">Filter</h4>
                    <span data-tf-reset="all" class="tf-filter-reset pull-right hidden label label-info filteractivated"><i class="fa fa-refresh"></i> Clear all</span>
                </div>                
                <div class="tf-list-filter-group leftsidefilter"> </div>
            </div>
        </aside>

        <div id="content" class="col-xs-12 col-sm-8 col-md-9 col-lg-9">

            @*<div class="inspdes">
                    <h2>@Model.FrontProductList[0].MenuName</h2>
                </div>*@
            <div class="row cate-border proupsortby" style="margin: 0px 0px 15px!important;">
                <div class="col-md-2 col-sm-3 col-xs-3 catebt">
                    <div class="btn-group-sm">
                        <button type="button" id="list-view" class="btn inslistgrid" data-toggle="tooltip" title="" data-original-title="List">
                            <img src="~/Content/NewfrontEnd/image/catalog/category/list.png">
                        </button>
                        <button type="button" id="grid-view" class="btn inslistgrid active" data-toggle="tooltip" title="" data-original-title="Grid">
                            <img src="~/Content/NewfrontEnd/image/catalog/category/grid.png">
                        </button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-xs-5 col-sm-5 sorting pull-right">
                    <div class="input-group input-group-sm">
                        <label class="input-group-addon" for="input-sort">Sort By:</label>
                        <select id="input-sort" class="form-control" onchange="location = this.value;">
                            <option value="#" selected="selected">Default</option>
                            <option value="#">Name (A - Z)</option>
                            <option value="#">Name (Z - A)</option>
                            <option value="#">Price (Low &gt; High)</option>
                            <option value="#">Price (High &gt; Low)</option>
                            <option value="#">Rating (Highest)</option>
                            <option value="#">Rating (Lowest)</option>
                            <option value="#">Model (A - Z)</option>
                            <option value="#">Model (Z - A)</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row text-center noproductlocation"></div>
            <div class="row catebg bindproductlist"></div>
        </div>
    </div>
</div>
@*}
    else
    {
        <img src="~/Content/image/noproduct.png" class="img-responsive" />
    }*@

<button type="button" class="btn btn-info btn-lg filteractivation hidden" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#FilterActivation"></button>
<div class="modal fade" id="FilterActivation" role="dialog">
    <div class="modal-dialog modal-sm" style="margin:15% auto!important;">
        <!-- Modal content-->
        <div class="modal-content" style="text-align: center;border-radius: 5px !important;">
            <div class="modal-body" style="height:0px!important;">
                <img src="~/Content/NewfrontEnd/image/catalog/loader.gif" style="border-radius: 20px; width: 200px;" />
            </div>
            <div class="modal-footer hidden">
                <button type="button" class="btn btn-danger hidden closefilteractivation" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

@section footer{
    <script src="~/Content/NewfrontEnd/js/newproductpage.js"></script>
    <script>
        $(function () {
            if (window.innerWidth < 767) { // Collaped all panel in small device
                $('#tf-filter .collapse.in').collapse("hide");
            }
        });
    </script>
    <style>
        .tf-filter-group {
            border-bottom: 1px solid #ddd;
            background: white;
        }

            .tf-filter-group:last-child {
                border-bottom: 0px;
            }

        .tf-filter-group-header {
            /*border-bottom: 1px solid #ddd;*/
            padding: 15px;
        }

            .tf-filter-group-header.collapsed {
                border: none;
            }

        .tf-filter-group-title {
            text-transform: uppercase;
        }

        .tf-filter-group-content, .tf-filter-group-search {
            padding: 8px 15px;
            display: block;
        }

        .tf-filter-group-content {
            max-height: 200px;
            overflow-y: auto;
            padding-bottom: 15px;
        }

        .tf-filter-reset {
            cursor: pointer;
            margin-left: 15px;
        }

        .tf-filter-group-header.collapsed .fa-caret-up:before {
            content: "\f0d7";
        }

        .tf-filter-group-content .form-check-input {
            margin: 0 5px 0 0;
        }

        .tf-filter-group-content .form-check.both input, .tf-filter-group-content .form-check.image input {
            display: none;
        }

        .tf-filter-group-content .form-check.image {
            display: inline-block;
        }

        .tf-filter-group-content .form-check img {
            border: 1px solid transparent;
            padding: 1px;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 5px;
        }

        .tf-filter-group-content .form-check input:checked + img {
            border-color: #2096c3;
            box-shadow: 0px 0px 5px #2096c3;
        }

        .tf-filter-group-content .form-check input:disabled + img {
            opacity: 0.5;
        }

        .tf-filter-group-search {
            position: relative;
        }

            .tf-filter-group-search .fa {
                position: absolute;
                color: #adadad;
            }

            .tf-filter-group-search input {
                width: 100%;
                border: none;
                border-bottom: 1px solid #ddd;
                padding: 0 0 0 18px;
                margin: 0;
                height: auto;
                border-radius: 0;
            }

                .tf-filter-group-search input:focus {
                    border: none;
                    border-bottom: 1px solid #bdbdbd;
                }

        .tf-loader {
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            background: #ddd;
            opacity: 0.5;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 99;
        }

            .tf-loader > * {
                margin-top: 50%;
                font-size: 40px;
                transform: translateY(-50%);
            }

        .tf-filter-loading {
            cursor: wait;
        }

        .tf-filter-group-content .ui-slider {
            margin-bottom: 8px;
        }

        #column-left, #column-right {
            display: block !important;
        }
    </style>
}
