﻿@model ecommerce.Models.Frontend.CheckoutModel.Checkout

@{
    ViewBag.Title = "PlaceOrder";
    Layout = "~/Views/Shared/_NewFrontMaster.cshtml";
}
<style>
    .boxborder {
        margin-top: -8px;
        border-bottom: 1px solid #ccc;
    }

    .addres {
        margin: 0 5px;
        margin-top: 8px;
    }

    .clearfix::after {
        display: block;
        clear: both;
        content: ""
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 boxborder">
                                <div class="col-sm-9">
                                    <p>1. DELIVERY ADDRESS <span class="fa fa-check"></span></p>
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-primary pull-right changeadd" id="changeaddress" style="margin-top: -5px;">Add New Address</button>
                                </div>
                            </div>
                            <br />
                            <div class="col-sm-12 oldadd" style="padding:5px;"></div>
                            <div class="col-sm-12 newaddchange hidden">
                                <div class="row form-group">
                                    <div class="col-sm-6 form-validation">
                                        <p>First Name <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                        @Html.TextBoxFor(p => p.ShippingAddress.FirstName, new { @class = "form-control", placeholder = "first name" })
                                    </div>
                                    <div class="col-sm-6 form-validation">
                                        <p>Last Name <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                        @Html.TextBoxFor(p => p.ShippingAddress.LastName, new { @class = "form-control", placeholder = "last name" })
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-6 form-validation">
                                        <p>Email Id <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                        @Html.TextBoxFor(p => p.ShippingAddress.EmailId, new { @class = "form-control", placeholder = "email id" })
                                    </div>
                                    <div class="col-sm-6 form-validation">
                                        <p>Moblie <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                        @Html.TextBoxFor(p => p.ShippingAddress.MobileNo, new { @class = "form-control", placeholder = "mobile number", @onkeypress = "return OnlyNumberKey(event);" })
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-6 form-validation">
                                        <p>Address <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                        @Html.TextAreaFor(p => p.ShippingAddress.Address, new { @class = "form-control", rows = "3", placeholder = "address" })
                                    </div>
                                    <div class="col-sm-6 form-validation">
                                        <p>City/District/Town <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                        @Html.TextBoxFor(p => p.ShippingAddress.City, new { @class = "form-control", placeholder = "city" })
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-6 form-validation">
                                        <p>State <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                        @Html.DropDownListFor(m => m.ShippingAddress.StateId, Model.ShippingAddress.StateList, "Select State", new { @class = "form-control" })
                                    </div>
                                    <div class="col-sm-6 form-validation">
                                        <p>Pincode <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                        @Html.TextBoxFor(p => p.ShippingAddress.PinCode, new { @class = "form-control", placeholder = "pin code" })
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <p>Landmark</p>
                                        @Html.TextBoxFor(p => p.ShippingAddress.Landmark, new { @class = "form-control", placeholder = "landmark" })
                                    </div>
                                    <div class="col-sm-6">
                                        <p>Alternate Mobile</p>
                                        @Html.TextBoxFor(p => p.ShippingAddress.AlternateMobileNo, new { @class = "form-control", placeholder = "alternet mobile" })
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <p>Address Type</p>
                                        Home:  @Html.RadioButtonFor(m => m.ShippingAddress.AddressType, "Home", new { @checked = true })
                                        Office:  @Html.RadioButtonFor(m => m.ShippingAddress.AddressType, "Office")
                                    </div>
                                    @*<div class="col-sm-6">
                                            <p>Default Adress</p>
                                            @Html.CheckBoxFor(m => m.ShippingAddress.IsDefault, new { @checked = true, @class = "form-control" })
                                        </div>*@
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <button class="btn btn-warning" id="btnCheckoutAddAddress">SAVE AND DELIVER HERE</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button class="btn btn-danger cancel pull-right" id="btnCheckoutCancelAddress">CANCEL</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div><br />
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <p>2. ORDER SUMMARY </p>
                                </div>
                            </div>
                            <div class="col-sm-12" id='bindcartdelintable'></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3" id="finalPayAmountSection">
                @*<div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12" style="border-bottom: 1px solid #ccc;">
                                    <label>PRICE DETAILS</label>
                                </div>
                                <div class="col-sm-12" style="border-bottom: 1px solid #ccc;">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <p>Price(1 item)</p>
                                            <p>Delivery Charge</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <p>₹ 419</p>
                                            <p> ₹40</p>
                                        </div>
                                    </div>
                                </div><hr />
                                <div class="col-sm-12" style="border-bottom: 1px solid #ccc;">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <h3>Total Payable</h3>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>₹ 459</label>
                                        </div>
                                    </div>
                                </div><hr />
                                <div class="col-sm-12" style="border-bottom: 1px solid #ccc;">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4 class="text-success">Your Total Savings on this order </h4>
                                        </div>
                                    </div>
                                </div><hr />
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>

    </div>
</div>
<style>
    .modalsuccess {
        text-align: center;
        padding: 0 !important;
    }

        .modalsuccess:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -4px; /* Adjusts for spacing */
        }

    .modalsuccess-dilog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
</style>

<button type="button" class="hidden succesplaceorder" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#TarSuccesPlaceOrder"></button>
<!-- Modal -->
<div class="modal modalsuccess bounceIn" id="TarSuccesPlaceOrder" tabindex="-1" role="dialog" aria-labelledby="TarSuccesPlaceOrderLabel" aria-hidden="true">
    <div class="modal-dialog modalsuccess-dilog" role="document">
        <div class="modal-content">
            <div class="modal-header headernotshow hidden">
                <h3 class="modal-title text-center headermsgcheckout"></h3>
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>*@
            </div>
            <div class="modal-body">
                <h3 class="modal-title messagecheckout" style="padding: 30px;text-align: center;"></h3>
            </div>
            <div class="modal-footer hidden errofootershow" style="text-align: center;padding: 20px;">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
            <div class="modal-footer hidden footercheckshow" style="text-align: center;padding: 20px;">
                <a href="/" class="btn btn-primary">Continue Shopping</a>
                <a href="/UserProfile/OrderList" class="btn btn-primary">Go To Order History</a>
            </div>
        </div>
    </div>
</div>

@section footer
{
    <script src="~/Content/NewfrontEnd/js/frontcheckout.js"></script>
}