﻿@model ecommerce.Models.FrontProductModel.FrontProduct

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_FrontMaster.cshtml";
}
<style>
    .product-featured .product-list li {
        border-right: 1px solid #ff3366;
        border-bottom: 1px solid #ff3366;
        border-top: 1px solid #ff3366;
        padding-left: 0;
        padding-right: 0;
        min-height: 277px;
    }

    .addbtn {
        background: #f36;
        padding: 5px;
        width: 40%;
        margin-bottom: 5px;
    }

    .SauravBtn {
        z-index: 1;
        position: absolute;
        top: 31px;
        background: red;
        border-bottom: 2px solid #f32007;
        border-right: 2px solid #f32007;
        padding: 5px 18px;
        transform: skew(-15deg);
        left: 6px;
    }

    .Saurav_text {
        text-align: center;
        color: #ffffff;
        font-size: 11px;
        font-family: sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        transform: skew(15deg);
        padding: 0;
        margin: 0;
    }
</style>
<div class="container">
    <div class="row form-group">
        @if (Model.FrontProductList != null && Model.FrontProductList.Count > 0)
        {
            <div class="col-sm-3">
                <div class="panel panel-default" style="border: solid 1px #c9285c;margin-top:20px;">
                    <div class="panel-heading active2">FILTER SELECTION</div>
                    <div class="panel-body">
                        <div id="accordion">
                            <div class="card shadow-none">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0 categorysize text-center">
                                        Rice
                                    </h5>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <h4 style="margin-left: 6px;">Supplier Types</h4>
                                        <label class="seeingo">
                                            Trade Assurance
                                            <input type="checkbox" id="chkSunday" name="chkSunday" checked="checked" />
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="seeingo">
                                            Verified Supplior
                                            <input type="checkbox" id="chkSunday" name="chkSunday" checked="checked" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <h4 style="margin-left: 6px;">Product Types</h4>
                                        <label class="seeingo">
                                            Ready to Ship
                                            <input type="checkbox" id="chkSunday" name="chkSunday" checked="checked" />
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="seeingo">
                                            Paid Samples
                                            <input type="checkbox" id="chkSunday" name="chkSunday" checked="checked" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <h4 style="margin-left: 6px;">Min. Price</h4>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control3" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <h4 style="margin-left: 6px;">Price</h4>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control3" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="col-sm-12">
                    <div class="col-md-3 col-sm-2 mrg-b-5 pull-right">
                        <select name="tb-OrderBy" class="form-control1" style="margin-top: 20px; border-radius: 4px;">
                            <option value="">Sort By</option>
                            <option value="lowtohigh">Price - Low to High</option>
                            <option value="hightolow">Price - High to Low</option>
                            <option value="alphabetical">Alphabetical</option>
                            <option value="perdiscount">% Off - High to Low</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="category-featured electronic">
                        <div class="product-featured clearfix">
                            <div class="row">
                                <div class="col-sm-12 col-right-tab">
                                    <div class="product-featured-tab-content">
                                        <div class="tab-container">
                                            <div class="tab-panel active" id="tab-8">
                                                <dic>
                                                    <div class="box-right">
                                                        <ul class="product-list">
                                                            @foreach (var item in Model.FrontProductList)
                                                            {
                                                                <li class="col-sm-3" style="border-left: 1px solid #ff3366;">
                                                                    <div class="left-block Products_Height22">
                                                                        <div class="SauravBtn"><p class="Saurav_text">Sale</p></div>
                                                                        @*<div class="right-block" style="color: #f36;border: 1px solid #ccc;">
                                                                                <h5 class="text-center" style="margin-bottom: 4px;margin-top: 3px;">GET 15% OFF <span class="fa fa-certificate"></span></h5>
                                                                            </div>*@
                                                                        @if (item.DiscountPer > 0)
                                                                        {
                                                                            <div class="right-block" style="color: #f36;border: 1px solid #ccc;box-shadow: 0px 0px 20px #999;margin-top: 5px;">
                                                                                <h5 class="text-right" style="margin-bottom: 4px;margin-top: 3px;font-weight: bold;">GET @item.DiscountPer % OFF <span class="fa fa-certificate"></span></h5>
                                                                            </div>
                                                                        }
                                                                        <a href="@item.RedirectUrl">
                                                                            @if (item.FrontProductImage != null && item.FrontProductImage.Count > 0)
                                                                            {
                                                                                <img src="@item.FrontProductImage[0].ImageUrl" class="center-block img-responsive Products_Height" />
                                                                            }
                                                                            else
                                                                            {
                                                                                <img src="~/Content/image/no-image.png" class="center-block img-responsive Products_Height" />
                                                                            }
                                                                        </a>
                                                                        <div class="quick-view">
                                                                            @*<a title="Add to my wishlist" class="heart" style="cursor:pointer;"><span class="fa fa-heart"></span></a>*@
                                                                            @*<a title="add to cart" class="search" id="btnAddToCart" data-supplierid="@item.SupplierId">
                                                                                    <span class="fa fa-shopping-cart"></span>
                                                                                </a>*@
                                                                        </div>
                                                                    </div>
                                                                    <div class="hidden">
                                                                        <span id="frontaddprodetails_@item.ProductId" class="hidden frontaddprodetails" data-productid="@item.ProductId" data-productname="@item.ProductName" data-productimgurl="@(item.FrontProductImage.Count>0?item.FrontProductImage[0].ImageUrl:"~/Content/image/noproduct.png")" data-saleprice="@item.SalePrice" data-discountprice="@item.Discount" data-discountper="@item.DiscountPer" data-unitid="@item.Unit" data-unitname="@item.UnitName"></span>
                                                                    </div>
                                                                    <div class="right-block">
                                                                        <h5 class="product-name">
                                                                            <a href="#">@item.ProductName (@item.ProductCode)</a>
                                                                        </h5>
                                                                    </div>
                                                                    <div class="content_price">
                                                                        @if (item.DiscountPer > 0)
                                                                        {
                                                                            <p class="NowPriceMaster">
                                                                                <span style="text-decoration: line-through;">₹ @item.SalePrice</span>
                                                                                ₹ @String.Format("{0:0.00}", item.SalePriceWithDiscount)
                                                                            </p>
                                                                        }
                                                                        else
                                                                        {
                                                                            <p class="NowPriceMaster">
                                                                                ₹ @item.SalePrice
                                                                            </p>
                                                                        }
                                                                    </div>
                                                                    <div>
                                                                        <button class="btn btn-warning center-block addbtn frontaddtocart" data-proid="@item.ProductId"><span class="fa fa-shopping-cart"></span> ADD</button>
                                                                    </div>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </dic>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <img src="~/Content/image/noproduct.png" class="img-responsive" />
        }
    </div>
</div>

@section footer
{
    <script src="~/Content/FrontEnd/js/frontproductpage.js"></script>
}