﻿@model ecommerce.Models.FrontMenuModel.FrontMainCategoryModel

@if (Model.FrontMainCategoryList != null && Model.FrontMainCategoryList.Count > 0)
{
    foreach (var menu in Model.FrontMainCategoryList)
    {
        string[] path = HttpContext.Current.Request.Url.AbsolutePath.Split('/');

        string urlmenuname = System.Text.RegularExpressions.Regex.Replace(menu.MenuName, @"[^0-9a-zA-Z]+", ",").ToLower().Replace(",", "-");

        if (path[2].ToLower().Trim() == urlmenuname.Trim())
        {
            <a href="/pm/@urlmenuname/@menu.MenuId" class="list-group-item active">@menu.MenuName </a>
        }
        else
        {
            <a href="/pm/@urlmenuname/@menu.MenuId" class="list-group-item">@menu.MenuName </a>
        }
    }
}