﻿@model ecommerce.Models.FrontProductModel.FrontProduct

@{
    ViewBag.Title = "Productdetails";
    Layout = "~/Views/Shared/_FrontMaster.cshtml";
}
@section header
{
    <link href="~/Content/Common/css/commoncss.css" rel="stylesheet" />
    <style>
        .boxbtn {
            margin-top: 10px;
            border: 1px solid #ccc;
            padding: 5px;
        }

        .hedh4 {
            margin-top: 0px;
            line-height: 24px;
        }

        .mySlides {
            display: none;
            /*border-bottom: 1px solid #ccc;*/
        }

        .cursor {
            cursor: pointer;
        }

        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 40%;
            width: auto;
            padding: 16px;
            background: #ccc;
            margin-top: -50px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
        }

        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
            margin-right: 5px;
        }

            .prev:hover,
            .next:hover {
                background-color: rgb(255, 51, 102);
            }

        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        .caption-container {
            text-align: center;
            background-color: #222;
            padding: 2px 16px;
            color: white;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .column {
            float: left;
            width: 16.66%;
        }

        .demo {
            opacity: 1;
        }

            .active,
            .demo:hover {
                opacity: 1;
            }

        .infrHead {
            margin-top: 4px;
            border-bottom: 1px dashed #ccc;
            text-align: center;
        }

        .zoom:hover {
            -ms-transform: scale(1.5); /* IE 9 */
            -webkit-transform: scale(1.5); /* Safari 3-8 */
            transform: scale(1.5);
        }

        .smallmidum {
            font-size: 15px;
        }

        .out-stock {
            color: #ff0000;
            font-weight: bold;
        }
    </style>
}
<br />
@if (Model.FrontProductList != null && Model.FrontProductList.Count > 0)
{
    foreach (var item in Model.FrontProductList)
    {
        <div class="container-fluid">
            <div id="columns">
                <div class="center_column" id="center_column">
                    <div id="product">
                        <div class="primary-box">
                            <div>
                                <div class="col-sm-5 Max_Width" style="border: 1px solid #ccc;padding: 5px;">
                                    @if (item.FrontProductImage.Count > 0)
                                    {
                                        int imgCount = item.FrontProductImage.Count;

                                        foreach (var img in item.FrontProductImage)
                                        {
                                            <div class="mySlides">
                                                <img src="@img.ImageUrl" style="width:100%;height: 280px;" />
                                            </div>
                                        }

                                        if (imgCount > 1)
                                        {
                                            <a class="prev" onclick="plusSlides(-1)">❮</a>
                                            <a class="next" onclick="plusSlides(1)">❯</a>
                                            <div class="row" style="margin-left:0px;">
                                                @{
                                                    int loopimgcount = 1;

                                                    foreach (var img in item.FrontProductImage)
                                                    {
                                                        <div class="column" style="border: 1px solid #ccc; padding-right: 2px;">
                                                            <img class="demo cursor" src="@img.ImageUrl" style="width:100%;height:60px;" onclick="currentSlide(@loopimgcount)">
                                                        </div>
                                                        loopimgcount = loopimgcount + 1;
                                                    }
                                                }
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="mySlides">
                                            <img src="~/Content/image/Rice1.jpg" style="width:100%;height: 280px;">
                                        </div>
                                    }
                                </div>

                                <div class="pb-right-column col-sm-7 Max_Width">
                                    <div>
                                        <h1 class="product-name">@item.ProductName</h1>
                                        <div class="product-comments">
                                            <div class="product-price-group">
                                                @if (item.DiscountPer > 0)
                                                {
                                                    <small>MRP :-</small>
                                                    <small style="text-decoration: line-through;">Rs. @item.SalePrice</small>
                                                    <span class="price">
                                                        <small class="smallmidum">Price:</small>
                                                        @String.Format("{0:0.00}", item.SalePriceWithDiscount)
                                                    </span>
                                                    <span class="discount">
                                                        You Save : @item.DiscountPer %
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="smallmidum">MRP :-</span> <span class="price"> Rs. @item.SalePrice<span id="p_Price"></span></span>
                                                }
                                            </div>
                                            <div class="info-orther">
                                                <p>Product Code :- @item.ProductCode</p>
                                                @if (item.Offer.ToLower().Trim() == "soldout")
                                                {
                                                    <p> Availability :- <span class="out-stock"> Sold Out</span></p>
                                                }
                                                else
                                                {
                                                    <p> Availability :- <span class="in-stock text-success"> Stock Is Available</span></p>
                                                }
                                                <p> Quantity (Unit) :- @item.UnitName  </p>
                                                <p> <span class="fa fa-truck"></span> Delivery Time :- @item.DeliveryTime  </p>
                                            </div>
                                        </div>
                                        @if (item.Offer.ToLower().Trim() != "soldout")
                                        {
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group form-validation">
                                                        <label><b>Quantity</b></label>
                                                        <input id="txtQuantity" name="txtQuantity" type="number" min="1"  class = "Width_textuniter" value="1" />
                                                        @*@Html.DropDownListFor(m => m.UnitId, Model.UnitList, "Select Unit", new { @class = "Width_textuniter " })*@
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="button-group">
                                                        <button type="submit" class="AddtocartMaster center-block addtocart"><span class="glyphicon glyphicon-shopping-cart Cart_Icon"></span> Add To Cart</button>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="button-group">
                                                        <button type="submit" class="AddtocartMaster2 center-block buynow"><span class="glyphicon glyphicon-tags Buy_Now_Cart"></span> Buy Now</button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="hidden">
                                <span id="prodetails" class="hidden" data-productid="@item.ProductId" data-productname="@item.ProductName" data-productimgurl="@(item.FrontProductImage.Count>0?item.FrontProductImage[0].ImageUrl:"~/Content/image/noproduct.png")" data-saleprice="@item.SalePrice" data-discount="@item.Discount" data-unitid="@item.Unit" data-unitname="@item.UnitName"></span>
                            </div>
                            <div class="clearfix"></div>
                            <br /><hr />
                            <div class="col-sm-12">
                                <div class="toggle">
                                    <div class="toggle-title">
                                        <h3>
                                            <i></i>
                                            <span class="title-name">Product Discription</span>
                                        </h3>
                                    </div>
                                    @*<div class="toggle-inner" style="overflow: hidden; display: none;padding: 8px;">*@
                                    <div>
                                        @if (item.FrontProductDescription != null)
                                        {
                                            if (!string.IsNullOrEmpty(item.FrontProductDescription.Descripion1))
                                            {
                                                <p>
                                                    @item.FrontProductDescription.Descripion1
                                                </p>
                                                <br />
                                            }
                                            if (!string.IsNullOrEmpty(item.FrontProductDescription.Descripion2))
                                            {
                                                <p>
                                                    @item.FrontProductDescription.Descripion2
                                                </p>
                                                <br />
                                            }
                                            if (!string.IsNullOrEmpty(item.FrontProductDescription.Descripion3))
                                            {
                                                <p>
                                                    @item.FrontProductDescription.Descripion3
                                                </p>
                                                <br />
                                            }
                                            if (!string.IsNullOrEmpty(item.FrontProductDescription.Descripion4))
                                            {
                                                <p>
                                                    @item.FrontProductDescription.Descripion4
                                                </p>
                                                <br />
                                            }
                                            if (!string.IsNullOrEmpty(item.FrontProductDescription.Descripion5))
                                            {
                                                <p>
                                                    @item.FrontProductDescription.Descripion5
                                                </p>
                                                <br />
                                            }
                                        }
                                    </div>
                                </div>
                                @*<div class="toggle">
                                        <div class="toggle-title">
                                            <h3>
                                                <i></i>
                                                <span class="title-name">Benifits</span>
                                            </h3>
                                        </div>
                                        <div class="toggle-inner" style="overflow: hidden; display: none;padding: 8px;">
                                            <p>
                                                <span>Onions are known to have antiseptic, antimicrobial and antibiotic properties which help you to get rid of infections. If a piece of onion is inhaled, it can slow down or stop nose bleeding. Those who have sleeping disorders or insomnia can have a good night sleep if they have an onion every day. Onions also help to improve the functions of the digestive system; because it releases the digestive juices and cures any problem related to digestion.</span>
                                            </p>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <img src="~/Content/image/noproduct.png" class="img-responsive" />
}
<br />
<br />
@section footer
{
    <script src="~/Content/FrontEnd/js/cart.js"></script>
    @*<script src="~/Content/Common/js/common.js"></script>*@

    @*<script>
            if (jQuery(".toggle .toggle-title").hasClass('active_n2')) {
                jQuery(".toggle .toggle-title.active_n2").closest('.toggle').find('.toggle-inner').show();
            }
            jQuery(".toggle .toggle-title").click(function () {
                if (jQuery(this).hasClass('active_n2')) {
                    jQuery(this).removeClass("active_n2").closest('.toggle').find('.toggle-inner').slideUp(200);
                }
                else {
                    jQuery(this).addClass("active_n2").closest('.toggle').find('.toggle-inner').slideDown(200);
                }
            });
        </script>
    *@
    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            //captionText.innerHTML = dots[slideIndex - 1].alt;
        }
    </script>
}