﻿@model ecommerce.Models.Backend.BackendLogin
<link href="~/Content/Common/css/commoncss.css" rel="stylesheet" />

<div class="modal fade" id="SignUpSignInModel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="EventID">
                <div>
                    <div class="col-sm-4 coloumfor_width">
                        <div>
                            <img class="center-block img-responsive Login_Logo_image" src="~/Content/NewfrontEnd/image/catalog/logo-2.png" />
                        </div>
                        <div>
                            <img src="~/Content/css/FrontEnd/images/map.png" class="center-block width_Your" />
                            <p class="Mange_font"><b>MANAGE YOUR ORDERS</b></p>
                            <p class="Track_Fontsize">Track orders, manage cancellations & returns.</p>
                        </div>
                    </div>
                    <div class="col-sm-8 columeight_width">
                        <div class="mypomart_your_size">
                            <div>
                                <button type="button" class="pull-right closefsignin" onclick="CloseLoginPopup();" data-dismiss="modal" style="background: #ccc0; border: none; cursor: pointer;">
                                    <span class="RoundCloseButtonSize">
                                        <img src="~/Content/css/FrontEnd/images/Close.png" width="15" />
                                    </span>
                                </button>
                            </div>
                            <div class="boxdesign">
                                <span id="txtMsgHeader" class="mypomart_fontsize">VocalGoLocal sign in to your account </span>
                                <span id="txtMsgHeadersignup" class="mypomart_fontsize hidden">VocalGoLocal sign up to your account </span>
                                <span id="txtMsgHeadersignveryfy" class="mypomart_fontsize hidden">VocalGoLocal verify to your account </span>
                            </div>
                            <div class="formValidate" id="loginform" method="post">
                                <div class="row form-group" style="margin-top: 20px;">
                                    <div class="col-sm-12 form-group">
                                        <label for="LoginId">Login ID / Email ID*</label>
                                        <input id="FrontLoginId" name="FrontLoginId" type="text" class="form-control3" placeholder="Enter Login ID / Email ID" />
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <label for="Password">Password</label>
                                        <input id="FrontPassword" name="FrontPassword" type="Password" class="form-control3" placeholder="Enter Password" />
                                    </div>
                                    <div id="errormsgdiv"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a class="pull-left forget_password_text" style="color: #ff6795; cursor:pointer;">Forgot Password?</a>
                                            </div>
                                            <div class="col-sm-6">
                                                <span class="pull-right btn btn-default" style="background:#6f0063;" id="btnFrontlogin">Login Now</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" style="margin-top: 100px;">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <button type="button" class="mypomart_sinup" id="btnRegisterID">Don't have an account! <b>Sign Up Here</b></button>
                                            </div>
                                            <div class="col-sm-4 hidden" id="NotVerifiedSection">
                                                <button class="btn btn-default" style="background:#ff6795;" onclick="ClickNotVerified();">Verify Your Account</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="formValidate hidden" id="Signinform">
                                <div class="row form-group" style="margin-top: 20px;">
                                    <div class="col-sm-12 form-group">
                                        <div class="row">
                                            <div class="col-sm-6 form-validation">
                                                <label>First Name</label>
                                                <input id="txtSignUpFirstName" name="txtSignUpFirstName" type="text" class="form-control3" placeholder="first name" />
                                            </div>
                                            <div class="col-sm-6 form-validation">
                                                <label>Last Name</label>
                                                <input id="txtSignUpLastName" name="txtSignUpLastName" type="text" class="form-control3" placeholder="last name" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="row">
                                            <div class="col-sm-6 form-validation">
                                                <label>Email ID</label>
                                                <input id="txtSignUpEmail" name="txtSignUpEmail" type="text" class="form-control3" placeholder="email id" />
                                            </div>
                                            <div class="col-sm-6 form-validation">
                                                <label>Mobile No</label>
                                                <input id="txtSignUpMobile" name="txtSignUpMobile" type="text" class="form-control3" placeholder="mobile no" onkeypress="return OnlyNumberKey(event);" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group form-validation">
                                        <label>Login Id</label>
                                        <input id="txtSignUpUserId" name="txtSignUpUserId" type="text" class="form-control3" placeholder="user id" onkeypress="return CheckFrontUserId();" />
                                        <span class="pull-right hidden useridexist"></span>
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="row">
                                            <div class="col-sm-6 form-validation">
                                                <label>Password</label>
                                                <input id="txtSignUpPassword" name="txtSignUpPassword" type="password" class="form-control3" placeholder="password" />
                                            </div>
                                            <div class="col-sm-6 form-validation">
                                                <label>Confirm Password</label>
                                                <input id="txtSignUpCnfPassword" name="txtSignUpCnfPassword" type="password" class="form-control3" placeholder="confirm password" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    @*<div class="col-sm-6">
                                            <button class="btn btn-default mypomart_loginbutton_color" id="verify" type="button">Verify</button>
                                        </div>*@
                                    <div class="col-sm-6 pull-right">
                                        <button class="btn btn-default mypomart_loginbutton_color" id="Signbtn" type="button" onclick="return FrontRegSubmitEvt();">Sign Up</button>
                                    </div>
                                    <div id="errorsingup"></div>
                                    <div class="col-sm-12">
                                        <button type="button" class="mypomart_sinup" id="btnloginhear">login Here</button>
                                    </div>
                                </div>
                            </div>
                            <div class="formValidate hidden" id="Verifyform">
                                <div class="row form-group" style="margin-top: 20px;border: 1px solid #ccc;padding: 22px;">
                                    <div class="col-sm-12 form-group">
                                        <div class="row form-group">
                                            <div class="col-sm-3">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-sm-9 form-validation">
                                                <input id="txtuseridotp" name="txtuseridotp" type="text" class="form-control3" placeholder="user id" />
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-sm-3">
                                                <label>Password</label>
                                            </div>
                                            <div class="col-sm-9 form-validation">
                                                <input id="txtpasswordotp" name="txtpasswordotp" type="text" class="form-control3" placeholder="password" />
                                            </div>
                                        </div>
                                        <div class="col-sm-12 form-group hidesendotpbutton">
                                            <button class="btn btn-default pull-right" style="background: #ff9201 !important;border: 1px solid #ff9201;width: 30%;" id="SendVarifyOtp" type="button" onclick="return SendVerificationCode();">Send OTP</button>                                           
                                        </div>
                                        <div class="row form-group hidden hasotpdetails">
                                            <div class="col-sm-3">
                                                <label>Email OTP</label>
                                            </div>
                                            <div class="col-sm-9 form-validation">
                                                <input id="txtemailotp" name="txtemailotp" type="text" class="form-control3" placeholder="email otp..." />
                                            </div>
                                        </div>
                                        <div class="row form-group hidden hasotpdetails">
                                            <div class="col-sm-3">
                                                <label>SMS OTP</label>
                                            </div>
                                            <div class="col-sm-9 form-validation">
                                                <input id="txtsmsotp" name="txtsmsotp" type="text" class="form-control3" placeholder="sms otp..." />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group hidden hasotpdetails">
                                        <button class="btn btn-default pull-right" style="background: #ff9201 !important;border: 1px solid #ff9201;width: 30%;" id="VarifyOtp" type="button" onclick="return FrontVerifySubmitEvt();">Verify</button>
                                        @*<button class="btn btn-default mypomart_loginbutton_color center-block" style="margin-top: -2px;width:38%!important" id="verify" onclick="return FrontRegSubmitEvt();" type="button">Verify</button>*@
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9"><p id="perrormsg"></p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#btnRegisterID").click(function () {
        $("#txtMsgHeadersignup").removeClass("hidden");
        $("#Signinform").removeClass("hidden");
        $("#loginform").addClass("hidden");
        $("#txtMsgHeader").addClass("hidden");
        $("#txtMsgHeadersignveryfy").addClass("hidden");
        $("#Verifyform").addClass("hidden");
    });
    $("#btnloginhear").click(function () {
        $(".msg").html("");
        $("#loginform").removeClass("hidden");
        $("#Signinform").addClass("hidden");
        $("#txtMsgHeader").removeClass("hidden");
        $("#txtMsgHeadersignup").addClass("hidden");
    });
    $("#verify").click(function () {
        $("#Signinform").addClass("hidden");
        $("#loginform").addClass("hidden");
        $("#txtMsgHeader").addClass("hidden");
        $("#txtMsgHeadersignup").addClass("hidden");
        $("#txtMsgHeadersignveryfy").removeClass("hidden");
        $("#Verifyform").removeClass("hidden")
    });
</script>