﻿@model ecommerce.Models.FrontMenuModel.FrontMainCategoryModel

@if (Model.FrontMainCategoryList != null && Model.FrontMainCategoryList.Count > 0)
{
    <div class="container">
        <div class="cat-img">
            <div class="pro-bg pro-nepr">
                <h2>Top Categories</h2><hr>
                <div class="col-lg-12 col-md-12 col-sm-12 p-0 lm-p-l-0 beyque-p col-xs-12">
                    <div id="featured_category">
                        <div class="category_module p-0">
                            <div id="" class="beyqu-center-column-btn">
                                @foreach (var menu in Model.FrontMainCategoryList)
                                {
                                    string urlmenuname = System.Text.RegularExpressions.Regex.Replace(menu.MenuName, @"[^0-9a-zA-Z]+", ",").ToLower().Replace(",", "-");
                                    <div class="block-cat-wr col-xs-12 col-md-3 pl-5 pr-5">
                                        <a href="/pm/@urlmenuname/@menu.MenuId">
                                            <img src="@menu.Image" class="img-responsive center-block" alt="">
                                        </a>
                                        <h4 class="text-center cat-name-height">
                                            <a href="/pm/@urlmenuname/@menu.MenuId" class="">@menu.MenuName</a>
                                        </h4>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}