﻿@model ecommerce.Models.Backend.AreaMaster.Country

@{
    ViewBag.Title = "AddEditCountryMaster";
    Layout = "~/Views/Shared/_BackendLayoutPage.cshtml";
}

@section header{
    <link href="~/Content/Common/css/commoncss.css" rel="stylesheet" />
}

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Add / Edit Country</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="close-link" href="/area-master/country-list"><i class="fa fa-reply"></i>&nbsp;Country List</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <input type="hidden" id="hdnCountryId" value="@Model.CountryId" />
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                    Country Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 form-validation">
                    @Html.TextBoxFor(p => p.CountryName, new { @class = "form-control", placeholder = "Enter country name" })
                </div>
            </div>
            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                    Country Code <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 form-validation">
                    @Html.TextBoxFor(p => p.CountryCode, new { @class = "form-control", placeholder = "Enter country code" })
                </div>
            </div>
            <div class="item form-group">
                <div class="col-md-6 col-sm-6 offset-md-3">
                    <button type="submit" id="btnSubmit" class="btn btn-success pull-right" onclick="CountrySubmitEvt();">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer{
    <script src="~/Content/BackEnd_Section/ControlJs/areamaster.js"></script>
}