﻿@model ecommerce.Models.Backend.AreaMaster.City

@{
    Layout = "~/Views/Shared/_BackendLayoutPage.cshtml";
}


<div class="col-md-12 col-sm-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-list"></i>&nbsp;State Master List</h2>
                </div>
                <div class="col-sm-6">
                    <div class="text-right">
                        <a href="/area-master/add-edit-city" class="btn btn-primary btn-sm"><span class="fa fa-plus-circle" style="color:#fff!important;"></span>&nbsp;Add New City</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        @if (Model.CityList != null)
                        {
                            <div class="input-group col-sm-4">
                                <input type="text" class="form-control" id="txtCitySearch" placeholder="Search by city name" />
                                @*<span class="input-group-btn">
                                        <button type="button" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;Search</button>
                                    </span>*@
                            </div>
                        }
                        <div class="clearfix"></div>
                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr style="background:#f6f6f6;">
                                    @*<th style="width:50px;">Sr.No.</th>*@
                                    <th>City&nbsp;Name</th>
                                    <th>City&nbsp;Code</th>
                                    <th>State&nbsp;Name</th>
                                    <th>Country&nbsp;Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.CityList != null)
                                {
                                    //int count = 0;
                                    foreach (var item in Model.CityList)
                                    {
                                        <tr class="citylistcss" data-cityname="@item.CityName">
                                            @*<td style="text-align: center;">@(count = count + 1)</td>*@
                                            <td>@item.CityName</td>
                                            <td>@item.CityCode</td>
                                            <td>@item.StateName</td>
                                            <td>@item.CountryName</td>
                                            <td>@(item.Status == true ? "Active" : "InActive")</td>
                                            <td>
                                                <a href="/area-master/add-edit-city?cityid=@item.CityId" class="btn btn-success btn-sm" data-toggle="Edit" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                                <span id="deletecity_@item.CityId" style="cursor: pointer;" data-cityid="@item.CityId" class="btn btn-danger btn-sm deletecity" data-toggle="InActive" title="InActive"><span class="fa fa-trash"></span></span>
                                            </td>
                                        </tr>
                                    }
                                    <tr class="norecordfound hidden">
                                        <td colspan="6" class="text-center text-danger">No record found !</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6" class="text-center text-danger">No record found !</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="custommodal">
    <button type="button" class="btn btn-info btn-lg dodelete hidden" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#DeleteModel"></button>
</div>

@section footer{
    <script src="~/Content/BackEnd_Section/ControlJs/areamaster.js"></script>
}


