﻿<!DOCTYPE html>
@using ecommerce.Models.Backend;
@using ecommerce.Service;

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Backend Section</title>
    <link href="~/Content/BackEnd_Section/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />*@
    <link href="~/Content/BackEnd_Section/css/custom.min.css" rel="stylesheet" />
    <style>
        .table-striped tbody tr:nth-of-type(odd) {
            background: none !important;
        }

        .hidden {
            display: none !important;
        }
    </style>
    @RenderSection("header", false)
</head>
<body class="nav-md">
    @{
        BackendLogin lu = new BackendLogin();
        if (!AccountService.IsBackendLogin(ref lu))
        {
            if (AccountService.LogoutBackendLogin())
            {
                Response.Redirect("/backend/login");
            }
        }
        else
        {
            <input id="hdnUserType" type="hidden" value="@lu.UserType" />
            <div class="container body">
                <div class="main_container">
                    <div class="col-md-3 left_col">
                        <div class="left_col scroll-view">
                            <div class="navbar nav_title" style="border-bottom: 1px solid #ccc;">
                                <span class="site_title">Admin Section</span>
                            </div>
                            <div class="clearfix"></div><br />
                            <!-- sidebar menu -->
                            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                                <div class="menu_section">

                                    <ul class="nav side-menu">
                                        <li>
                                            <a href="/dashboard"><i class="fa fa-home"></i> Dashboard</a>
                                        </li>
                                        @if (lu.UserType.ToLower() == "admin")
                                        {
                                            <li>
                                                <a href="/member-master/member-list"><i class="fa fa-users"></i> Member Master</a>
                                            </li>
                                            <li>
                                                <a><i class="fa fa-building-o"></i> Area Master <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li><a href="/area-master/country-list">Country Master</a></li>
                                                    <li><a href="/area-master/state-list">State Master</a></li>
                                                    <li><a href="/area-master/city-list">City Master</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a><i class="fa fa-suitcase"></i> Basic Master <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li><a href="/basic-master/menu-list">Menu Master</a></li>
                                                    <li><a href="/basic-master/category-list">Category Master</a></li>
                                                    <li><a href="/basic-master/sub-category-list">Sub Category Master</a></li>
                                                    <li><a href="/basic-master/brand-list">Brand Master</a></li>
                                                    <li><a href="/basic-master/Unit-list">Unit Master</a></li>
                                                </ul>
                                            </li>
                                        }
                                        <li>
                                            <a><i class="fa fa-product-hunt"></i> Product Master <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="/product-master/product-list">Product List</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a><i class="fa fa-history"></i> Product Order History <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                <li><a href="/product-order-history/all-order">All Order</a></li>
                                                <li><a href="/product-order-history/pending-order">Pending Order</a></li>
                                                <li><a href="/product-order-history/delivered-order">Devivered Order</a></li>
                                                <li><a href="/product-order-history/cancelled-order">Cancelled Order</a></li>
                                            </ul>
                                        </li>
                                        @if (lu.UserType.ToLower() == "admin")
                                        {
                                            <li>
                                                <a><i class="fa fa-eye"></i> CMS Master <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">
                                                    <li><a href="/cms-master/aboutus-details">About Us</a></li>
                                                    <li><a href="/cms-master/privacy-policy-details">Privacy Policy</a></li>
                                                    <li><a href="#">Delivery Info</a></li>
                                                    <li><a href="#">Return Policy</a></li>
                                                    <li><a href="#">Delivery Policy</a></li>
                                                    <li><a href="#">FAQ Info</a></li>
                                                    <li><a href="#">Term and Condition</a></li>
                                                </ul>
                                            </li>
                                        }
                                        <li>
                                            <a><i class="fa fa-cog"></i> Setting Master <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu">
                                                @if (lu.UserType.ToLower() == "admin")
                                                {
                                                    <li><a href="/setting-master/home-banner">Home Banner Master</a></li>
                                                }
                                                <li><a href="/setting-master/delivery-charges-list">Delivery Charges</a></li>
                                            </ul>
                                        </li>
                                        @if (lu.UserType.ToLower() == "admin")
                                        {
                                            <li>
                                                <a><i class="fa fa-bookmark"></i> Review Master <span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu">                                                    
                                                    <li><a href="/review-master/review-list">Review List</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-envelope"></i> Newsletter Suscriber</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <!-- /sidebar menu -->
                        </div>
                    </div>

                    <div class="top_nav">
                        <div class="nav_menu">
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                            <nav class="nav navbar-nav">
                                <ul class=" navbar-right">
                                    <li class="nav-item dropdown open" style="padding-left: 15px;">
                                        <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                            <img src="~/Content/image/user.png" alt="">@lu.FirstName
                                        </a>
                                        <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown" style="left: 30px!important;width: 160px!important;">
                                            <a class="dropdown-item" href="javascript:;" style="border-bottom: 1px solid #ccc;"> Profile</a>
                                            @*<a class="dropdown-item" href="javascript:;">
                                                    <span class="badge bg-red pull-right">50%</span>
                                                    <span>Settings</span>
                                                </a>
                                                <a class="dropdown-item" href="javascript:;">Help</a>*@
                                            <span class="dropdown-item" style="cursor:pointer;" onclick="Logout();"><i class="fa fa-sign-out pull-right"></i> Log Out</span>
                                        </div>
                                    </li>

                                    <li role="presentation" class="nav-item dropdown open">
                                        <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-envelope-o"></i>
                                            <span class="badge bg-green">6</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="right_col" role="main">
                        @*<div class="row">*@
                        @RenderBody()
                        @*</div>*@
                    </div>

                    <button type="button" class="btn btn-info btn-lg successmessage hidden" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#SuccessMsg"></button>
                    <div class="modal fade" id="SuccessMsg" role="dialog">
                        <div class="modal-dialog modal-sm" style="margin:15% auto!important;">
                            <!-- Modal content-->
                            <div class="modal-content" style="text-align: center;border-radius: 5px !important;">
                                <div class="modal-header" style="padding: 12px;">
                                    <h5 class="modal-title modelheading"><span id="iconid"></span><span class="spanmsg"></span></h5>
                                </div>
                                <div class="modal-body" style="padding-left:20px!important;">
                                    <h6 class="sucessmsg"></h6>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="button" class="btn btn-info btn-lg failedmessage hidden" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#FailedMsg"></button>
                    <div class="modal fade" id="FailedMsg" role="dialog">
                        <div class="modal-dialog modal-sm" style="margin:15% auto!important;">
                            <!-- Modal content-->
                            <div class="modal-content" style="text-align: center;border-radius: 5px !important;">
                                <div class="modal-header" style="padding: 12px;">
                                    <h5 class="modal-title failedheading"><span id="iconid"></span><span class="spanmsg"></span></h5>
                                </div>
                                <div class="modal-body" style="padding-left:20px!important;">
                                    <h6 class="failedmsg"></h6>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger failedclose" data-dismiss="modal">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <footer>
                        <div class="text-right">
                            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                        </div>
                        <div class="clearfix"></div>
                    </footer>
                </div>
            </div>
        }
    }
    <script src="~/Content/BackEnd_Section/js/jquery.min.js"></script>
    <script src="~/Content/BackEnd_Section/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/BackEnd_Section/js/custom.min.js"></script>
    <script src="~/Content/BackEnd_Section/ControlJs/BackEndMasterJs.js"></script>
    <script src="~/Content/Common/js/common.js"></script>
    <link href="~/Content/BackEnd_Section/css/summernote.css" rel="stylesheet" />
    <script src="~/Content/BackEnd_Section/js/summernote.js"></script>
    <script>
        $('.summernote').summernote({
            height: 300
        });

        $('.summernote1').summernote({
            height: 200
        });

    </script>
    @RenderSection("footer", false)
</body>
</html>
