﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/FrontEnd/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/FrontEnd/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/FrontEnd/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/css/FrontEnd/lib/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/css/FrontEnd/lib/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/css/FrontEnd/lib/fancyBox/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/css/FrontEnd/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/FrontEnd/css/reset.css" rel="stylesheet" />
    <link href="~/Content/css/FrontEnd/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/FrontEnd/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/css/FrontEnd/css/option6.css" rel="stylesheet" />
    <link href="~/Content/css/FrontEnd/css/MyCode.css" rel="stylesheet" />
    <link href="~/static/version1528094531/_cache/merged/78c815164be27bb6bc5a708a5ec1e31f.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="~/Content/css/FrontEnd/css/Checkbox.css.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/mastercss.css" rel="stylesheet" />
    <script src="~/Content/css/FrontEnd/lib/jquery/jquery-1.11.2.min.js"></script>
    <style>
        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 999;
        }
    </style>
    @RenderSection("header", false)
</head>
<body>
    <div class="magebig-container abc" id="myHeader">
        <header>
            <div class="panel wrapper">
                <div class="panel header">
                    @*@<div class="header-top-inner">
                        <div class="row align-items-center header-top-row TrackOrder_BackgroundColors">
                            <div class="container">
                                <div class="col-sm-12">
                                    <div class="welcome"><p style="color:white;padding: 10px 0px 0px 0px;">Welcome to xyz technology Online Store!</p></div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <div class="header-main-content sticky-menu" style="background-color:white;">
                        <div class="container">
                            <div class="header-main-inner">
                                <div class="row align-items-center header-maininner-row">
                                    <div class="col-12 col-md-3 col-lg-3 col-logo">
                                        <div class="menu-logo">
                                            <h1 class="logo text-hide">
                                                <a href="/" title="martfury">
                                                    <img class="img-fluid" src="~/Content/css/FrontEnd/images/logo.png" width="150" />
                                                </a>
                                            </h1>
                                        </div>
                                        <div class="mb-navigation vertical-menu d-none d-md-block">
                                            <div class="title"><span class="mbi mbi-menu"></span><span class="d-none d-lg-inline-block">Shop By Product's<i class="mbi mbi-ios-arrow-down"></i></span></div>
                                            <div class="horizontal-menu navigation" data-action="navigation">
                                                @Html.Action("DropdownMenu", "Default")
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-search">
                                        <div class="top-search-wrap">
                                            <div class="block block-search top-search">
                                                <div class="block block-title"><strong>Search</strong></div>
                                                <div class="block block-content">
                                                    <div class="field search">
                                                        <label class="label" for="search" data-role="minisearch-label">
                                                            <span>Search</span>
                                                        </label>
                                                        <div class="control">
                                                            <input id="txtSearch" type="text" name="q" placeholder="I'm looking for..." onkeyup="SearchText()" class="input-text" maxlength="128" role="combobox" aria-haspopup="false" aria-autocomplete="both" aria-expanded="false" autocomplete="off" data-block="autocomplete-form" />
                                                            <div id="search_autocomplete" class="search-autocomplete"></div>
                                                        </div>
                                                    </div>

                                                    <div class="actions">
                                                        <button type="button" title="Search" class="action search" onclick="SearchOnBtn()"><span>Search</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="header-content-action row no-gutters">
                                            <div class="btn-nav-mobile d-md-none col">
                                                <button class="btn-nav mb-toggle-switch mb-toggle-switch__htx"><span>toggle menu</span></button>
                                            </div>
                                            <div class="d-block d-md-none btn-search-mobile col">
                                                <i class="mbi mbi-magnifier"></i>
                                            </div>
                                            <div class="user-topbar col">
                                                <i class="mbi mbi-user blanckman" style="color:black;"></i>
                                                <ul class="header links">
                                                    <li class="authorization-link loginsection" data-label="or" style="line-height: 30px!important;">
                                                        <a href="#" data-toggle="modal" id="btnFrontUserLogin" data-target="#SignUpSignInModel"> Log In</a>
                                                    </li>
                                                    @*<li>
                                                            <a href="#" data-toggle="modal" data-target="#SignUpSignInModel">Register</a>
                                                        </li>*@

                                                    <div id="user-info-top" class="pull-right logoutsection hidden">
                                                        <div class="dropdown" style="background: #4e4d4e;border-radius: 3px; padding: 7px">
                                                            <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" style="color:#fff;font-weight:bold">My Account <span class="fa fa-angle-down"></span></a>
                                                            <ul class="dropdown-menu mega_dropdown" role="menu">
                                                                <li style="border-bottom: 1px solid #ccc;">
                                                                    <a href="/MemberMaster/UserProfile"><span class="fa fa-user"></span> My Profie</a>
                                                                </li>
                                                                <li style="border-bottom: 1px solid #ccc;">
                                                                    <a href="/ProductOrderHistoryMaster/OrderListUser"><span class="fa fa-list-alt"></span> Orders</a>
                                                                </li>
                                                                <li style="border-bottom: 1px solid #ccc;">
                                                                    <a href="#" id="frontlogout"><span class="fa fa-power-off"></span> Logout  </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </ul>
                                            </div>
                                            <div class="col width-action">
                                                <div data-block="minicart" class="minicart-wrapper" id="cart-block">
                                                    <a href="#" title="My Cart" class="action showcart" data-toggle="modal" data-target="#mycart">
                                                        <i class="mbi mbi-bag2"></i>
                                                        <span class="counter add-Counter cartcounter">0</span>
                                                    </a>
                                                </div>
                                            </div>
                                            @*<div class="col">
                                                    <div class="wishlist-topbar">
                                                        <a href="/WhshList/Index" class="wishlist-icon link wishlist" title="Wish List">
                                                            <i class="mbi mbi-heart" style="color:black;"></i>
                                                        </a>
                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-menu-content d-none d-md-block">
                        <div class="container">
                            <div class="menu-container">
                                <div class="row align-items-center">
                                    <div class="col-3 d-none d-md-block">
                                    </div>
                                    <div class="col-9 col-md-9 col-lg-6 d-none d-md-block">
                                        @*@Html.Action("DirectMenu", "Home")*@
                                    </div>
                                    <div class="col-12 col-md-3 d-none d-lg-block"><div class="hotline-top"><i class="mbi mbi-telephone"></i><span> Helpline No: <strong>9199288931</strong><span></span></span></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div>
        @RenderBody()
    </div>
    <footer class="page-footer">
        <div class="footer-top">
            <div class="main-newsletter container">
                <div class="main-newsletter-inner">
                    <div class="row subscribe align-items-center">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                            <h2 class="title"><span>Our Subscription</span></h2>
                            <div class="text">Subscribe to get information about products and discounts</div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-7">
                            @using (Ajax.BeginForm("Create", "SubscribeEmails", new AjaxOptions { OnSuccess = "OnSuccessReviewss", OnFailure = "OnFailure", LoadingElementId = "progress" }))
                            {
                                <div class="block-content">
                                    <div class="input-box">
                                        <input name="Email" type="email" id="Email" placeholder="Enter your email here..." required>
                                        <button class="hover-effect07" title="Subscribe" type="submit"> <span>Subscribe</span></button>
                                    </div>
                                    <div class="col-sm-12" id="SubscribePost">

                                    </div>
                                </div>
                            }
                            <script>
                                var OnSuccessReviewss = function () {
                                    $('#SubscribePost').html('<h3 style="font-size: 12px;font-weight: 600;color: #76b51b;margin-top: 12px;">Thanks For Your Subscription. Your Subscription has been Submited Successfully.</h3>');
                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="widgetplus widgetplus-block slider-0" id="widgetplus-block-1379613318">
                <div class="block-static">
                    <div class="block-wrap">
                        <div id="footer-widgets" class="footer-widgets">
                            <div class="container">
                                <br /><br />
                                <div class="footer-main">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="footer-contact">
                                                <div class="h4 title">Contact Us</div>
                                                <div class="textwidget">
                                                    <p>Call us 24/7 <br> <span class="phone" style="color:#d8d8d8">9199288931</span> <br> <br> muzaffarpur <br>sweetsaurav.93@gmail.com</p>
                                                </div>
                                            </div>                                            
                                            <ul class="social-links">
                                                <li><a class="mb-tooltip twitter" href="#" rel="nofollow"><img src="~/Content/image/twiter.png" style="height:30px;width:30px;" /></a></li>
                                                <li><a class="mb-tooltip Facebbok" href="#" rel="nofollow"><img src="~/Content/image/facbbok.png" style="height:30px;width:30px;" /></a></li>
                                                <li><a class="mb-tooltip Instagram" href="#" rel="nofollow"><img src="~/Content/image/insta.jpg" style="height:30px;width:30px;" /></a></li>
                                                <li><a class="mb-tooltip twitter" href="#" rel="nofollow"><img src="~/Content/image/google.png" style="height:30px;width:30px;" /></a></li>
                                            </ul>

                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-3">
                                            <div class="footer-links-wrap">
                                                <div class="h4 title" style="color: #fff;">Get to Know Us</div>
                                                <div class="footer-container">
                                                    <ul class="footer-links">
                                                        <li><a href="/Home/About">About Us</a></li>
                                                        <li><a href="/Home/Contact">Contact Us</a></li>
                                                        <li><a href="/Home/termsandconditions">Term &amp; Conditions</a></li>
                                                        <li><a href="/Home/RefundPolicy">Return Policy</a></li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="footer-links-wrap">
                                                <div class="h4 title" style="color: #fff;">Let Us Help You</div>
                                                <div class="footer-container">
                                                    <ul class="footer-links">
                                                        <li><a href="/Home/DeliveryInformation"> Delivery Information</a></li>
                                                        <li><a href="/Home/Privacypolicy">Privacy Policy</a></li>
                                                        <li><a href="/Home/DeliveryPolicy">Delivery Policy</a></li>
                                                        <li><a href="/Home/FAQ">FAQs</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="use_Backgroundcolor">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="center-block"><a href="/Home/PrivacyNotice">Privacy Notice</a> © 2018,  Xyz Technology, Inc. or its affiliates</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal fade" id="mycart" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="dvUpdateCart">
                        <div class="row" id='detailsofcart'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-info btn-lg addprodincart hidden" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#AddProdtInCart"></button>
    <div class="modal fade" id="AddProdtInCart" role="dialog">
        <div class="modal-dialog modal-sm" style="margin:15% auto!important;">
            <!-- Modal content-->
            <div class="modal-content" style="text-align: center;border-radius: 5px !important;">
                <div class="modal-body" style="height:0px!important;">
                    <img src="~/Content/image/cart-loading.gif" />
                </div>
                <div class="modal-footer hidden">
                    <button type="button" class="btn btn-danger hidden closeaddprodincart" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="scroll_top" title="Scroll to Top">Scroll</a>
    <script>
        $(window).scroll(function () {
            var sticky = $('.abc'),
                scroll = $(window).scrollTop();

            if (scroll >= 100) sticky.addClass('sticky');
            else sticky.removeClass('sticky');
        });
    </script>
    <!-- Script-->
    <script src="~/Content/css/FrontEnd/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Js/WhishListJs.js"></script>
    <script src="~/Content/css/FrontEnd/lib/select2/js/select2.min.js"></script>
    <script src="~/Content/css/FrontEnd/lib/jquery.bxslider/jquery.bxslider.min.js"></script>
    <script src="~/Content/css/FrontEnd/lib/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Content/css/FrontEnd/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/css/FrontEnd/js/jquery.actual.min.js"></script>
    <script src="~/Content/css/FrontEnd/lib/countdown/jquery.plugin.js"></script>
    <script src="~/Content/css/FrontEnd/lib/fancyBox/jquery.fancybox.js"></script>
    <script src="~/Content/css/FrontEnd/lib/jquery.elevatezoom.js"></script>
    <script src="~/Content/css/FrontEnd/js/theme-script.js"></script>
    <script src="~/Content/css/FrontEnd/lib/parallax/jquery.parallax-1.1.3.js"></script>
    <script src="~/Content/FrontEnd/js/masterjs.js"></script>
    <script src="~/Content/Common/js/common.js"></script>
    @*<script>
            $(window).on('load', function () {
                $('#SignUpSignInModel').modal('show');
            });
        </script>*@
    @RenderSection("footer", false)
</body>
</html>
@Html.Action("SignUp", "Default")
