﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vocal Go Local</title>
    <script src="~/Content/NewfrontEnd/catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
    <link href="~/Content/NewfrontEnd/catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/NewfrontEnd/catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/NewfrontEnd/catalog/view/javascript/inspire/product-slider-zoom/jquery.elevatezoom.js" type="text/javascript"></script>
    <link href="~/Content/NewfrontEnd/catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css" />
    <link href="~/Content/NewfrontEnd/catalog/view/theme/default/stylesheet/stylesheet.css" rel="stylesheet">
    <script src="~/Content/NewfrontEnd/catalog/view/javascript/countdown/jquery.plugin.min.js" type="text/javascript"></script>
    <script src="~/Content/NewfrontEnd/catalog/view/javascript/countdown/jquery.countdown.min.js" type="text/javascript"></script>
    <link href="~/Content/NewfrontEnd/catalog/view/javascript/jquery/swiper/css/owl.carousel.css" type="text/css" rel="stylesheet" media="screen" />
    <link href="~/Content/NewfrontEnd/catalog/view/javascript/jquery/swiper/css/owl.theme.css" type="text/css" rel="stylesheet" media="screen" />
    <link href="~/Content/NewfrontEnd/catalog/view/javascript/jquery/swiper/css/swiper.min.css" type="text/css" rel="stylesheet" media="screen" />
    <link href="~/Content/NewfrontEnd/catalog/view/javascript/jquery/swiper/css/opencart.css" type="text/css" rel="stylesheet" media="screen" />
    <link href="~/Content/NewfrontEnd/catalog/view/javascript/jquery/swiper/css/css/owl.carousel.css" type="text/css" rel="stylesheet" media="screen" />
    <link href="~/Content/NewfrontEnd/catalog/view/javascript/jquery/swiper/css/css/owl.theme.css" type="text/css" rel="stylesheet" media="screen" />
    <link href="~/Content/NewfrontEnd/catalog/view/javascript/jquery/magnific/magnific-popup.css" type="text/css" rel="stylesheet" media="screen" />
    <link href="~/Content/NewfrontEnd/catalog/view/theme/default/stylesheet/inspirenewsletter.css" type="text/css" rel="stylesheet" media="screen" />
    <script src="~/Content/NewfrontEnd/catalog/view/javascript/blog/lightbox-2.6.min.js" type="text/javascript"></script>
    <link href="~/Content/NewfrontEnd/catalog/view/javascript/blog/lightbox.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/FrontEnd/css/MyCode.css" rel="stylesheet" />
    <link href="~/Content/css/FrontEnd/css/option6.css" rel="stylesheet" />
    <link href="~/Content/NewfrontEnd/image/catalog/cart.png" />
    <link href="~/Content/FrontEnd/css/mastercss.css" rel="stylesheet" />
    <link href="~/Content/css/FrontEnd/css/autocomplete.css" rel="stylesheet" />
    <script src="~/Content/NewfrontEnd/catalog/view/javascript/inspire/custom.js" type="text/javascript"></script>
    <script src="~/Content/NewfrontEnd/catalog/view/javascript/jquery/swiper/js/owl.carousel.min.js" type="text/javascript"></script>
    <script src="~/Content/NewfrontEnd/catalog/view/javascript/jquery/swiper/js/swiper.jquery.js" type="text/javascript"></script>
    <script src="~/Content/NewfrontEnd/catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js" type="text/javascript"></script>
    <script src="~/Content/NewfrontEnd/catalog/view/javascript/jquery/inspirequickview.js" type="text/javascript"></script>
    <script src="~/Content/NewfrontEnd/catalog/view/javascript/jquery/inspirenewsletter.js" type="text/javascript"></script>
    <script src="~/Content/NewfrontEnd/catalog/view/javascript/common.js" type="text/javascript"></script>
    @*<script src="//code.jquery.com/jquery-1.10.2.js"></script>*@
    @*<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@

    @RenderSection("header", false)
</head>
<body>
    <nav id="top">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-xs-7 header-social">
                    <div class="header-social">
                        <div class="socials-block">
                            <ul>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="top-links" class="col-sm-7 col-xs-5 text-right">
                    <ul class="list-inline pull-left toplocaton"></ul>
                    <ul class="list-inline pull-right">
                        <li class="hidden-sm usernotloggedin">
                            <b data-toggle="modal" id="btnFrontUserLogin" data-target="#SignUpSignInModel" style="cursor:pointer;">Signin/Signup</b>
                        </li>
                        <li class="dropdown hidden userloggedin">
                            <a href="#" title="My Account" class="dropdown-toggle userloggedin" data-toggle="dropdown"><i class="fa fa-user hidden-md hidden-lg hidden-sm"></i><span class="hidden-xs">My Account</span>&nbsp;<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu dropdown-menu-right userdown userloggedin">
                                <li><a href="/UserProfile/UserProfile"><i class="fa fa-user"></i> My Profile</a></li>
                                <li><a href="/UserProfile/OrderList"> <i class="fa fa-address-book-o"></i> Order</a></li>
                                <li><a href="#" id="frontlogout" title="Logout"> <i class="fa fa-power-off"></i> <span> Logout</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div id="logo">
                        <a href="/">
                            <img src="~/Content/NewfrontEnd/image/catalog/logo-2.png" title="Shopping Hub" alt="Shopping Hub" class="img-responsive" style="margin-top: -37px;" />
                            <p class="poweredby">Powered by Richa Group</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-7 co-sm-6 col-xs-12 xsse">
                    <div id="Xyx">
                        <div class="search-container">
                            <div class="search-box input-group">
                                <input type="text" name="topsearch" id="topsearch" value="" placeholder="Search by product name" class="form-control input-lg insp-search txtsearchproduct">
                                <span class="searchwaiting hidden" style="color: #ff6795;position: absolute;margin: 10px 0px 0px -100px;z-index: 99;">fetching&nbsp;<i class="fa fa-spinner fa-pulse"></i></span>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btnTopSearchActive" id="btn-search-category"><i class="fa fa-search topsearchicon"></i></button>
                                </span>
                            </div>
                            @*<div class="search-box input-group" style="display: block!important;">
                                    <input type="text" name="search" id="txtSearchProduct" placeholder="Search by product name" class="form-control input-lg" style="height:40px!important;border-top-right-radius: 3px;border-bottom-right-radius: 3px;" />
                                    <span class="searchwaiting hidden" style="color: #ff6795;position: absolute;margin: 10px 0px 0px -100px;z-index: 99;">fetching&nbsp;<i class="fa fa-spinner fa-pulse"></i></span>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" id="btn-search-category"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>*@
                            <div class="insp-search-result hidden"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-3 text-right xs-cart">
                    <a href="#" class="hidden-sm hidden-xs hidden-md">
                        <img src="~/Content/NewfrontEnd/image/catalog/icon-call.png" />
                        <div class="cartco"><span>Call us:</span><br><span id="cart-total">0000000000</span></div>
                    </a>
                    <div id="cart" class="btn-group popupcartshow">
                        <a href="#" title="My Cart" class="action showcart" data-toggle="modal" data-target="#mycart">
                            <img src="~/Content/NewfrontEnd/image/catalog/carti.png" />
                            <div class="cartco">
                                <span>My cart</span>
                                <br>
                                <span id="cart-total">
                                    <span class="cartcount cartcounter">0</span>₹ <span id="cartprice">0.00</span>
                                </span>
                            </div>
                        </a>
                        @*<button data-toggle="dropdown" data-loading-text="Loading..." class="dropdown-toggle">
                                <img src="~/Content/NewfrontEnd/image/catalog/carti.png" />
                                <div class="cartco">
                                    <span>My cart</span>
                                    <br>
                                    <span id="cart-total">
                                        <span class="cartcount cartcounter">0</span>2500.00
                                    </span>
                                </div>
                            </button>*@
                        @*<ul class="dropdown-menu pull-right">
                                <li>
                                    <p class="text-center">Your shopping cart is empty!</p>
                                </li>
                            </ul>*@
                    </div>

                </div>
            </div>
        </div>
    </header>
    <div class="allmenu">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <div class="hidden-xs">
                        <div id="wr-menu">
                            <button class="btn-block text-left" type="button" data-target="#all-menu" data-toggle="collapse">
                                <i class="fa fa-bars"></i>
                                <span class="cate">Categories</span>
                            </button>
                        </div>
                        <div id="all-menu" class="collapse showmenubar">
                            <nav id="menu" class="navbar">
                                <div class="navbar-header">
                                    <span id="category" class="visible-xs">Categories</span>
                                    <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
                                </div>
                                <div class="collapse navbar-collapse navbar-ex1-collapse">
                                    @Html.Action("MenuCatSubCat", "Default")
                                </div>
                            </nav>
                        </div>
                    </div>

                    <div class="hidden-sm hidden-md hidden-lg">
                        <nav id="menu" class="navbar">
                            <div class="navbar-header">
                                <!--<span id="category" class="visible-xs">Categories</span> -->
                                <button type="button" class="btn btn-navbar" onclick="openNav()" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
                            </div>

                            <div id="mySidenav" class="sidenav">
                                <div class="close-nav">
                                    <span class="categories">Category</span>
                                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa fa-close"></i></a>
                                </div>
                                <div class="collapse navbar-collapse navbar-ex1-collapse">
                                    @Html.Action("MobileMenuCatSubCat", "Default")
                                </div>
                            </div>
                        </nav>
                    </div>
                    <script type="text/javascript">
                        function headermenu() {
                            if (jQuery(window).width() < 768) {
                                jQuery('ul.nav li.dropdown a.header-menu').attr("data-toggle", "dropdown");
                            }
                            else {
                                jQuery('ul.nav li.dropdown a.header-menu').attr("data-toggle", "");
                            }
                        }
                        $(document).ready(function () { headermenu(); });
                        jQuery(window).resize(function () { headermenu(); });
                        jQuery(window).scroll(function () { headermenu(); });
                    </script>
                </div>
                <div class="col-md-9 col-sm-8">
                    <ul class="list-inline static-menu hidden-xs">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Specials</a></li>
                        <li><a href="#">Site Map</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="page-preloader" class="visible">
        <div class="preloader">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div class="foot-top">
            <div class="container">
                <div>
                    <div class="slide-padding">
                        <div class="service">
                            <div class="row">
                                <ul class="col-xs-12 col-sm-3 col-md-3 list-inline">
                                    <li class="se1 text-xs-left">
                                        <h4>special gift cards</h4>
                                        <p>give a perfect gift</p>
                                    </li>
                                </ul>
                                <ul class="col-xs-12 col-sm-3 col-md-3 sborder list-inline">
                                    <li class="se1  text-xs-left">
                                        <h4>secure payment</h4>
                                        <p>100% secure payment</p>
                                    </li>
                                </ul>
                                <ul class="col-xs-12 col-sm-3 col-md-3 sborder list-inline">
                                    <li class="se1  text-xs-left">
                                        <h4>24/7 support</h4>
                                        <p>online support 24/7</p>
                                    </li>
                                </ul>
                                <ul class="col-xs-12 col-sm-3 col-md-3 sborder list-inline">
                                    <li class="se1  text-xs-left">
                                        <h4>free shipping</h4>
                                        <p>on order over</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <aside id="column-left1" class="col-sm-3">
                    <div>
                        <h5>
                            <span>Contact us</span>
                            <button type="button" class="btn btn-primary toggle collapsed" data-toggle="collapse" data-target="#contact"></button>
                        </h5>
                        <div id="contact" class="collapse footer-collapse footcontact">
                            <ul class="list-unstyled f-left">
                                <li><i class="fa fa-map-marker"></i>New Delhi,Delhi,India </li>
                                <li><i class="fa fa-envelope"></i>VocalGoLocal@gmail.com</li>
                                <li><i class="fa fa-phone"></i>(+91) - 123456789 </li>
                                <li>
                                    <i class="fa fa-print" aria-hidden="true"></i> &nbsp;
                                    fax@company.com
                                </li>
                            </ul>
                            <!--<ul class="list-inline list-unstyled foot-social">
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                              <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>-->
                        </div>
                    </div>

                </aside>

                <div class="col-sm-6">
                    <div class="row">
                        <div class="middle-footer">
                            <div class="col-sm-4">
                                <h5>
                                    Extras
                                    <button type="button" class="btn btn-primary toggle collapsed" data-toggle="collapse" data-target="#extra"></button>
                                </h5>
                                <div id="extra" class="collapse footer-collapse">
                                    <ul class="list-unstyled">
                                        <li><a href="#">Brands</a></li>
                                        <li><a href="#">Gift Certificates</a></li>
                                        <li><a href="#">Affiliate</a></li>
                                        <li><a href="#">Specials</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <h5>
                                    Information
                                    <button type="button" class="btn btn-primary toggle collapsed" data-toggle="collapse" data-target="#info"></button>
                                </h5>
                                <div id="info" class="collapse footer-collapse">
                                    <ul class="list-unstyled">
                                        <li><a href="#">About Us</a></li>
                                        <li><a href="#">Delivery Information</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                        <li><a href="#">Terms &amp; Conditions</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">Site Map</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <h5>
                                    My Account
                                    <button type="button" class="btn btn-primary toggle collapsed" data-toggle="collapse" data-target="#account"></button>
                                </h5>
                                <div id="account" class="collapse footer-collapse">
                                    <ul class="list-unstyled lastb">
                                        <li><a href="#">My Account</a></li>
                                        <li><a href="#">Order History</a></li>
                                        <li><a href="#">Wish List</a></li>
                                        <li><a href="#">Newsletter</a></li>
                                        <li><a href="#">Returns</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <aside id="column-right1" class="col-sm-3">
                    <div class="inspire-newsletter  inspire-newsletter" id="newsletter_1591084292" data-mode="default">
                        <form id="formNewLestter" method="post" action="" class="formNewLestter newsletter-bg">
                            <div class="inner">
                                <div class="">
                                    <h3>Newsletter</h3>
                                    <div class="description-top">
                                        <p>
                                            Sign up for our newsletter

                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <div class="fnews">
                                        <div class="form-group">
                                            <input type="text" class="form-control input-md inputNew" onblur="javascript:if(this.value=='')this.value='Your email address';" onfocus="javascript:if(this.value=='Your email address')this.value='';" value="Your email address" size="18" name="email">
                                        </div>
                                        <div class="button-submit">
                                            <button type="submit" name="submitNewsletter" class="btn btn-block">Subscribe</button>
                                        </div>
                                        <input type="hidden" value="1" name="action">
                                        <div class="valid"></div>
                                        <div class="description-bottom">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </aside>

            </div>
        </div>
        <div class="container">
            <div class="foot-bottom">
                <div>
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-4 col-xs-12">
                            <ul class="list-inline list-unstyled foot-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12">
                        </div>
                        <div class="col-md-4 col-sm-3 col-xs-12 foot-pay text-right">
                            <img class="img-responsive pull-right" src="~/Content/NewfrontEnd/image/catalog/payment.png" alt="imgpayment">
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="foot-power">
            <div class="container">
                <div class="copy text-center">Powered By VocalGoLocal &copy; 2020</div>
            </div>
        </div>
    </footer>

    <div class="modal fade" id="mycart" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom:none!important;">
                    <button type="button" class="close popupcartclose" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" style="padding: 15px !important;">
                    <div id="dvUpdateCart">
                        <div class="row" id='detailsofcart'><div class="col-sm-12" style="padding-bottom: 25px;text-align: center;"><h3>Your basket is empty. Start shopping now!</h3></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-info btn-lg addprodincart hidden" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#AddProdtInCart"></button>
    <div class="modal fade" id="AddProdtInCart" role="dialog">
        <div class="modal-dialog modal-sm" style="margin:15% auto!important;">
            <!-- Modal content-->
            <div class="modal-content" style="text-align: center;border-radius: 5px !important;">
                <div class="modal-body" style="height:0px!important;">
                    <img src="~/Content/image/cart-loading.gif" />
                </div>
                <div class="modal-footer hidden">
                    <button type="button" class="btn btn-danger hidden closeaddprodincart" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-info btn-lg locationbtnpopup hidden" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#locationModel"></button>
    <div id="locationModel" class="modal fade" role="dialog" style="background: #cccccc61;">
        <div class="modal-dialog" style="width: 595px;margin: 128px auto;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <img src="~/Content/NewfrontEnd/image/catalog/logo-2.png" title="Shopping Hub" alt="Shopping Hub" class="img-responsive center-block" style="width: 300px;" />
                            <p class="poweredby text-center">Powered by Richa Group</p>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-8 col-lg-offset-2">
                                <div class="col-sm-12 form-group form-validation">
                                    @*<p>Select State to Find best Product Near you</p>
                                        <select class="form-control3" id="ddlhomestate" name="state"></select>*@
                                    <p>Please enter pincode to Find best Product Near by you</p>
                                    <input id="txtPincodeInput" class="form-control3 text-center" value="" style="font-weight: bold;font-size: 30px;" type="text" maxlength="6" min="0"  max="6" placeholder="Enter Pin Code" onkeypress="return OnlyNumberKey(event);" />
                                </div>
                                <div class="col-sm-12 form-group">
                                    <button class="btn btn-warning center-block selectedstateclick">Go <span class="fa fa-long-arrow-right"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <a href="#" id="scroll" title="Scroll to Top" style="display: block;">
        <i class="fa fa-angle-up"></i>
    </a>

    <script src="~/Content/NewfrontEnd/js/newmasterjs.js"></script>
    <script src="~/Content/Common/js/common.js"></script>

    @RenderSection("footer", false)
</body>
</html>
@Html.Action("SignUp", "Default")