﻿@model ecommerce.Models.Backend.Dashboard.DashboardOrders

<div class="col-md-12 col-sm-12 isshowusertype">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-inr"></i>&nbsp;Supplier's Income</h2>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 purple" href="#" target="_blank">
                    <div class="visual">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@Model.IncomeModel.TotalIncome"><i class="fa fa-inr"></i> @Model.IncomeModel.TotalIncome</span>
                        </div>
                        <div class="desc">Total  </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 green" href="#" target="_blank">
                    <div class="visual">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@Model.IncomeModel.TodaYIncome"><i class="fa fa-inr"></i> @Model.IncomeModel.TodaYIncome</span>
                        </div>
                        <div class="desc"> Today</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                <a class="dashboard-stat dashboard-stat-v2 red" href="#" target="_blank">
                    <div class="visual">
                        <i class="fa fa-bar-chart-o"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@Model.IncomeModel.MonthIncome"><i class="fa fa-inr"></i> @Model.IncomeModel.MonthIncome</span>
                        </div>
                        <div class="desc"> This Month </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 blue" href="#" target="_blank">
                    <div class="visual">
                        <i class="fa fa-comments"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@Model.IncomeModel.YearIncome"><i class="fa fa-inr"></i> @Model.IncomeModel.YearIncome</span>
                        </div>
                        <div class="desc"> This Year </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12 isshowusertype">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-user"></i>&nbsp;Supplier's Registration Details</h2>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 purple" href="#" target="_blank">
                    <div class="visual">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@Model.SuplierCountModel.TotalSuplier"><i class="fa fa-user"></i> @Model.SuplierCountModel.TotalSuplier</span>
                        </div>
                        <div class="desc">Total  </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 green" href="#" target="_blank">
                    <div class="visual">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@Model.SuplierCountModel.TodaySuplier"><i class="fa fa-user"></i> @Model.SuplierCountModel.TodaySuplier</span>
                        </div>
                        <div class="desc"> Today </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                <a class="dashboard-stat dashboard-stat-v2 red" href="#" target="_blank">
                    <div class="visual">
                        <i class="fa fa-bar-chart-o"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@Model.SuplierCountModel.MonthSuplier"><i class="fa fa-user"></i> @Model.SuplierCountModel.MonthSuplier</span>
                        </div>
                        <div class="desc"> This Month </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 blue" href="#" target="_blank">
                    <div class="visual">
                        <i class="fa fa-comments"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@Model.SuplierCountModel.YearSuplier"><i class="fa fa-user"></i> @Model.SuplierCountModel.YearSuplier</span>
                        </div>
                        <div class="desc"> This Year </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12 isshowusertype">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-user"></i>&nbsp;User's Registration Details</h2>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 purple" href="#" target="_blank">
                    <div class="visual">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@Model.UserCountModel.TotalUser"><i class="fa fa-user"></i> @Model.UserCountModel.TotalUser</span>
                        </div>
                        <div class="desc">Total  </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 green" href="#" target="_blank">
                    <div class="visual">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@Model.UserCountModel.TodayUser"><i class="fa fa-user"></i> @Model.UserCountModel.TodayUser</span>
                        </div>
                        <div class="desc"> Today </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

                <a class="dashboard-stat dashboard-stat-v2 red" href="#" target="_blank">
                    <div class="visual">
                        <i class="fa fa-bar-chart-o"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@Model.UserCountModel.MonthUser"><i class="fa fa-user"></i> @Model.UserCountModel.MonthUser</span>
                        </div>
                        <div class="desc"> This Month </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <a class="dashboard-stat dashboard-stat-v2 blue" href="#" target="_blank">
                    <div class="visual">
                        <i class="fa fa-comments"></i>
                    </div>
                    <div class="details">
                        <div class="number">
                            <span data-counter="counterup" data-value="@Model.UserCountModel.YearUser"><i class="fa fa-user"></i> @Model.UserCountModel.YearUser</span>
                        </div>
                        <div class="desc"> This Year </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

@if (Model.PendingOrderList != null && Model.PendingOrderList.Count > 0)
{
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2><i class="fa fa-list-ul"></i>&nbsp;Pending Orders</h2>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-right">
                            <a href="/product-order-history/pending-order">
                                <i class="icon-globe font-dark hide"></i>
                                <span class="btn btn-warning btn-sm pull-right" style="color:#fff;"> Read All</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row col-sm-12">
                    @if (Model.PendingOrderList != null && Model.PendingOrderList.Count > 0)
                    {
                        <div class="table-responsive text-nowrap">
                            <table class="table table-responsive table-hover table-bordered table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th>
                                            S.No
                                        </th>
                                        <th>
                                            Image
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            Order
                                        </th>

                                        <th>
                                            Product Name
                                        </th>
                                        <th>
                                            Quantity
                                        </th>
                                        <th>
                                            Sub&nbsp;Total
                                        </th>
                                        <th>
                                            Delivery Charges
                                        </th>
                                        <th>
                                            Grand Total
                                        </th>
                                        <th>
                                            Payment Mode
                                        </th>
                                        <th>
                                            Supplier
                                        </th>
                                        <th>
                                            Status
                                        </th>

                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var penItem in Model.PendingOrderList)
                                    {
                                        <tr>
                                            <td>
                                                @penItem.SrNo
                                            </td>
                                            <td>
                                                <img src="@penItem.Image" style="width:50px;" />
                                            </td>
                                            <td>
                                                <span> @penItem.OrderDate</span>
                                            </td>
                                            <td>
                                                @penItem.OrderNo
                                            </td>
                                            <td>
                                                @penItem.ProductName
                                                @*<a href="#" data-toggle="popover" title="" data-content="house no 41" data-original-title="Delivery Address"> RABI CHOUDHURY</a>*@
                                            </td>
                                            <td>
                                                @penItem.Quantity
                                            </td>
                                            <td>
                                                ₹ @penItem.SubTotal
                                            </td>
                                            <td>
                                                ₹ @penItem.DeliveryCharges
                                            </td>
                                            <td>
                                                ₹ @penItem.GrandTotal
                                            </td>
                                            <td>
                                                @penItem.PaymentMode
                                            </td>
                                            <td>
                                                @penItem.SupplierName
                                            </td>
                                            <td>
                                                <select id="status" class="form-control" style="width: 110px !important;font-size: 0.8rem!important;">
                                                    <option>Pending</option>
                                                    <option>Delivered</option>
                                                    <option>Cancel</option>
                                                </select>
                                            </td>
                                            <td class="btn-group">
                                                <a class="btn btn-primary btn-sm" href="#" target="_blank"><span class="glyphicon glyphicon-fullscreen"></span></a>
                                                <a href="#" class="btn btn-warning btn-sm" target="_blank" data-toggle="tooltip" title="Invoice Print"><span class="glyphicon glyphicon-print"></span></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@if (Model.DeliverdOrderList != null && Model.DeliverdOrderList.Count > 0)
{
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2><i class="fa fa-list-ul"></i>&nbsp;Delivered Orders</h2>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-right">
                            <a href="/product-order-history/delivered-order">
                                <i class="icon-globe font-dark hide"></i>
                                <span class="btn btn-warning btn-sm pull-right" style="color:#fff;"> Read All</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row col-sm-12">
                    <div class="table-responsive text-nowrap">
                        <table class="table table-responsive table-hover table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>
                                        S.No
                                    </th>
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Order
                                    </th>

                                    <th>
                                        Product Name
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Sub&nbsp;Total
                                    </th>
                                    <th>
                                        Delivery Charges
                                    </th>
                                    <th>
                                        Grand Total
                                    </th>
                                    <th>
                                        Payment Mode
                                    </th>
                                    <th>
                                        Supplier
                                    </th>
                                    <th>
                                        Status
                                    </th>

                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var penItem in Model.DeliverdOrderList)
                                {
                                    <tr>
                                        <td>
                                            @penItem.SrNo
                                        </td>
                                        <td>
                                            <img src="@penItem.Image" style="width:50px;" />
                                        </td>
                                        <td>
                                            <span> @penItem.OrderDate</span>
                                        </td>
                                        <td>
                                            @penItem.OrderNo
                                        </td>
                                        <td>
                                            @penItem.ProductName
                                        </td>
                                        <td>
                                            @penItem.Quantity
                                        </td>
                                        <td>
                                            ₹ @penItem.SubTotal
                                        </td>
                                        <td>
                                            ₹ @penItem.DeliveryCharges
                                        </td>
                                        <td>
                                            ₹ @penItem.GrandTotal
                                        </td>
                                        <td>
                                            @penItem.PaymentMode
                                        </td>
                                        <td>
                                            @penItem.SupplierName
                                        </td>
                                        <td>
                                            @penItem.OrderStatus
                                        </td>
                                        <td class="btn-group">
                                            <a class="btn btn-primary btn-sm" href="#" target="_blank"><span class="glyphicon glyphicon-fullscreen"></span></a>
                                            <a href="#" class="btn btn-warning btn-sm" target="_blank" data-toggle="tooltip" title="Invoice Print"><span class="glyphicon glyphicon-print"></span></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.CancelledOrderList != null && Model.CancelledOrderList.Count > 0)
{
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2><i class="fa fa-list-ul"></i>&nbsp;Cancelled Orders</h2>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-right">
                            <a href="/product-order-history/cancelled-order">
                                <i class="icon-globe font-dark hide"></i>
                                <span class="btn btn-warning btn-sm pull-right" style="color:#fff;"> Read All</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row col-sm-12">
                    <div class="table-responsive text-nowrap">
                        <table class="table table-responsive table-hover table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>
                                        S.No
                                    </th>
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        Date
                                    </th>
                                    <th>
                                        Order
                                    </th>

                                    <th>
                                        Product Name
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Sub&nbsp;Total
                                    </th>
                                    <th>
                                        Delivery Charges
                                    </th>
                                    <th>
                                        Grand Total
                                    </th>
                                    <th>
                                        Payment Mode
                                    </th>
                                    <th>
                                        Supplier
                                    </th>
                                    <th>
                                        Status
                                    </th>

                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var penItem in Model.CancelledOrderList)
                                {
                                    <tr>
                                        <td>
                                            @penItem.SrNo
                                        </td>
                                        <td>
                                            <img src="@penItem.Image" style="width:50px;" />
                                        </td>
                                        <td>
                                            <span> @penItem.OrderDate</span>
                                        </td>
                                        <td>
                                            @penItem.OrderNo
                                        </td>
                                        <td>
                                            @penItem.ProductName
                                        </td>
                                        <td>
                                            @penItem.Quantity
                                        </td>
                                        <td>
                                            ₹ @penItem.SubTotal
                                        </td>
                                        <td>
                                            ₹ @penItem.DeliveryCharges
                                        </td>
                                        <td>
                                            ₹ @penItem.GrandTotal
                                        </td>
                                        <td>
                                            @penItem.PaymentMode
                                        </td>
                                        <td>
                                            @penItem.SupplierName
                                        </td>
                                        <td>
                                            @penItem.OrderStatus
                                        </td>
                                        <td class="btn-group">
                                            <a class="btn btn-primary btn-sm" href="#" target="_blank"><span class="glyphicon glyphicon-fullscreen"></span></a>
                                            <a href="#" class="btn btn-warning btn-sm" target="_blank" data-toggle="tooltip" title="Invoice Print"><span class="glyphicon glyphicon-print"></span></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}