﻿@model ecommerce.Models.Backend.Dashboard.DashboardOrders

@{
    ViewBag.Title = "AllPendingOrderList";
    Layout = "~/Views/Shared/_BackendLayoutPage.cshtml";
}

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-list-ul"></i>&nbsp;All Orders</h2>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row col-sm-12">
                <div class="table-responsive text-nowrap">
                    <table class="table table-responsive table-hover table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    S.No
                                </th>
                                <th>
                                    Image
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    Order
                                </th>

                                <th>
                                    Product Name
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Sub&nbsp;Total
                                </th>
                                <th>
                                    Delivery Charges
                                </th>
                                <th>
                                    Grand Total
                                </th>
                                <th>
                                    Payment Mode
                                </th>
                                <th>Supplier</th>
                                <th>
                                    Status
                                </th>

                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.DashboardOrdersList != null && Model.DashboardOrdersList.Count > 0)
                            {
                                foreach (var penItem in Model.DashboardOrdersList)
                                {
                                    <tr>
                                        <td>
                                            @penItem.SrNo
                                        </td>
                                        <td>
                                            <img src="@penItem.Image" style="width:50px;" />
                                        </td>
                                        <td>
                                            <span> @penItem.OrderDate</span>
                                        </td>
                                        <td>
                                            @penItem.OrderNo
                                        </td>
                                        <td>
                                            @penItem.ProductName
                                        </td>
                                        <td>
                                            @penItem.Quantity
                                        </td>
                                        <td>
                                            ₹ @penItem.SubTotal
                                        </td>
                                        <td>
                                            ₹ @penItem.DeliveryCharges
                                        </td>
                                        <td>
                                            ₹ @penItem.GrandTotal
                                        </td>
                                        <td>
                                            @penItem.PaymentMode
                                        </td>
                                        <td>
                                            @penItem.SupplierName
                                        </td>
                                        <td>
                                            @penItem.OrderStatus
                                        </td>
                                        <td class="btn-group">
                                            <a class="btn btn-primary btn-sm" href="#" target="_blank"><span class="glyphicon glyphicon-fullscreen"></span></a>
                                            <a href="#" class="btn btn-warning btn-sm" target="_blank" data-toggle="tooltip" title="Invoice Print"><span class="glyphicon glyphicon-print"></span></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="13"><h4 class="text-center text-danger">No record found !</h4></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>