﻿
@{
    ViewBag.Title = "OrderListUser";
    Layout = "~/Views/Shared/_FrontMaster.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12" style="margin-top: 21px;">
            <div class="table-responsive">
                <table class="table table-responsive table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th style="width:300px">Shopping Cart</th>
                            <th class="text-center">Rate</th>
                            <th class="text-center">Unit</th>
                            <th class="text-center">Total</th>
                            <th class="text-center">Staus</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="Row1" class="text-center">
                            <td>
                                <img src="~/Content/image/Rice1.jpg" class="img-responsive center-block" style="width: auto; height: 100px;">
                            </td>
                            <td>
                                Rice (05232)
                            </td>
                            <td>
                                <span>100.00</span>
                            </td>
                            <td>
                                10 kg
                            </td>

                            <td>
                                <span>Rs 1000.00</span>
                            </td>
                            <td>
                                <span class="text-success">Your item has been shipped.</span>
                            </td>
                        </tr>
                    </tbody>                    
                </table>
            </div>
        </div>
    </div>
</div>

