﻿@model ecommerce.Models.Backend.BackendLogin

@{
    ViewBag.Title = "SupplierList";
    Layout = "~/Views/Shared/_BackendLayoutPage.cshtml";
}

<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><i class="fa fa-list"></i>&nbsp;Supplier Member List</h2>
                </div>
                <div class="col-sm-6">
                    <div class="text-right">
                        <a href="/member-master/add-new-member" class="btn btn-primary btn-sm"><span class="fa fa-plus-circle" style="color:#fff!important;"></span>&nbsp;Add New Member</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box table-responsive">
                        @if (Model.MemberList != null && Model.MemberList.Count() > 0)
                        {
                            <div class="row input-group col-sm-4">
                                <input type="text" class="form-control" id="txtMemberSearch" placeholder="Search by supplier name">
                            </div>
                        }
                        <div class="clearfix"></div>
                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                            <thead>
                                <tr style="background:#f6f6f6;">
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Mobile</th>
                                    <th>State</th>
                                    <th>City</th>
                                    <th>Area</th>
                                    <th>PinCode</th>
                                    <th>Type</th>
                                    <th>Reg.&nbsp;Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.MemberList != null && Model.MemberList.Count() > 0)
                                {
                                    foreach (var item in Model.MemberList)
                                    {
                                        <tr class="memberlistcss" data-membername="@(item.FirstName + " " +item.LastName)">
                                            <td>@(item.FirstName + " " +item.LastName)</td>
                                            <td>@item.EmailId</td>
                                            <td>@item.MobileNo</td>
                                            <td>@item.StateName</td>
                                            <td>@item.CityName</td>
                                            <td>@item.AreaName</td>
                                            <td>@item.PinCode</td>
                                            <td>@item.UserType</td>
                                            <td>@item.CreatedDate</td>
                                            <td>
                                                <a href="/member-master/add-new-member?memberid=@item.LoginId" class="btn btn-success btn-sm" data-toggle="Edit" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                                <span id="deletemember_@item.LoginId" style="cursor: pointer;" data-memberid="@item.LoginId" class="btn btn-danger btn-sm deletemember" data-toggle="InActive" title="InActive"><span class="fa fa-trash"></span></span>
                                            </td>
                                        </tr>
                                    }
                                    <tr class="norecordfound hidden">
                                        <td colspan="7" class="text-center text-danger">No record found !</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7" class="text-center text-danger">No record found !</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="custommodal">
    <button type="button" class="btn btn-info btn-lg dodelete hidden" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#DeleteModel"></button>
</div>

@section footer{
    <script src="~/Content/BackEnd_Section/ControlJs/supplierregistration.js"></script>
}