﻿@model ecommerce.Models.Backend.BackendLogin

@{
    ViewBag.Title = "SupplierRegistration";
    Layout = "~/Views/Shared/_BackendLayoutPage.cshtml";
}

@section header{
    <link href="~/Content/Common/css/commoncss.css" rel="stylesheet" />
}

<div class="col-md-12">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-dashboard"></i>&nbsp;Supplier Registration</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="close-link" href="/member-master/member-list"><i class="fa fa-reply"></i>&nbsp;Member List</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-sm-12">
                <div class="row">
                    <input id="hdnMemberId" type="hidden" value="@Model.LoginId" />
                    <div class="col-sm-12">
                        <div class="row form-group">
                            <div class="col-md-2">
                                First Name <span class="required">*</span>
                            </div>
                            <div class="col-md-4 form-validation">
                                @Html.TextBoxFor(p => p.FirstName, new { @class = "form-control", placeholder = "enter first name" })
                            </div>
                            <div class="col-md-2">
                                Last Name <span class="required">*</span>
                            </div>
                            <div class="col-md-4 form-validation">
                                @Html.TextBoxFor(p => p.LastName, new { @class = "form-control", placeholder = "enter last name" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                Email <span class="required">*</span>
                            </div>
                            <div class="col-md-4 form-validation">
                                @Html.TextBoxFor(p => p.EmailId, new { @class = "form-control", placeholder = "enter email id" })
                            </div>
                            <div class="col-md-2">
                                Mobile No <span class="required">*</span>
                            </div>
                            <div class="col-md-4 form-validation">
                                @Html.TextBoxFor(p => p.MobileNo, new { @class = "form-control", placeholder = "enter mobile number", maxlength = "10", min = "1", max = "10", onkeypress = "return OnlyNumberKey(event);" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                Address <span class="required">*</span>
                            </div>
                            <div class="col-md-4 form-validation">
                                @Html.TextAreaFor(p => p.Address, new { @class = "form-control", placeholder = "enter address" })
                            </div>
                            <div class="col-md-2">
                                Pin Code <span class="required">*</span>
                            </div>
                            <div class="col-md-4 form-validation">
                                @Html.TextBoxFor(p => p.PinCode, new { @class = "form-control", placeholder = "enter pin code", maxlength = "6", min = "0", max = "6", onkeypress = "return OnlyNumberKey(event);" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                Country <span class="required">*</span>
                            </div>
                            <div class="col-md-4 form-validation">
                                @Html.DropDownListFor(m => m.CountryId, Model.CountryList, "-- Select Country --", new { @class = "form-control", @onchange = "FillState()" })
                            </div>
                            <div class="col-md-2">
                                State <span class="required">*</span>
                            </div>
                            <div class="col-md-4 form-validation">
                                @Html.DropDownListFor(m => m.StateId, Model.StateList, "-- Select State --", new { @class = "form-control ", @onchange = "FillCity()" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                City <span class="required">*</span>
                            </div>
                            <div class="col-md-4 form-validation">
                                @*@Html.TextBoxFor(p => p.City, new { @class = "form-control", placeholder = "enter city name" })*@
                                @Html.DropDownListFor(m => m.CityId, Model.CityList, "-- Select City --", new { @class = "form-control " })
                            </div>
                            @*<div class="col-md-2">
                                    Image
                                </div>
                                <div class="col-md-4">
                                    <input id="fluProfileImage" name="fluProfileImage" type="file" />
                                </div>*@
                            <div class="col-md-2">
                                Area Name <span class="required">*</span>
                            </div>
                            <div class="col-md-4 form-validation">
                                @Html.TextBoxFor(p => p.AreaName, new { @class = "form-control", placeholder = "enter area name" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                D.O.B
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(p => p.DOB, new { @class = "form-control", placeholder = "DD/MM/YYYY" })
                            </div>
                        </div>
                        @*<div class="row form-group">
                                <div class="col-md-2">
                                    Profession
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(p => p.Profession, new { @class = "form-control", placeholder = "enter profession" })
                                </div>

                            </div>*@
                        <h5><b> Document Details</b></h5>
                        <hr>
                        <div class="row form-group">
                            <div class="col-md-2">
                                Adhar No <span class="required">*</span>
                            </div>
                            <div class="col-md-4 form-validation">
                                @Html.TextBoxFor(p => p.AddharNo, new { @class = "form-control", placeholder = "enter addhar number" })
                            </div>
                            <div class="col-md-2">
                                PAN No <span class="required">*</span>
                            </div>
                            <div class="col-md-4 form-validation">
                                @Html.TextBoxFor(p => p.PanNo, new { @class = "form-control", placeholder = "enter pan number" })
                            </div>
                        </div>
                        @*<div class="row form-group">
                                <div class="col-md-2">
                                    Adhar Upload <span class="required">*</span>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input id="fluAdharUpload" name="fluAdharUpload" type="file" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    PAN Upload <span class="required">*</span>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <input id="fluPANUpload" name="fluPANUpload" type="file" />
                                    </div>
                                </div>
                            </div>*@
                        <h5><b> Bank Details</b></h5>
                        <hr>
                        <div class="row form-group">
                            <div class="col-md-2">
                                Bank Name
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    @Html.TextBoxFor(p => p.BankName, new { @class = "form-control", placeholder = "enter bank name" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                Account No
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    @Html.TextBoxFor(p => p.AccountNo, new { @class = "form-control", placeholder = "enter account number" })
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                Branch Code
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    @Html.TextBoxFor(p => p.BranchName, new { @class = "form-control", placeholder = "enter branch name" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                IFSC Code
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    @Html.TextBoxFor(p => p.IFSCCode, new { @class = "form-control", placeholder = "enter ifsc code" })
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-2">
                                Bank Address
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    @Html.TextBoxFor(p => p.BankAddress, new { @class = "form-control", placeholder = "enter bank address" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                Payee Name
                            </div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    @Html.TextBoxFor(p => p.PayeeName, new { @class = "form-control", placeholder = "enter payee name" })
                                </div>
                            </div>
                        </div>
                        <h5><b> Login Details</b></h5>
                        <hr>
                        <div class="row form-group">
                            <div class="col-md-2">
                                Login ID <span class="required">*</span>
                            </div>
                            <div class="col-md-4 form-validation">
                                @Html.TextBoxFor(p => p.UserId, new { @class = "form-control", placeholder = "enter login id", @onkeyup = "CheckUserId()" })
                                <span class="pull-right text-danger hidden useridexist"></span>
                            </div>
                            <div class="col-md-2">
                                Password <span class="required">*</span>
                            </div>
                            <div class="col-md-4 form-validation">
                                @Html.TextBoxFor(p => p.Password, new { @class = "form-control", Type = "password", placeholder = "enter login password" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <button type="submit" id="btnMemRegSubmit" class="btn btn-success pull-right" onclick="return MemRegSubmitEvt();">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer{
    <script src="~/Content/BackEnd_Section/ControlJs/supplierregistration.js"></script>
    <script src="~/Content/Common/js/common.js"></script>
}