﻿@model ecommerce.Models.Frontend.CheckoutModel.Checkout
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_NewFrontMaster.cshtml";
}
<style>
    .boxUser {
        padding: 10px;
        border: 1px solid #ccc;
        margin-top: 12px;
        margin-left: 6px;
    }

    .menufont {
        font-size: 19px;
    }

    .Inforfont {
        font-size: 21px;
    }

    .boxcontaint {
        border: 1px solid #ccc;
        width: 98%;
        margin-left: 15px;
        margin-top: 14px;
    }

    .adressbox {
        border: 1px solid #ccc;
        padding: 5px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-12 boxUser">
                    <div class="col-sm-3">
                        <img src="~/Content/image/user.png" class="img-circle img-responsive" style="width:60px;" />
                    </div>
                    <div class="col-sm-9">
                        <p style="margin-top: 5px;">Hello</p>
                        <p>Saurabh Suman</p>
                    </div>
                </div>
                <div class="col-sm-12 boxUser">
                    <div class="col-sm-12" style="border-bottom: 1px solid #ccc;padding: 10px;">
                        <a class="menufont" href="#"><span class="fa fa-address-book-o menufont"></span>&nbsp; Order <span class="fa fa-angle-right pull-right menufont"></span></a>
                    </div>
                    <div class="col-sm-12" style="border-bottom: 1px solid #ccc;padding: 10px;">
                        <a class="menufont profileinfor" href="#"><span class="fa fa-user menufont"></span>&nbsp; Profile Information <span class="fa fa-angle-right pull-right menufont"></span></a>
                    </div>
                    <div class="col-sm-12" style="border-bottom: 1px solid #ccc;padding: 10px;">
                        <a class="menufont mangaeadd" href="#"><span class="fa fa-address-card-o  menufont"></span>&nbsp; Manage address <span class="fa fa-angle-right pull-right menufont"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-12 prflinfo boxcontaint">
                    <h4 class="text-center Inforfont text-success">Profile Information</h4>
                    <div class="col-sm-12 updateinfo">
                        <button class="btn btn-warning pull-right chngebtn"><span class="fa fa-edit"></span> Change</button>
                    </div>
                    <div class="col-sm-12 updateinfo">
                        <p class="Inforfont">Name: <span>Saurabh Suman</span></p>
                        <p class="Inforfont">Email Id: <span>Sweetsaurav.93@gmail.com</span></p>
                        <p class="Inforfont">Mobile No: <span>9199288931</span></p>
                        <p class="Inforfont">Zender: <span>Male</span></p>
                    </div>
                    <div class="col-sm-12 boxinfo hidden">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>First Name</p>
                                <input type="text" id="fname" class="form-control" placeholder="Enter First Name" />
                            </div>
                            <div class="col-sm-6">
                                <p>Last Name</p>
                                <input type="text" id="lname" class="form-control" placeholder="Enter last Name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Email</p>
                                <input type="text" id="email" class="form-control" placeholder="Enter Email" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Mobile</p>
                                <input type="text" id="phone" class="form-control" placeholder="Enter mobile" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <p>&nbsp;</p>
                                <button class="btn btn-success center-block updatechange">Change</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 boxcontaint mAddrs hidden">
                    <h4 class="text-center Inforfont text-success">Manage Address </h4>
                    <div class="col-sm-12 form-group">
                        <button class="btn btn-primary pull-right changeadd" id="changeaddress" style="margin-top: -5px;"><span class="fa fa-plus-circle"></span> Add New Address</button>
                    </div>
                    <div class="col-sm-12 oldaddress">
                        <div class="row">
                            <div class="col-sm-12 form-group adressbox">
                                <p>Saurabh Suman</p>
                                <p>Bedaul Asli, pachiyari tola, vindshwer niwas, Old Route No NH 77, Runisaidpur Subdistrict, Sitamarhi District, Bihar</p>
                            </div>
                            <div class="col-sm-12 form-group adressbox">
                                <p>Saurabh Kumar</p>
                                <p>Bedaul Asli, pachiyari tola, vindshwer niwas, Old Route No NH 77, Runisaidpur Subdistrict, Sitamarhi District, Bihar</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 newaddchange hidden">
                        <div class="row form-group">
                            <div class="col-sm-6 form-validation">
                                <p>First Name <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                @Html.TextBoxFor(p => p.ShippingAddress.FirstName, new { @class = "form-control", placeholder = "first name" })
                            </div>
                            <div class="col-sm-6 form-validation">
                                <p>Last Name <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                @Html.TextBoxFor(p => p.ShippingAddress.LastName, new { @class = "form-control", placeholder = "last name" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6 form-validation">
                                <p>Email Id <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                @Html.TextBoxFor(p => p.ShippingAddress.EmailId, new { @class = "form-control", placeholder = "email id" })
                            </div>
                            <div class="col-sm-6 form-validation">
                                <p>Moblie <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                @Html.TextBoxFor(p => p.ShippingAddress.MobileNo, new { @class = "form-control", placeholder = "mobile number", @onkeypress = "return OnlyNumberKey(event);" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6 form-validation">
                                <p>Address <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                @Html.TextAreaFor(p => p.ShippingAddress.Address, new { @class = "form-control", rows = "3", placeholder = "address" })
                            </div>
                            <div class="col-sm-6 form-validation">
                                <p>City/District/Town <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                @Html.TextBoxFor(p => p.ShippingAddress.City, new { @class = "form-control", placeholder = "city" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6 form-validation">
                                <p>State <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                <select class="form-control" id="state">
                                    <option value="1">Delhi</option>
                                    <option value="2">Bihar</option>
                                </select>
                                @*@Html.DropDownListFor(m => m.ShippingAddress.StateId, Model.ShippingAddress.StateList, "Select State", new { @class = "form-control" })*@
                            </div>
                            <div class="col-sm-6 form-validation">
                                <p>Pincode <i class="fa fa-star" style="font-size: 10px;color:red;"></i></p>
                                @Html.TextBoxFor(p => p.ShippingAddress.PinCode, new { @class = "form-control", placeholder = "pin code" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <p>Landmark</p>
                                @Html.TextBoxFor(p => p.ShippingAddress.Landmark, new { @class = "form-control", placeholder = "landmark" })
                            </div>
                            <div class="col-sm-6">
                                <p>Alternate Mobile</p>
                                @Html.TextBoxFor(p => p.ShippingAddress.AlternateMobileNo, new { @class = "form-control", placeholder = "alternet mobile" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <p>Address Type</p>
                                Home:  @Html.RadioButtonFor(m => m.ShippingAddress.AddressType, "Home", new { @checked = true })
                                Office:  @Html.RadioButtonFor(m => m.ShippingAddress.AddressType, "Office")
                            </div>                          
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <button class="btn btn-warning" id="btnCheckoutAddAddress">SAVE AND DELIVER HERE</button>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-danger cancel pull-right" id="btnCheckoutCancelAddress">CANCEL</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(".chngebtn").click(function () {
        $(".boxinfo").removeClass("hidden");
        $(".updateinfo").addClass("hidden");
    });
    $(".updatechange").click(function () {
        $(".boxinfo").addClass("hidden");
        $(".updateinfo").removeClass("hidden");
    });
    $(".mangaeadd").click(function () {
        $(".mAddrs").removeClass("hidden");
        $(".prflinfo").addClass("hidden");
    });
    $(".profileinfor").click(function () {
        $(".mAddrs").addClass("hidden");
        $(".prflinfo").removeClass("hidden");
    });
    $(".changeadd").click(function () {
        $(".oldaddress").addClass("hidden");
        $(".newaddchange").removeClass("hidden");
    });
    $(".cancel").click(function () {
        $(".oldaddress").removeClass("hidden");
        $(".newaddchange").addClass("hidden");
    });
</script>